<div class="container-fluid footer">
  <div class="row">
    <div class="col-md-4">
      <div class="text6">
        <h1>Felix-Its</h1>
        <p> Felix-IT System is leading traning and solution
          company offering courses in Design- UI/UX, Mobile 
          technologies like Apple iOS, Google Android Windows 8 
          and Web Technologies like Angularjs React,HTML5 & 
          CSS3 application Development.</p>
        <a routerLink="/placement" routerLinkActive="active">
          <p style="font-size:20px; font-family: Poppins;color: red;">Learn More <i class='fas fa-arrow-right'
              style='font-size:20px'></i></p>
        </a>
      </div>

    </div>
    <div class="col-md-4" >
      <div class="text7">
        <h1>Programs</h1>

        <div class="btn-group">
          <ul>
            <li>
              <button type="button" class="btn btn-pri">
                <h3>Design </h3>
              </button>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
              </div>
            </li>

            <li class="pd">
              <button type="button" class="btn btn-pri ">
                <h3>Mobile Technology</h3>
              </button>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
              </div>
            </li>

            <li class="pd">
              <button type="button" class="btn btn-pri">
                <h3>Web Technology </h3>
              </button>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
              </div>
            </li>
            <li class="pd">
              <button type="button" class="btn btn-pri">
                <h3>Machine Learning</h3>
              </button>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
              </div>
            </li>
            <li class="pd">
              <button type="button" class="btn btn-pri">
                <h3>Software Testing </h3>
              </button>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
              </div>
            </li>
            <li class="pd">
              <button type="button" class="btn btn-pri">
                <h3>Digital Marketing </h3>
              </button>
              <button type="button" class="btn dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Link 1</a>
                <a class="dropdown-item" href="#">Link 2</a>
              </div>
            </li>
          </ul>
        </div>

      </div>
    </div>

    <div class="col-md-4" >
      <div class="text8">
        <div class="enroll">
          <h1>Enrollment</h1>
          <p> +91 9689920922</p>
        </div>
        <div class="grade">
          <h1>HIRE OUR GRADEA</h1>
          <p> <a href="#">admin@felix-its.com</a> +91 9689920922</p>
        </div>
        <div class="enquiry">
          <h1>ENQUIRY</h1>
          <p> <a href="#">Info@felix-its.com</a></p>
        </div>
        <div class="socialmedia">
          <h1>SOCIAL MEDIA</h1>
          <a href="https://www.facebook.com/FelixITSystems/"><i class="fab fa-facebook-f"></i><span id="font">Facebook</span></a>
          <a href="https://www.linkedin.com/in/felix-it-systems-company/"> <i class="fab fa-linkedin-in"> </i><span id="font">Linkedin</span></a>
          <a href="https://mobile.twitter.com/FelixITSystems"><i class="fab fa-twitter"></i><span id="font">Twitter</span></a>
          <br>
          <a href="https://www.youtube.com/channel/UCr2Bjj-GzZDClgdI1-tsOiw?app=desktop"> <i class="fab fa-youtube"></i><span id="font"> Youtube</span></a>
        </div>
      </div>
    </div>
    <div class="col-md-12 footer-last" style="background-color:  rgb(16, 29, 54);  height: auto;">
      <div class="row">
        <div class="col-md-2  arrow"(click)="onActivate($event)" >
   <button ><img src="assets\Image\icons8-scroll-up-100.png"> </button>
        </div>
        <div class="col-md-8  footer-end">
          <p> All Rights Reserved By<span><i class="fa fa-copyright" style="font-size:15px"></i></span> Felix IT System
            2021</p>
        </div>
        <div class="col-md-2 chat">
          <div class="btn-group">
            <button type="button" class="btn button-msg " data-toggle="dropdown">
              <i class='far fa-comment-alt' style='font-size:24px'></i>
            </button>
            <button type="button" class="btn chat ">Chat</button>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>