<div class="container-fluid section-1">
  <div class="sec-1-head animate__animated  wow animate__zoomIn">
    <h1>
      Contact Us
    </h1>
  </div>
  <div class="flex-container wrapper">
    <div class="flex-left animate__animated  wow animate__fadeInLeft ">
      <img id="grp-1" src="assets\Ui-ux-program img\Group 1248@2x.png">
      <img id="grp-359" src="assets\contact-us\Group 359@2x.png">
      <div class="col contact-img-1">
        <div class="col sec-1-left-text">
          <p>
            Here you can connect us,
          </p>
          <p>
            <span><i class="fas fa-phone-alt"></i></span> +91 85912 49419
          </p>
          <p>
            <span><i class="fas fa-envelope"></i></span> <a href="#"> info@felix-its.com</a>
          </p>
        </div>
        <img src="assets\contact-us\Group 1813@2x.png">
      </div>
      <div class="col contact-img-2">
        <img src="assets\contact-us\Group 1837@2x.png">
      </div>
      <img id="grp-2" src="assets\Ui-ux-program img\Subtraction 7@2x.png">
      <img id="grp-3" src="assets\Ui-ux-program img\Group 1231@2x.png">
    </div>
    <div class="flex-right animate__animated  wow animate__fadeInRight">
      <img id="grp-4" src="assets\Ui-ux-program img\Group 1147@2x.png">
      <img id="grp-5" src="assets\Ui-ux-program img\Group 1231@2x.png">

      <div class="container-fluid form-section">
        <form>
          <div class="row">
            <h1>Drop us a message</h1>
            <div class="col-md-12">
              <input type="text" class="form-control" id="email" placeholder="Name*" name="email">
              <input type="password" class="form-control" placeholder="Mobile*" name="pswd">
              <input type="password" class="form-control" placeholder="Email*" name="pswd">
              <div class="form-group">
                <select class="form-control" id="sel1" name="sellist1">
                  <option>Select Preferred Course *</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                </select>
              </div>
              <textarea class="form-control" rows="3" id="comment" placeholder="Your message"></textarea>

              <div class="abt">
                <button type="button " class="btn-1st ">Send</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- section-2 -->
<div class="container-fluid section-2">
  <div class="sec-2-head animate__animated  wow animate__zoomIn">
    <h1 >
      Get In Touch
    </h1>
    <img id="grp-6" src="assets\Ui-ux-program img\Group 1231@2x.png">
    <img id="grp-7" src="assets\Ui-ux-program img\Group 1248@2x.png">
  </div>
  <div class="row">
    <div class="col-md-4 animate__animated  wow animate__fadeInLeft">
      <div class="card card-2 ">
        <div class="row">
          <div class="col-md-4  card-sec">
            <img src="assets\contact-us\Group 1818@2x.png" class="card-img-top" alt="...">
          </div>
          <div class="col">
            <img id="grp-8" src="assets\Ui-ux-program img\Subtraction 7@2x.png">
          </div>
        </div>

        <div class="card-body ">
          <h1 class="card-text card-head">
            REQUEST A DEMO LECTURE
          </h1>
          <div class="row">
            <div class="col-sm-2 line">
              <img src="assets\contact-us\Line 163@2x.png">
            </div>
            <div class="col text-info">
              <p>
                Get exposed to world-class
                technologies.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 line">
              <img src="assets\contact-us\Line 163@2x.png">
            </div>
            <div class="col text-info">
              <p>
                Open their eyes to the futuristic
                world of technology.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 line">
              <img src="assets\contact-us\Line 163@2x.png">
            </div>
            <div class="col text-info">
              <p>
                Contact us today to request a
                demo lecture.
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>


    <div class="col-md-4 animate__animated  wow animate__fadeInUp">
      <div class="card card-2 ">
        <div class="row">
          <div class="col-md-4 card-sec">
            <img src="assets\contact-us\Group 1822@2x.png" class="card-img-top" alt="...">
          </div>
          <div class="col ">
            <img id="grp-8" src="assets\Ui-ux-program img\Subtraction 47@2x.png">
          </div>
        </div>

        <div class="card-body">
          <h1 class="card-text card-head">
            DESIGN AND DEVELOPMENT
            REQUIREMENT
          </h1>
          <div class="row">
            <div class="col-sm-2 line">
              <img src="assets\contact-us\Line 163@2x.png">
            </div>
            <div class="col text-info">
              <p>
                Need to leverage technology to
                solve business problems?
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 line">
              <img src="assets\contact-us\Line 163@2x.png">
            </div>
            <div class="col text-info">
              <p>
                Felix ITs and its blend of innovation
                and experience that deliver amazing
                bespoke technology solutions meant
                exclusively for your business.
              </p>
            </div>
          </div>

        </div>

      </div>
    </div>


    <div class="col-md-4 animate__animated  wow animate__fadeInRight">
      <div class="card card-3">
        <div class="row">
          <div class="col-md-4 card-sec">
            <img src="assets\contact-us\Group 1823@2x.png" class="card-img-top" alt="...">
          </div>
          <div class="col">
            <img id="grp-8" src="assets\Ui-ux-program img\Subtraction 7@2x.png">
          </div>
        </div>

        <div class="card-body">
          <h1 class="card-text  card-head">
            RESOURCE HIRING
          </h1>
          <div class="row">
            <div class="col-sm-2 line">
              <img src="assets\contact-us\Line 163@2x.png">
            </div>
            <div class="col text-info">
              <p>
                Turbo charge your project with a
                bit of help from Felix ITs.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 line">
              <img src="assets\contact-us\Line 163@2x.png">
            </div>
            <div class="col text-info">
              <p>
                Expand the range of expertise and
                experience by hiring resources for
                your projects.
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-2 line">
              <img src="assets\contact-us\Line 163@2x.png">
            </div>
            <div class="col text-info">
              <p>
                We make available on-site and
                off-site resources with flexible
                engagement models.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img id="grp-9" src="assets\Ui-ux-program img\Group 1231@2x.png">
  <img id="grp-10" src="assets\Ui-ux-program img\Group 1248@2x.png">
  <img id="grp-11" src="assets\Ui-ux-program img\Group 1248@2x.png">
</div>




<!-- section-3 -->
<div class="container-fluid section-2" >
  <img id="grp-12" src="assets\Ui-ux-program img\Group 1194@2x.png">
  <div class="sec-2-head animate__animated  wow animate__zoomIn">
    <h1>
      Timings
    </h1>
    <div class="col-md-12 col-sm-12 col-center">
      <img id="grp-13" src="assets\Ui-ux-program img\Group 1231@2x.png">
      <img id="grp-14" src="assets\Ui-ux-program img\Group 1231@2x.png">
      <img id="grp-16" src="assets\Ui-ux-program img\Subtraction 47@2x.png">
      <img id="grp-15" src="assets\Ui-ux-program img\Subtraction 7@2x.png">
      <img id="grp-17" src="assets\Ui-ux-program img\Group 1248@2x.png">
      <img id="grp-18" src="assets\Ui-ux-program img\Group 1248@2x.png">
      <img  id="main" src="assets\contact-us\Group 1843@2x.png">
    </div>
  </div>

</div>

<!-- section-4 -->

<div class="container-fluid section-4">
  <div class="sec-4-head">
    <h1>
      Location
    </h1>
    <div class="row">
      <div class="col-lg-6  col-md-12 map" id="map">
<app-google-map></app-google-map>
      </div>
      <div class="col-md-6 branch" >
        <div class="row">
          <div class="col-md col-sm-12">
            <div class=" branches">
              <div class="col branches-img">
                <img src="assets\contact-us\Group 1820@2x.png">
              </div>
              <div class="col branches-text">
                <h2>
                  Kothrud (Pune) Office
                </h2>
                <p>
                  Felix-IT Systems, 3 Ideal Chambers, 2nd Floor,
                  Ideal Colony ,Paud Road, Pune, 411038.
                </p>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-3" style="text-align: center;">
                  <div class="icon">
                    <img src="assets\career\Group 1851@2x.png">
                    <p>Direction </p>
                  </div>
                </div>
                <div class="col-md-2 col-sm-2">
                  <div class="icon-2">
                    <img src="assets\career\Group 1856@2x.png">
                    <p>Share</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6  col-sm-12" >
            <div class="branches">
              <div class="col branches-img">
                <img src="assets\contact-us\Group 1819@2x.png">
              </div>
              <div class="col branches-text">
                <h2>
                  Pimpri Chinchwad (Pune) Office
                </h2>
                <p>
                  Felix-IT Systems, Fusion Park, Office No. 201,
                  204, Second Floor, Ajmera - Masulkar Colony,
                  Pune, Maharashtra 411018.
                </p>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-3" style="text-align: center;">
                  <div class="icon">
                    <img src="assets\career\Group 1851@2x.png">
                    <p>Direction </p>
                  </div>
                </div>
                <div class="col-md-2 col-sm-2">
                  <div class="icon-2">
                    <img src="assets\career\Group 1856@2x.png">
                    <p>Share</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-sm-12 ">
            <div class="branches">
              <div class="col-md-12 branches-img">
                <img src="assets\contact-us\Group 1821@2x.png">
              </div>
              <div class="col-md-12 branches-text">
                <h2>
                  VimanNagar (Pune) Office
                </h2>
                <p>
                  Felix-IT Systems, Office No. 907, 9th Floor,
                  Platinum Square, Nagar Rd, Viman nagar,
                  Pune-411014.
                </p>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-3" style="text-align: center;">
                  <div class="icon">
                    <img src="assets\career\Group 1851@2x.png">
                    <p>Direction </p>
                  </div>
                </div>
                <div class="col-md-2 col-sm-2">
                  <div class="icon-2">
                    <img src="assets\career\Group 1856@2x.png">
                    <p>Share</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-sm-12 ">
            <div class="branches">
              <div class="col branches-img">
                <img src="assets\contact-us\Screenshot (622)@2x.png">
              </div>
              <div class="branches-text">
                <h2>
                  Andheri (Mumbai) Office
                </h2>
                <p>
                  Office N74 Technopark , “C” Cross Road,
                  Opp Gate No 2, Seepz, Andheri East,
                  Mumbai, Maharashtra 400093
                </p>
              </div>
              <div class="row">
                <div class="col-md-4 col-sm-2" style="text-align: center;">
                  <div class="icon">
                    <img src="assets\career\Group 1851@2x.png">
                    <p>Direction </p>
                  </div>
                </div>
                <div class="col-md-2 col-sm-2">
                  <div class="icon-2">
                    <img src="assets\career\Group 1856@2x.png">
                    <p>Share</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- section-5 -->
<div class="container-fluid section-5">
  <div class="sec-5 animate__animated  wow animate__zoomIn">
    <h1>
      Feedback
    </h1>
    <p>
      We make continuous efforts in giving 100 % to our students ,in this endeavour please help us by giving your
      honest feedback about our Training , Infrastructure ,Placement Activities ,Personality development activities,
      Communication improvement activities or anything which is a concern to you ,we will make every effort to
      consider your feedback. !
    </p>
  </div>
</div>