<div class="container-fluid section-9">
  <div class="container sec-9">
    <div class="row">
      <div class="card-deck card-9 ">
        <div class="card card-bottom  animate__animated  wow animate__zoomIn">
          <img class="card-img-top" src="assets\Image\success@2x.png" alt="Card image cap">
          <div class="card-body card-info">
            <h5 class="card-title">Careers</h5>
            <p class="card-text">Does a career in mobile <br>
              application training seem <br>
              interesting to you?</p>
          </div>
          <div class="knowmore1"><button type="button" class="btn btn-outline-danger">Know More</button></div>

        </div>
        <div class="card card-bottom  animate__animated  wow animate__zoomIn">
          <img class="card-img-top" src="assets\Image\testimonial@2x.png" alt="Card image cap">
          <div class="card-body card-info">
            <h5 class="card-title">Testimonials</h5>
            <p class="card-text">We have many courses which <br>
              are eligible for job guarantee, <br>
              provided you have opted for the <br>
              job guarantee track. </p>
          </div>
          <div class="knowmore2"><button type="button" class="btn btn-outline-danger">Know More</button></div>

        </div>
        <div class="card card-bottom  animate__animated  wow animate__zoomIn">
          <img class="card-img-top" src="assets\Image\conversation@2x.png" alt="Card image cap">
          <div class="card-body card-info">
            <h5 class="card-title">FAQs</h5>
            <p class="card-text">Got any notes? </p>
          </div>
          <div class="knowmore3"><button type="button" class="btn  btn-outline-danger">Know More</button></div>

        </div>
      </div>
    </div>
  </div>

</div>