<!-- SECTION-1 -->
<div class="container-fluid aboutus">
  <div class="row">
    <div class="abt-img-1">
      <img src="assets\Image\Group 387@2x.png">
    </div>
    <div class="abt-img-2">
      <img src="assets\Image\Group 341@2x.png">
    </div>
    <div class="col-md-6 about-img animate__animated  wow animate__fadeInLeft">
      <img src="assets\Image\Group 1565@2x.png">
    </div>
    <div class="col-md-6 about animate__animated  wow animate__fadeInRight">
      <img src="assets\Image\Group 359@2x.png" alt="Snow">
      <div class="container backimg">
        <div class="top-left">
          <h1>About Us</h1>
          <p>Felix-IT System is a leading training and
            solutions company offering courses in Mobile
            Technologies like Apple iOS, Google Android
            Windows 8 and HTML5 & CSS3 Applications
            Development....
            <span>
              <p *ngIf="showMe">We are a one-stop destination for fresh
                graduates and experienced IT enthusiasts,
                where robust and interactive training is
                provided with an assurance of job on
                successful completion of the course.
              </p>
              <a routerLink="#" routerLinkActive="active">
                <h4 (click)="toogleTag()">{{ showMe ? 'Read Less -': 'Read More +' }}</h4>
              </a>
            </span>
          </p>
          <div class="abt">
            <button type="button" class="btn ">Know More</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- SECTION-2 -->

<div class="container-fluid rectangle ">
  <div class="row">
    <div>
      <div class=" text-display ">
        <img src="assets\Image\Group 1169@2x.png">
        <h1 class="animate__animated  wow animate__zoomIn"> We Give Awesome Learning Experience
          <span>
            <div class="line">
            </div>
            <div id="pencil">
              <img src="assets\Image\Group 1171@2x.png">
            </div>
          </span>
        </h1>
        <div class="text1 animate__animated  wow animate__zoomIn">
          <p>
            Our experience in the Mobile domain is outstanding with a team of industry veterans. <br>
            We have customized courses for individual students, experienced students and corporations<br>
            to ensemble all requirements.
          </p>
        </div>
        <div class="text2 animate__animated  wow animate__zoomIn">
          <p>
            We are a team of technology evangelists, trainers and veteran engineers who are <br>
            working together to create great value applications to reach new benchmarks in the mobile <br>
            application world through their strategic designs and innovative approach.
            <span><img src="assets\Image\Group 1172@2x.png"></span>
          </p>
        </div>
      </div>

    </div>
    <div>
    </div>
  </div>
</div>

<!--  SECTION-3 -->
<div class="container-fluid section3">
  <div class="row ">
    <div class="container col-md-6 vision animate__animated  wow animate__fadeInLeft">
      <img id="grp386" src="assets\Image\Group 386@2x.png">
      <div class="col img-left">
        <img src="assets\Image\Group 1217@2x.png">
      </div>
    </div>

    <div class="col-md-6 ">
      <div class=" container text3 animate__animated  wow animate__fadeInRight">
        <h1>Vision</h1>
        <p> Provide knowledge and build skills to advance
          your career through personalised support & Best
          in class training programs designed and
          delivered through industry experts.</p>
        <img src="assets\Image\Group 386@2x.png">
      </div>
    </div>
  </div>

</div>

<!-- SECTION-4 -->

<div class="container-fluid section-4">
  <div class="row ">
    <div class="col-md-6 sec-4 animate__animated  wow animate__fadeInLeft">
      <img src="assets\Image\Group 482@2x.png">
      <div class="container text4">
        <h1>Mission</h1>
        <p> "Elinating the employability Gap" by enabling
          every individual to attain their technical Potential
          and reach proffessional heights by providing
          excellent enviroment in most engaging way.</p>
      </div>
    </div>
    <div class="col-md-6 mission animate__animated  wow animate__fadeInRight">
      <div class="col">
        <img src="assets\Image\Group 1233@2x.png">
        <div class="container">
          <img src="assets\Image\Group 387@2x.png">
        </div>
      </div>
    </div>
  </div>
</div>


<!-- SECTION-5 -->

<div class="container-fluid section5">
  <div class="row ">
    <div class="container-fluid">
      <div class="flex">
        <img src="assets\Image\Group 386@2x.png">
        <h1>Why Felix-It ?</h1>
      </div>
    </div>
    <div class="col-md-6 felix-its  animate__animated  wow  animate__slideInLeft">
      <img src="assets\Image\Group 1241@2x.png">
    </div>
    <div class="col-md-6">
      <div class="text5 animate__animated  wow  animate__slideInRight">
        <p> We believe in giving industry exposure to the
          students by introducing them to the latest trends
          and platforms. We conduct our trainings in a
          modern method of curriculum delivery where
          students not only learn but also execute what
          they have learnt. Our team comprises of industry
          leaders of mobile spectrum -iOS ,ANDROID , UI/UX,
          AngularJS , Testing ,entire MEAN stack hence we
          are always ahead in the race to give you the best.</p>
        <p>Our deep industry insights make you job ready
          while honing your skills.We believe in excellence
          so we have designed the entire training program
          in such a way that student achieve the excellence
          in the respective course.</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid card-section ">
  <div class="card1">
    <img src="assets\Image\Group 1240@2x.png">
  </div>
  <div>
    <app-know-more></app-know-more>
  </div>
  <div class="cardimg2">
    <img src="assets\Image\Group 386@2x.png">
  </div>
</div>