<div class="container-fluid card-display">
    <div class="row">
      <div class="grp-1348">
        <img src="assets\Uiux-image\Group 1348@2x.png">
      </div>
      <div class="container-fluid " class="example">
  
        <div class="conatiner cardbox">
          <h1>Our graduates now work at...</h1>
  
          <div class="row">
            <div class="sub-41">
              <img src="assets\Uiux-image\Subtraction 41@2x.png">
            </div>
            <div class="col img-container">
  
              <img src="assets\imageplacement\Group 1148@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1152@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1150@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1155@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1154@2x.png" alt="Snow">
            </div>
  
          </div>
          <div class="row">
            <div class="col img-container">
              <img src="assets\imageplacement\Group 1149@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1154@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1151@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1150@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1153@2x.png" alt="Snow">
            </div>
          </div>
        </div>
      </div>
      <div class="Subtraction-40">
        <img src="assets\Uiux-image\Subtraction 40@2x.png">
      </div>
    </div>
    <div class="grp-1347">
  
      <img src="assets\Uiux-image\Group 1347@2x.png">
  
    </div>
  </div>  

  
  <div class="container-fluid card-carousel">
    <h1>Our graduates now work at...</h1>
    <div id="demo" class="carousel slide" data-ride="carousel" data-interval="false" data-pause="hover">
      <!-- Indicators -->
  
        <ul class="carousel-indicators ">
        
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
       
        </ul>
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row card-img" style=" height: auto;width: 100%;">
            <div class="col ">
              <img src="assets\imageplacement\Group 1148@2x.png" alt="Snow">
              
            </div>
            <div class="col ">
              <img src="assets\imageplacement\Group 1152@2x.png" alt="Snow">
            </div>
          </div>
          <div class="row card-img" style="height: auto;width: 100%;">
            <div class="col">
              <img src="assets\imageplacement\Group 1150@2x.png" alt="Snow">
            </div>
            <div class="col">
              <img src="assets\imageplacement\Group 1155@2x.png" alt="Snow">
            </div>
        </div>
        </div>

        <div class="carousel-item">
          <div class="row card-img" style=" height: auto;width: 100%;">
            <div class="col ">
              <img src="assets\imageplacement\Group 1149@2x.png" alt="Snow">
            </div>
            <div class="col ">
              <img src="assets\imageplacement\Group 1154@2x.png" alt="Snow">
            </div>
          </div>
          <div class="row card-img" style="height: auto;width: 100%;">
            <div class="col">
              <img src="assets\imageplacement\Group 1150@2x.png" alt="Snow">
            </div>
            <div class="col">
              <img src="assets\imageplacement\Group 1153@2x.png" alt="Snow">
            </div>
        </div>
        </div>

        <div class="carousel-item">
          <div class="row card-img" style=" height: auto;width: 100%;">
            <div class="col ">
              <img src="assets\imageplacement\Group 1148@2x.png" alt="Snow">
              
            </div>
            <div class="col ">
              <img src="assets\imageplacement\Group 1152@2x.png" alt="Snow">
            </div>
          </div>
          <div class="row card-img" style="height: auto;width: 100%;">
            <div class="col">
              <img src="assets\imageplacement\Group 1150@2x.png" alt="Snow">
            </div>
            <div class="col">
              <img src="assets\imageplacement\Group 1155@2x.png" alt="Snow">
            </div>
        </div>
        </div>
        <div class="carousel-item">
          <div class="row card-img" style=" height: auto;width: 100%;">
            <div class="col ">
              <img src="assets\imageplacement\Group 1148@2x.png" alt="Snow">
              
            </div>
            <div class="col ">
              <img src="assets\imageplacement\Group 1152@2x.png" alt="Snow">
            </div>
          </div>
          <div class="row card-img" style="height: auto;width: 100%;">
            <div class="col">
              <img src="assets\imageplacement\Group 1150@2x.png" alt="Snow">
            </div>
            <div class="col">
              <img src="assets\imageplacement\Group 1155@2x.png" alt="Snow">
            </div>
        </div>
        </div>
      </div>
      
      <!-- Left and right controls -->

    </div>
    </div>