<!-- SECTION-1 -->
<div class="container-fluid section-1">
  <div class="row">
    <div class="col-md-6 placment-1 animate__animated  wow animate__fadeInLeft">
      <img src="assets\imageplacement\Group 399@2x.png" alt="Snow">
      <div class="top-left ">
        <a> join us,</a>
        <h1>Jump Start Your <br>
          Career With Felix-ITs’<br>
          <span id="job-text-h1">Job Guarantee</span> <br>
          Programs
        </h1>
        <p>Success is not just about graduating.<br>
          Your path to success starts on the first <br>
          day of your dream job. Guaranteed.</p>

        <div class="abt">
          <button type="button" class="btn ">Know More</button>
        </div>
      </div>
    </div>

    <!-- CARD-SECTION -->
    <div class="col-md-6 jounusimg animate__animated  wow animate__fadeInRight">
      <img id="grp-360" src="assets\imagejoinus\Group 360@2x.png">
      <img id="grp-342" src="assets\imagejoinus\Group 342@2x.png">
      <img id="grp-341" src="assets\imagejoinus\Group 341@2x.png">
      <img id="grp-353" src="assets\imagejoinus\Group 353@2x.png">
      <img id="grp-361" src="assets\imagejoinus\Group 361@2x.png">
      <div class="join-us ">
        <img src="assets\imagejoinus\Group 1578@2x.png">

      </div>
    </div>

  </div>
</div>
<div>
  <app-job-gurantee-card-slider>
    
  </app-job-gurantee-card-slider>
</div>
<!-- SECTION-2 -->
<div class="container-fluid section3">
  <div class="row ">
    <div class="container col-md-6 animate__animated  wow animate__fadeInLeft">
      <img id="success-left" src="assets\imagejoinus\Group -6@2x.png">
      <div class="col img-left">
        <img id="success-bottom" src="assets\imagejoinus\Group 369@2x.png">
        <img id="team" src="assets\imagejoinus\Top Rated Team@2x.png">
      </div>
    </div>

    <div class="col-md-6 ">
      <img id="img372-1" src="assets\imagejoinus\Group 372@2x.png">
      <div class=" container text3 animate__animated  wow animate__fadeInRight">
        <h1>Get success with Felix ITs'</h1>
        <p> Our students sure achieve great things and find <br>
          success in their professional path. We help them <br>
          achieve this success with our job guaranteed <br>
          programs at Felix-ITs. </p>
        <p>We will help you find work within just 6 months <br>
          after you complete any of our courses or you get <br>
          a full refund of your course fees. It's that simple.</p>

      </div>
    </div>
  </div>
  <img id="grp-1243" src="assets\imagejoinus\Group 1243@2x.png">
</div>



<!-- SECTION-4 -->
<div class="container section-4 animate__animated  wow animate__zoomIn">
  <img id="grp390" src="assets\imagejoinus\Group 390@2x.png">
  <h1>
    Become a desirable candidate
  </h1>
  <p >
    Your efforts in the study and practice matters a lot. With a long due discussion over <br>
    job losses and insecurities, we are just making sure you become a desirable candidate <br>
    for the new world at Felix-ITs.
  </p>
</div>




<!-- SECTION-6 -->

<!-- section-8 -->

<div class="container-fluid section8">
  <div class="col">
  <div class="top-center content-center">
    <img src="assets\imageplacement\Group 373@2x.png">
  </div>
</div>
  <div class="row">
    <div class="container-fluid section-8">
      <div class="col sec-8">
        <h1>Career Transitions</h1>
        <img src="assets\Image\Group 342@2x.png">
      </div>
      <div class="card-deck" >
        <div class="left-img-sec8">
          <img src="assets\imageplacement\Group 480@2x.png">
        </div>
        <div class="card card-3 animate__animated  wow animate__fadeInLeft">
          <div class="card-body">
            <div class="thumb-lg member-thumb mx-auto">
              <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle img-thumbnail"
                alt="profile-image">
            </div>
            <div class="profile-info hike-1">
              <p class="name"><b>Rohit Dhande</b></p>
              <p class="experience">1 year of Experience</p>
              <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">➚ %
                hike</button>
            </div>
            <div>
              <hr>
            </div>
            <div class="row">
              <table class="profile-table">
                <tr>
                  <td class="text-1">Was </td>
                  <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>
                  <td class="text-2">Fresher</td>
                </tr>
                <tr>
                  <td class="text-1">Enrolled For</td>
         <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>
                  <td class="text-2"> UI UX Designer</td>
                </tr>
                <tr>
                  <td class="text-1">Now </td>
         <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>
                  <td class="text-2">UI UX Designer</td>
                </tr>
                <tr>

                  <td class="text-1">Working At</td>
         <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>

                  <td class="img-card"><img src="assets\imageplacement\output-onlinepngtools-3@2x.png"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>


        <div class="card card-3 animate__animated  wow animate__fadeInUp">
          <div class="card-body">
            <div class="thumb-lg member-thumb mx-auto">
              <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle img-thumbnail"
                alt="profile-image">
            </div>

            <div class="profile-info hike-1">
              <p class="name"><b>Rohit Dhande</b></p>
              <p class="experience">1 year of Experience</p>
              <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">➚ %
                hike</button>
            </div>
            <div>
              <hr>
            </div>
            <div class="row">
              <table class="profile-table">
                <tr>
                  <td class="text-1">Was </td>
         <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>
                  <td class="text-2">Fresher</td>
                </tr>
                <tr>
                  <td class="text-1">Enrolled For</td>
         <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>
                  <td class="text-2"> UI UX Designer</td>
                </tr>
                <tr>
                  <td class="text-1">Now </td>
         <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>
                  <td class="text-2">UI UX Designer</td>
                </tr>
                <tr>

                  <td class="text-1">Working At</td>
         <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>

                  <td class="img-card">
                    <img src="assets\imageplacement\output-onlinepngtools-3@2x.png">
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="card card-3 animate__animated  wow animate__fadeInRight">
          <div class="card-body">
            <div class="thumb-lg member-thumb mx-auto">
              <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle img-thumbnail"
                alt="profile-image">
            </div>

            <div class="profile-info hike-1">
              <p class="name"><b>Rohit Dhande</b></p>
              <p class="experience">1 year of Experience</p>
              <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">➚ %
                hike</button>
            </div>
            <div>
              <hr>
            </div>

            <div class="row">
              <table class="profile-table">
                <tr>
                  <td class="text-1">Was </td>
         <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>
                  <td class="text-2">Fresher</td>
                </tr>
                <tr>
                  <td class="text-1">Enrolled For</td>
         <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>
                  <td class="text-2"> UI UX Designer</td>
                </tr>
                <tr>
                  <td class="text-1">Now </td>
         <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>
                  <td class="text-2">UI UX Designer</td>
                </tr>
                <tr>

                  <td class="text-1">Working At</td>
         <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>

                  <td class="img-card"><img src="assets\imageplacement\output-onlinepngtools-3@2x.png"></td>
                </tr>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bottom-img-sec8">
    <img src="assets\imageplacement\Group 480@2x.png">
  </div>
</div>


<!-- SECTION-7 -->
<div class="container-fluid section-7">
  <h1 class=" animate__animated  wow animate__zoomIn"> <img src="assets\imagejoinus\ask (1)@2x.png">Frequently Asked Questions</h1>
  <span> <img src="assets\imagejoinus\Line 66.png" style="margin-top: 10px;"> </span>
  <ul class=" animate__animated  wow animate__zoomIn">
    <li>
      <h4>Which courses are covered under the job guarantee program?</h4>
    </li>
    <p>We have many courses which are eligible for job guarantee, provided you have opted for the job guarantee track.
    </p>
  </ul>

  <span> <img src="assets\imagejoinus\Line 66.png"> </span>
  <ul class=" animate__animated  wow animate__zoomIn">
    <li>
      <h4>Who is eligible for this program?</h4>
    </li>

    <p>You must have completed a Felix-ITs program with the necessary qualifications.</p>

    <p>You are ready to move to any place you'll be placed.</p>

  </ul>

  <span> <img src="assets\imagejoinus\Line 66.png"> </span>
  <ul class=" animate__animated  wow animate__zoomIn">
    <li>
      <h4>Do I have to pay extra to become eligible for the job guarantee program?</h4>
    </li>
    <p>Yes. The job guarantee program fee varies from our normal courses as the duration is slightly longer.
    </p>

  </ul>

  <span> <img src="assets\imagejoinus\Line 66.png"> </span>
  <ul class=" animate__animated  wow animate__zoomIn">
    <li>
      <h4>How does a refund work? How much money will I get back?</h4>
    </li>
    <p>You must keep looking for the job once you complete the course you were enrolled in. If you don't find a job
      within 6 months of your <br>
      course completion, you can ask for a full refund excluding taxes. More terms and conditions are applied, you will
      be consulted before <br>
      you enrol for any course. For more information, please contact us here.<br>
    </p>
  </ul>

  <span> <img src="assets\imagejoinus\Line 66.png"> </span>
  <ul class=" animate__animated  wow animate__zoomIn">
    <li>
      <h4>What is expected from the student for the job guarantee program?</h4>
    </li>
    <p>We expect professional behaviour from our students ,we expect below mentioned conditions to be met from every
      student who enrols for<br>
      our job guarantee program .
    </p>

    <p id="space">
      1.Min 95% attendance is compulsory .<br>
      2.Hacker rank , lot of practice on hacker rank platform for developers.<br>
      3.Daily task completion and submission for same.<br>
      4.Pass all machine test and verbal interview<br>
      5.Attend all Mock HR interview. <br>
      6.Practice Practice & Practice .<br>
      7.Students will not be eligible for any refund if above conditions are not adhered to.
    </p>


  </ul>
  <span> <img src="assets\imagejoinus\Line 66.png"> </span>
  <ul class=" animate__animated  wow animate__zoomIn">
    <li>
      <h4>will I get refund if I get job on my own?</h4>
    </li>

    <p>
      No, if you get any job within 6 months of course completion you are not eligible for refund. We believe it’s our
      efforts which help candidate <br>
      to get job, irrespective how he or she gets one.
    </p>


  </ul>


</div>