<!-- SECTION-1 -->

<div class="flex-container flex-1">
    <div class="flex-item-left animate__animated  wow animate__fadeInLeft">
        <div class="left-flex-img">
            <img src="assets\Ui-ux-program img\Group 1468@2x.png">
        </div>
    </div>
    <div class="flex-item-right">
        <div class="col">
            <div class="right-flex-img">
                <img src="assets\Ui-ux-program img\Group 1495@2x.png">
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col" >
                    <div class="right-flex-text animate__animated  wow animate__fadeInRight">
                        <h1>
                            UI UX Design <br>
                            Program Details<br>
                        </h1>
                        <p>
                            Maybe you are a complete beginner who wants a fulfilling new
                            career. Maybe you are a designer who wants to add UX to your
                            skillset, or perhaps you want to learn UX design in order to take
                            your current job to the next level. If you identify with any of the
                            above, then no more "maybes": Make it happen with our UX
                            Design Program.
                        </p>
                    </div>
                    <div class="abt animate__animated  wow animate__fadeInRight">
                        <button type="button" class="btn-1st ">Know More </button>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- SECTION-2 -->
<div class="container-fluid flex-2">
    <div class="flex-container">
        <div class="flex-item-2-center animate__animated  wow animate__zoomIn">
            <h1>
                Learn all the skills you need to become <br>
                a job-ready UI UX designer<br>
            </h1>

        </div>
        <div class="flex-item-2-left animate__animated  wow animate__fadeInLeft">
            <div class="flex-2-left-img">
                <img src="assets\Ui-ux-program img\Group 418@2x.png">
            </div>
            <div class="col flex-2-text">
                <h1>
                    <span style="color: #ed1c24;"> 01</span> Intro to UX Design
                </h1>

                <div class="flex-2-text-2">
                    <h1>
                        Designing Like a UXer
                    </h1>
                    <p>
                        Go through the building blocks of the entire UX design
                        process while completing your very first app.
                    </p>
                    <p>
                        <span style="color:#ed1c24;"> Topics will be cover such as:</span>
                        Origin of UX, Why UX Design is
                        important, User Centered Design, The UX Process
                    </p>
                    <div class="flex-2-bottom-img">
                        <img src="assets\Ui-ux-program img\Subtraction 5@2x.png">
                    </div>
                </div>
            </div>

        </div>
        <div class="flex-item-2-right animate__animated  wow animate__fadeInRight">
            <div class="col flex-2-img" >
                <img src="assets\Ui-ux-program img\Group 1469@2x.png">
            </div>
            <div class="flex-2-right-img">
                <img src="assets\Ui-ux-program img\Group 1194@2x.png">
            </div>
        </div>
    </div>
</div>

<!-- SECTION-3 -->

<div class="container-fluid flex-3">
    <div class="flex-container ">
        <div class="flex-3-item-left animate__animated  wow animate__fadeInLeft">
            <div class="flex-3-left-img">
                <img src="assets\Ui-ux-program img\Group 1194@2x.png">
            </div>
            <div class="col flex-3-img-main" style="text-align:center;">
                <img src="assets\Ui-ux-program img\Group 1845.png">
            </div>
        </div>
        <div class="flex-3-item-right animate__animated  wow animate__fadeInRight">
            <div class="col flex-3-text">
                <h1>
                    <span style="color: #ed1c24;">02</span> UX Immersion
                </h1>
                <h2>
                    Thinking Like a UXer
                    <span> <img src="assets\Ui-ux-program img\Group 1381@2x.png"> </span>
                </h2>
                <p>
                    Study user-centered design and the Design Thinking process
                    as you learn how to approach your users and their problems.
                </p>
                <p>
                    <span style="color:#ed1c24;"> Topics will be cover such as: </span> Requirement Gathering,
                    Contextual Inquiry
                    Prepare Questionnaire, Interviews - Stakeholder, User Survey (Quantitative
                    Data), Strategy, Critic
                </p>
            </div>
            <div class="flex-3-img-1">
                <img src="assets\Ui-ux-program img\Subtraction 7@2x.png">
            </div>

            <div class="flex-3-img-2">
                <img src="assets\Ui-ux-program img\Group 418@2x.png">
            </div>
        </div>
    </div>
</div>
<!-- 
    SECTION-4 -->

<div class="container-fluid flex-4">

    <div class="flex-container ">
        <div class="felx-item-4-left ">
            <div class="flex-4-left-img">
                <img src="assets\Ui-ux-program img\Group 418@2x.png">
            </div>

            <div class="flex-4-left-img2">
                <img src="assets\Ui-ux-program img\Subtraction 7@2x.png">
            </div>
            <div class="col flex-4-text animate__animated  wow animate__fadeInLeft">
                <h1>
                    Understanding the User
                </h1>
                <p>
                    Get inside the heads of your users via UX techniques and
                    create your own personas, mental models and user flows.
                </p>
                <p>
                    <span style="color:#ed1c24;"> Topics will be cover such as: </span> User Research, Personas - Mental
                    Model,
                    Needs, Wants, Empathy Mapping, Competitive Analysis, Customer Journey Map
                </p>
            </div>

        </div>
        <div class="felx-item-4-right animate__animated  wow animate__fadeInRight">
            <div class="flex-4-img">
                <img src="assets\Ui-ux-program img\Group 1471@2x.png">
            </div>
            <div class="flex-4-right-img-2">
                <img src="assets\Ui-ux-program img\Group 1246@2x.png">
            </div>

        </div>
    </div>
</div>


<!-- SECTION-5 -->

<div class="container-fluid">
    <div class="flex-container flex-5">

        <div class="flex-5-left animate__animated  wow animate__fadeInLeft">
            <div class=" flex-5-img-left">
                <img src="assets\Ui-ux-program img\Group 1194@2x.png">
            </div>
            <div class="col flex-5-img">
                <img src="assets\Ui-ux-program img\Group 1493@2x.png">
            </div>
        </div>
        <div class="flex-5-right animate__animated  wow animate__fadeInRight">
            <div class="col flex-5-text">
                <h1>
                    Foundational Design
                </h1>
                <p>
                    Navigate the ins and outs of information architecture <span>
                        <img src="assets\Ui-ux-program img\Group 1231@2x.png"></span><br>
                    and build your first wireframes and prototypes.
                </p>
                <p>
                    <span style="color:#ed1c24;">Topics will be cover such as:</span> Brainstorming and Affinity
                    Mapping,
                    Mindmap, Card Sorting, User Scenarios, Task Flows/User Flows,
                    Information Architecture, Sitemap, Colour Theory, Font Theory,
                    Laws of UX, Conceptual Model, Paper Sketch, Design System
                    Depth and Motion
                </p>
                <div class="flex-5-right-img2">
                    <img src="assets\Ui-ux-program img\Group 1231@2x.png">
                </div>
                <div class="flex-5-right-img1">
                    <img src="assets\Ui-ux-program img\Subtraction 7@2x.png">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- SECTION-6 -->
<div class="container-fluid felx-6">
    <div class="flex-container ">
        <div class="flex-6-left animate__animated  wow animate__fadeInLeft">
            <div class="col flex-6-text">
                <h1>
                    Usability Testing
                    <span> <img src="assets\Ui-ux-program img\Group 1248@2x.png"> </span>
                </h1>
                <p>
                    Put your designs to the test in front of real users.
                </p>
                <p>
                    <span style="color:#ed1c24;">Topics will be cover such as: </span> Usability Testing, What goes into
                    Usability <br>
                    Testing, What comes out from Testing, Heuristic Analysis, A/B Testing,
                    MVT Testing, Ethnography
                </p>
                <div class="flex-6-bottom">
                    <img src="assets\Ui-ux-program img\Subtraction 7@2x.png">
                </div>
                <div class="flex-6-bottom-right">
                    <img src="assets\Ui-ux-program img\Group 1231@2x.png">
                </div>
            </div>

        </div>
        <div class="flex-6-right animate__animated  wow animate__fadeInRight">
            <div class="flex-6-img">
                <img src="assets\Ui-ux-program img\Group 1473@2x.png">
            </div>
            <div class="flex-6-right-img">
                <img src="assets\Ui-ux-program img\Group 1194@2x.png">

            </div>
        </div>

    </div>

</div>

<!-- SECTION-7 -->
<div class="container-fluid flex-7">

    <div class="flex-container">
        <div class="flex-7-left-img">
            <img src="assets\Ui-ux-program img\Group 1246@2x.png">

        </div>
        <div class="flex-7-left animate__animated  wow animate__fadeInLeft">
            <div class="col flex-7-img">
                <img src="assets\Ui-ux-program img\Group 1474@2x.png">
            </div>

        </div>

        <div class="flex-7-right">
            <div class="col flex-7-text animate__animated  wow animate__fadeInRight">
                <div class="flex-7-top-img">
                    <img src="assets\Ui-ux-program img\Group 1248@2x.png">
                </div>

                <h1>
                    Refining the Design
                </h1>
                <p>
                    Sharpen your eye for aesthetics and jazz up your designs
                    with tried-and-tested UI fundamentals.
                </p>
                <p>
                    <span style="color:#ed1c24;">Topics will be cover such as: </span> Accessibility Guidelines (W3C)
                    Disability Types, Accessible Gadgets, Innovations for Disable People,
                    Design Trends
                </p>
                <div class="flex-7-bottom-2">
                    <img src="assets\Ui-ux-program img\Group 1231@2x.png">
                </div>
                <div class="flex-7-bottom-1">

                    <img src="assets\Ui-ux-program img\Group 418@2x.png">
                </div>
            </div>
        </div>
        <div class="flex-7-right-img-3">
            <img src="assets\Ui-ux-program img\Subtraction 7@2x.png">
        </div>
    </div>


</div>

<!-- SECTION-8 -->

<div class="container-fluid flex-8">
    <div class="flex-8-left-img">
        <img src="assets\Ui-ux-program img\Group 1193@2x.png">
    </div>
    <div class="flex-container">
        <div class="flex-8-left animate__animated  wow animate__fadeInLeft">
            <div class="col flex-8-text">
                <h1>
                    End-to-End Design
                    <span><img src="assets\Ui-ux-program img\Group 1248@2x.png"></span>
                </h1>
                <p>
                    Polish your design and whip up a killer portfolio that shows off
                    your personal brand to the world.
                </p>
                <p>
                    <span style="color:#ed1c24;">Topics will be cover such as: </span> Human Abilities, Memory
                    Management
                    Cognitive Load, Mental Model and Representation.
                </p>

                <div class="flex-8-right-img">
                    <img src="assets\Ui-ux-program img\Subtraction 7@2x.png">
                </div>
                <div class="flex-8-right-img2">
                    <img src="assets\Ui-ux-program img\Group 1231@2x.png">
                </div>
            </div>
        </div>
        <div class="flex-8-right animate__animated  wow animate__fadeInRight">
            <div class="col flex-8-img">
                <img src="assets\Ui-ux-program img\Group 1475@2x.png">
            </div>

            <div class="flex-8-right-bottom">
                <img src="assets\Ui-ux-program img\Group 1194@2x.png">
            </div>
        </div>

    </div>

</div>

<!-- SECTION-9 -->

<div class="container-fluid">
    <div class="flex-9-text">
        <div class="col flex-9-item">
            <h1 class="animate__animated  wow animate__zoomIn">
                <span class="sub-47">
                    <img src="assets\Ui-ux-program img\Subtraction 47@2x.png"></span>
                <span style="color:#ed1c24;"> 03</span> UI Mastery
                <span class="grp-1231"><img src="assets\Ui-ux-program img\Group 1231@2x.png"> </span>
            </h1>
            <p class="animate__animated  wow animate__zoomIn">
                The program comes with three final modules to choose from, allowing you to specialize in a <br>
                complementary skill to the UX process. We found that including this feature sets our graduates <br>
                apart from other new UX designers entering the field. You can also opt to take more than one <br>
                specialization (for an additional fee).
            </p>
            <div class="flex-9-bottom-left">
                <img src="assets\Ui-ux-program img\Group 1248@2x.png">
            </div>
            <div class="flex-9-bottom-right">
                <img src="assets\Ui-ux-program img\Subtraction 7@2x.png">
            </div>
        </div>

    </div>

</div>

<!-- SECTION-10 -->
<div class="container-fluid flex-10">

    <div class="flex-container">

        <div class="felx-10-left animate__animated  wow animate__fadeInLeft">
            <div class="flex-10-left-img">
                <img src="assets\Ui-ux-program img\Group 1194@2x.png">
            </div>
            <div class="col flex-10-text">
                <h1>
                    UI for UX Designers
                </h1>
                <p>
                    Turn yourself into a one-person wonder by adding UI expertise <br>
                    to your list of skills — a sure way to stand out from the crowd.
                </p>

                <p>
                    <span style="color:#ed1c24;">Topics will be cover such as: </span> Android Design Overview, Apple
                    <br>
                    Design Overview, Website Design Overview
                </p>
            </div>

            <div class="flex-10-bottom-left">
                <img src="assets\Ui-ux-program img\Subtraction 47@2x.png">
          </div>
            <div class="flex-10-bottom-right">
                  <img src="assets\Ui-ux-program img\Group 1231@2x.png">
            </div>
        </div>

        <div class="felx-10-right animate__animated  wow animate__fadeInRight">
            <div class="col flex-10-img">
                <img src="assets\Ui-ux-program img\Group 1476@2x.png">
            </div>

        </div>

    </div>

</div>

<!-- SECTION-11 -->

<div class="container-fluid flex-11">
    <div class="flex-container">
        <div class="flex-11-left animate__animated  wow animate__fadeInLeft">
            <div class="col flex-11-img">
                <img src="assets\Ui-ux-program img\Group 1477@2x.png">
            </div>

            <div class="flex-11-img-left">
                <img src="assets\Ui-ux-program img\Group 418@2x.png">

            </div>
        </div>
        <div class="flex-11-right ">
            <div class="flex-11-right-img">
                <img src="assets\Ui-ux-program img\Group 1193@2x.png">
            </div>
            <div class="flex-11-right-2">
                <img src="assets\Ui-ux-program img\Group 1248@2x.png">

            </div>
            <div class="col flex-11-text animate__animated  wow animate__fadeInRight">
                <h1>
                    Course Requirements<span>
                        <img src="assets\career\Group 1850@2x.png">
                    </span>
                </h1>

            </div>
            <div class="felx-11-text2 bottom-text animate__animated  wow animate__fadeInRight">
                <ul>
                    <li><span> <img src="assets\Uiux-image\Line 136@2x.png"> </span> B2 level in written and spoken
                        English.</li>
                    <li><span> <img src="assets\Uiux-image\Line 136@2x.png"> </span> A computer (Mac or PC)*</li>
                    <li><span> <img src="assets\Uiux-image\Line 136@2x.png"> </span> An internet connection.</li>
                </ul>
            </div>
            <div class="flex-11-text-3 animate__animated  wow animate__fadeInRight">

                <p>
                    *Tools that are compatible for both Mac and PC are recommended <br>
                    throughout the program—where there is a recommended tool for a p<br>
                    articular type of computer that you don’t have, we’ll suggest <br>
                    alternatives and provide resources for these users. You can find out<br>
                    what tool discounts you’ll receive on our Perks page.
                </p>

                <div class="flex-11-bottom">
                    <img src="assets\Ui-ux-program img\Group 1248@2x.png">
                </div>

                <div class="flex-11-bottom-right">
                    <img src="assets\Ui-ux-program img\Subtraction 47@2x.png">
                </div>
            </div>
        </div>
    </div>

</div>



<!-- SECTION-12 -->
<div class="container-fluid flex-12">

    <div class="flex-container">
        <div class="flex-12-left">
            <div class="col flex-12-img animate__animated  wow animate__zoomIn">
                <img src="assets\Ui-ux-program img\Group 1478@2x.png">
            </div>

        </div>
        <div class="flex-12-right animate__animated  wow animate__zoomIn">

            <div class="flex-12-text">

                <p>
                    <span><img src="assets\Ui-ux-program img\Icon metro-quote@2x.png"></span>I found the curriculum
                    excellent. Even from before the course itself began, I found the course prep section
                    really helpful. I really liked that there was a great balance between theory and practical
                    applications and
                    really have to congratulate on the structure of the course, building as it does from an intro to the
                    tools and
                    moving onward on each task to more complex themes. The platform I found really easy to use,
                    intuitive and
                    nicely designed.
                </p>
                <h2>
                    Student name
                </h2>
                <div class="logo">
                    <img src="assets\Ui-ux-program img\logonew@2x.png">

                </div>
            </div>

        </div>

    </div>


</div>

<!-- 
SECTION-13 -->
<div class="container-fluid flex-13">
    <div class="flex-container">
        <div class="flex-13-img-left">
            <img src="assets\Ui-ux-program img\Group 1246@2x.png">
        </div>

        <div class="flex-13-img-right">
            <img src="assets\Ui-ux-program img\Group 1193@2x.png">
        </div>

        <div class="flex-13-img-center">
            <img src="assets\Ui-ux-program img\Subtraction 7@2x.png">
        </div>
        <div class="flex-13-right-image">
            <img src="assets\Ui-ux-program img\Group 1231@2x.png">
        </div>
        <div class="flex-13-text">
            <div class="col flex-text-13 animate__animated  wow animate__zoomIn">
                <h1>
                    Build an impressive portfolio
                </h1>
                <div class="flex-13-img-1">
                    <img src="assets\Ui-ux-program img\Subtraction 47@2x.png">

                </div>
                <div class="flex-13-img-2">
                    <img src="assets\Ui-ux-program img\Group 1248@2x.png">

                </div>
                <p>
                    Each of the three projects that you’ll complete spans multiple parts of the UX design process <br>
                    and will provide you with a rich array of portfolio pieces to showcase to potential employers. <br>
                    These include everything from user personas to your first pencil wireframe sketches, usability <br>
                    testing plans, and final, polished, high-fidelity designs.
                </p>
            </div>
        </div>
    </div>



<!-- SECTION-14 -->

<div class="carousel-1">
        <div class="container-fluid carousel-text">
            <h1 class="animate__animated  wow animate__zoomIn">
                See a few of our graduates’ portfolio projects below
            </h1>
            <img  id="img-1" src="assets\Uiux-image\Subtraction 48@2x.png">
            <img  id="img-2" src="assets\Uiux-image\Group 415@2x.png">
            <img  id="img-3" src="assets\Uiux-image\Group 1205@2x.png">
            <img  id="img-5" src="assets\Uiux-image\Group 1354@2x.png">

 <app-portfolio-project></app-portfolio-project>
  <img  id="img-4" src="assets\Uiux-image\Subtraction 46@2x.png">
</div>
</div>

</div>

<!-- SECTION-15 -->
<div class="container-fluid flex-15">
    <div class="flex-15-left-img">
        <img src="assets\Ui-ux-program img\Group 1194@2x.png">
    </div>
    <div class="flex-container">
        <div class="flex-15-center animate__animated  wow animate__zoomIn">
            <h1>
                Learn the tools you’ll use daily as a UX designer
            </h1>
        </div>
        <div class="flex-15-left">
            <div class="flex-15-text animate__animated  wow animate__fadeInLeft">
                <p>
                    We make sure students gain experience with best-practice 
                    tools, but our UX Design Program is more than just technical 
                    tutorials — it's teaching you how to think, see, act and work like
                    a designer.
                </p>
            </div>
            <div class="flex-15-text-2 animate__animated  wow animate__fadeInLeft">
                <p>
                    Felix ITs' also has deals with many of the industry’s top software 
                    providers, meaning you’ll have access to discounts and free
                    trials for industry-standard tools such as: Sketch, Adobe XD,
                    Figma, Invision and Axure.
                </p>

                <div class="flex-15-bottom-img">
                    <img src="assets\Ui-ux-program img\Subtraction 7@2x.png">
                </div>
                <div class="flex-15-bottom-img-right">
                    <img src="assets\Ui-ux-program img\Group 1231@2x.png">
                </div>
            </div>
        </div>
        <div class="flex-15-right animate__animated  wow animate__fadeInRight">
            <div class="flex-15-img">
                <img src="assets\Ui-ux-program img\Group 1486@2x.png">

            </div>

        </div>

    </div>

</div>

<!-- SECTION-16 -->

<div class="container-fluid flex-12">

    <div class="flex-container">
        <div class="flex-12-left">
            <div class="col flex-12-img animate__animated  wow animate__zoomIn">

                <img src="assets\Ui-ux-program img\Group 1478@2x.png">
            </div>

        </div>
        <div class="flex-12-right">

            <div class="flex-12-text animate__animated  wow animate__zoomIn">

                <p>
                    <span><img src="assets\Ui-ux-program img\Icon metro-quote@2x.png"></span>I found the curriculum
                    excellent. Even from before the course itself began, I found the course prep section 
                    really helpful. I really liked that there was a great balance between theory and practical
                    applications and 
                    really have to congratulate on the structure of the course, building as it does from an intro to the
                    tools and 
                    moving onward on each task to more complex themes. The platform I found really easy to use,
                    intuitive and 
                    nicely designed.
                </p>
                <h2>
                    Student name
                </h2>
                <div class="logo">
                    <img src="assets\Ui-ux-program img\logonew@2x.png">
                </div>
            </div>
        </div>
    </div>

</div>

<!-- SECTION-17 -->

<div class="container-fluid flex-17">

    <div class="flex-container ">
        <div class="header-17 animate__animated  wow animate__zoomIn">
            <h1>
                Title to be added later
            </h1>
        </div>
        <div class="flex-left-17 animate__animated  wow animate__fadeInLeft">
            <div class="col flex-17-img">
                <img src="assets\Ui-ux-program img\Group 1488@2x.png">
            </div>

        </div>

        <div class="flex-right-17">
            <div class="col flex-17-text  animate__animated  wow animate__fadeInRight">
                <div class="flex-17-top-img">
                    <img src="assets\Ui-ux-program img\Subtraction 47@2x.png">
                </div>
                <div class="flex-17-right-img">
                    <img src="assets\Ui-ux-program img\Group 1231@2x.png">
                </div>
                <h1>
                    Follow a flexible pace
                </h1>

                <p>
                    There are no live tutorials or webinars and you’re not required to be online at specific times.
                    You'll have access to the course material in written form along with supplementary videos,
                    and you'll work through the lessons in your own time, with your Tutor and Mentor reviewing
                    them as you go.
                </p>
                <div class="flex-17-bottom-img">
                    <img src="assets\Ui-ux-program img\Group 1248@2x.png">
                </div>
                <div class="flex-17-bottom-im-right">
                    <img src="assets\Ui-ux-program img\Subtraction 7@2x.png">
                </div>
            </div>

        </div>

    </div>

</div>



<!-- SECTION-18 -->
<div class="container-fluid flex-18">
    <div class="flex-18-left-img">

        <img src="assets\Ui-ux-program img\Group 1194@2x.png">

    </div>
    <div class="flex-container">
        <div class="flex-left-18">
            <div class="flex-18-text  animate__animated  wow animate__fadeInLeft    ">
                <div class="flex-18-text">
                    <h1>
                        Work towards project milestones
                        <img src="assets\Ui-ux-program img\Group 1231@2x.png">
                    </h1>
                    <p>
                        Your daily/weekly schedule might differ due to the variety of your coursework and your other
                        commitments. Even though the program is flexibly paced, you still have a 10-month deadline
                        with interim milestones.
                    </p>
                </div>

            </div>
            <div class="flex-18-img-bottom">
                <img src="assets\Ui-ux-program img\Subtraction 47@2x.png">
            </div>
        </div>

        <div class="flex-right-18">
            <div class="flex-18-img  animate__animated  wow animate__fadeInRight">
                <img src="assets\Ui-ux-program img\Group 1489@2x.png">

            </div>
        </div>
    </div>

</div>

<!-- SECTION-19 -->
<div class="container-fluid flex-19">
    <div class="flex-19-right-square">
        <img src="assets\Ui-ux-program img\Group 1193@2x.png ">
    </div>
    <div class="flex-container">
        <div class="flex-left-19">
            <div class="col flex-19-img  animate__animated  wow animate__fadeInLeft">
                <img src="assets\Ui-ux-program img\Group 1490@2x.png">
            </div>
        </div>

        <div class="flex-right-19">
            <div class="flex-19-right-img">
                <img src="assets\Ui-ux-program img\Subtraction 47@2x.png">
            </div>

            <div class="col flex-19-text  animate__animated  wow animate__fadeInRight">

                <h1>
                    Get support & accountability
                    <img src="assets\Ui-ux-program img\Group 1231@2x.png">
                </h1>

                <p>
                    Both our own research and the advice we receive from former students tell us that the key to
                    doing well and completing the program on time is submitting tasks regularly. We'll help you
                    stay on track by providing you with a progress and time meter, plus regular check-ins from
                    your dedicated Student Advisor. If you need to take a break for vacation or sick days, this can
                    be discussed with your Student Advisor—they're always there to help!
                </p>
            </div>
            <div class="flex-17-bottom-im-right">
                <img src="assets\Ui-ux-program img\Subtraction 7@2x.png">
            </div>
        </div>


    </div>
</div>


<!-- SECTION-20 -->

<div>
    <div class="grp-1348">
        <img src="assets\Ui-ux-program img\Group 1193@2x.png">
      </div>
    <app-attend-free-webinar></app-attend-free-webinar>

</div>

