<div class="container-fluid portfolio">
    <img id="grp-1843" src="assets\portfolio-img\Group 1845@2x.png">
        <div class="container">
            <div id="carouselExampleIndicators" class="carousel slide " data-ride="carousel">
                <ul class="carousel-indicators">
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" data-slide="prev" >
                      <span >
                        <img src="assets\career\Group 1849@2x.png">
                      </span>
                    </a> 
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" ></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" ></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                   <a class="carousel-control-next" href="#carouselExampleIndicators" data-slide="next">
                      <span >
                        <img src="assets\career\Group 1847@2x.png">
                      </span>
                    </a> 
                  </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active coursel-img">
                            <div class="row">
                                <div class="col coursel-col">
                                    <div class="row" style="width:90%;  margin-left:auto;margin-right: auto;">
                                        <div class="col" >
                                            <img src="assets\portfolio-img\Group 1837@2x.png">
                                        </div>
                                        <div class="col">
                                            <img src="assets\portfolio-img\Group 1838@2x.png">
                                        </div>

                                        <div class="col">
                                            <img src="assets\portfolio-img\Group 1839@2x.png">
                                        </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col coursel-col">
                                    <div class="row" style="width:90%;  margin-left:auto;margin-right: auto;">
                                        <div class="col" >
                                            <img src="assets\portfolio-img\Group 1836@2x.png">
                                        </div>
                                        <div class="col">
                                  
                                            <img src="assets\portfolio-img\Group 1840@2x.png">
                                        </div>
                                        <div class="col">
                                    
                                            <img src="assets\portfolio-img\Group 1842@2x.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="carousel-item coursel-img">
                        <div class="row">
                            <div class="col coursel-col">
                                <div class="row" style="width:90%;  margin-left:auto;margin-right: auto;">
                                    <div class="col" >
                                        <img src="assets\portfolio-img\Group 1837@2x.png">
                                    </div>
                                    <div class="col">
                                        <img src="assets\portfolio-img\Group 1838@2x.png">
                                    </div>

                                    <div class="col">
                                  
                                        <img src="assets\portfolio-img\Group 1839@2x.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col coursel-col">
                                <div class="row" style="width:90%;margin-left:auto;margin-right: auto;">
                                    <div class="col" >
                                        <img src="assets\portfolio-img\Group 1836@2x.png">
                                    </div>
                                    <div class="col">
                                        <img src="assets\portfolio-img\Group 1840@2x.png">
                                    </div>
                                    <div class="col">
                                
                                        <img src="assets\portfolio-img\Group 1842@2x.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="carousel-item coursel-img">
                        <div class="row">
                            <div class="col coursel-col">
                                <div class="row " style="width:90%;  margin-left:auto;margin-right: auto;">
                                    <div class="col" >
                                        <img src="assets\portfolio-img\Group 1837@2x.png">
                                    </div>
                                    <div class="col">
                                        <img src="assets\portfolio-img\Group 1838@2x.png">
                                    </div>
                                    <div class="col">
                                        <img src="assets\portfolio-img\Group 1839@2x.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col coursel-col">
                                <div class="row" style="width:90%;  margin-left:auto;margin-right: auto;">
                                    <div class="col" >
                                        <img src="assets\portfolio-img\Group 1836@2x.png">
                                    </div>
                                    <div class="col">
                                        <img src="assets\portfolio-img\Group 1840@2x.png">
                                    </div>
                                    <div class="col">
                                        <img src="assets\portfolio-img\Group 1842@2x.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item coursel-img">
                        <div class="row">
                            <div class="col coursel-col">
                                <div class="row " style="width:90%;  margin-left:auto;margin-right: auto;">
                                    <div class="col" >
                                        <img src="assets\portfolio-img\Group 1837@2x.png">
                                    </div>
                                    <div class="col">
                                        <img src="assets\portfolio-img\Group 1838@2x.png">
                                    </div>
                                    <div class="col">
                                        <img src="assets\portfolio-img\Group 1839@2x.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col coursel-col">
                                <div class="row" style="width:90%;  margin-left:auto;margin-right: auto;">
                                    <div class="col" >
                                        <img src="assets\portfolio-img\Group 1836@2x.png">
                                    </div>
                                    <div class="col">
                                        <img src="assets\portfolio-img\Group 1840@2x.png">
                                    </div>
                                    <div class="col">
                                        <img src="assets\portfolio-img\Group 1842@2x.png">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>


        <!-- Portfolio-view-more section -->
<div class="container-fluid portfolio-view-more">
<div class="row">
    <div class="portfolio-img">
    <div class="col-md-12 slide-up" id="div4">
        <img src="assets\portfolio-img\Group 1837@2x.png">
    </div>
    <div class="col-md-12 slide-up" id="div5" >
        <img src="assets\portfolio-img\Group 1838@2x.png">
    </div> 
    <div class="col-md-12 slide-up" id="div1">
        <img src="assets\portfolio-img\Group 1839@2x.png">
    </div>
 
</div>
</div>

<span  *ngIf="showMe" class="span-section" >
    <div class="row">
 <div class="col-md-12 slide-up" id="div4">
    <img src="assets\portfolio-img\Group 1836@2x.png">
</div>
 <div class="col-md-12 slide-up" id="div5">
    <img src="assets\portfolio-img\Group 1840@2x.png">
</div> 
<div class="col-md-12 slide-up" id="div1">
    <img src="assets\portfolio-img\Group 1842@2x.png">
</div>
 <div class="col-md-12 slide-up" id="div3">
    <img src="assets\portfolio-img\Group 1837@2x.png">
</div> 
</div>
</span>
<div class="view-more slide-up" routerLink="#" routerLinkActive="active">
    <button type="button" class="btn" (click)="toogleTag()">{{ showMe ? 'View Less ': 'View More ' }}</button> 
  </div>
</div>