<!-- SECTION-1 -->
<div class="flex-container section-1">
  <div class="flex-item-left animate__animated  wow animate__fadeInLeft">
    <img id="grp-1" src="assets\Ui-ux-program img\Group 1248@2x.png">
    <div class="left-flex-img">
      <img src="assets\Ui-Design-img\Group 1754@2x.png">
    </div>
    <img id="grp-2" src="assets\Ui-ux-program img\Group 1231@2x.png">
    <img id="grp-3" src="assets\Ui-ux-program img\Group 1193@2x.png">
    <img id="sub-4" src="assets\Ui-ux-program img\Subtraction 47@2x.png">
    <img id="grp-5" src="assets\Ui-ux-program img\Group 1248@2x.png">
  </div>
  <div class="flex-item-right">
    <div class="col">
      <div class="right-flex-img">
        <img src="assets\Ui-Design-img\Group 359@2x.png">
      </div>
      <img id="sub-6" src="assets\Ui-ux-program img\Subtraction 7@2x.png">
      <div class="right-flex-text">
        <div class=" animate__animated  wow animate__fadeInRight">
        <h1 >UI Design</h1>
        <p>Learn all of the skills, tools, and processes you need to
          become a UX designer. Learn all of the skills, tools, and
          processes you need to become a UX designer.</p>
         
        </div>
        <div class="flex-container flex-1-img-text animate__animated  wow animate__fadeInRight">
        
          <div class="flex-img ">
            <img src="assets\Ui-Design-img\Group 1763@2x.png">
          </div>
          <div class="flex-text ">
            <h3> Become a UI designer<br>
              <span>
                In under 1 months
              </span>
            </h3>
          </div>

          <div class="flex-img">
            <img src="assets\Ui-Design-img\Group 1764@2x.png">
          </div>
          <div class="flex-text">
            <h3>
              Learn flexibly online<br>
              <span>
                without having to quit your job
              </span>
            </h3>
          </div>

          <div class="flex-img">
            <img src="assets\Ui-Design-img\Group 1765@2x.png">
          </div>
          <div class="flex-text">
            <h3>
              Work with expert mentors <br>
              <span>
                and build your portfolio
              </span>
            </h3>
          </div>
        </div>




        <div class="flex-1-button">
          <div class="abt animate__animated  wow animate__fadeInRight">
            <button type="button" class="btn ">Attend A Free Session</button>
          </div>
        </div>
        <img id="grp-8" src="assets\Ui-ux-program img\Group 1248@2x.png">
      </div>
    </div>
    <img id="grp-7" src="assets\Ui-ux-program img\Group 1231@2x.png">
  </div>
</div>

<!-- SECTION-2 -->
<div class="container-fluid ">
  <div class="flex-heading animate__animated  wow animate__zoomIn">
    <h1> UX Design Program details</h1>
    <p>In this program, you will</p>
  </div>
</div>
<!-- PART-1 -->
<img id="grp-9" src="assets\Ui-ux-program img\Group 419@2x.png">
<img id="grp-10" src="assets\Ui-ux-program img\Group 1193@2x.png">
<div class="flex-container flex-section-2" >
  <div class="flex-item-left-1 animate__animated  wow animate__fadeInUp">
    <div class="col-md-6 col-sm-12 flex-left-img">
      <img src="assets\Ui-Design-img\Group 1766@2x.png">
    </div>
    <div class=" flex-left-text">
      <div class="col col-sm-12  card-title">
        <h3>1</h3>
      </div>
      <div class="col col-sm-12 ">
        <p>Learn all of the skills, tools,
          and processes you need to
          become a UI designe</p>
      </div>
    </div>
  </div>

  <div class="flex-item-right-1">
    <div class="grp-1794">
      <img src="assets\Ui-Design-img\Group 1794@2x.png">
    </div>

  </div>

  <!-- PART-2 -->
  <div class="flex-item-left-2">
    <div class="grp-1797">
      <img src="assets\Ui-Design-img\Group 1797@2x.png">
    </div>
  </div>

  <div class="flex-item-right-2 animate__animated  wow animate__fadeInUp">
    <div class="col-md-6 col-sm-12 flex-left-img">
      <img src="assets\Ui-Design-img\Group 1767@2x.png">
    </div>
    <div class=" flex-left-text">
      <div class="col col-sm-12  card-title">
        <h3>2</h3>
      </div>
      <div class="col col-sm-12 ">
        <p>Work with a mentor who
          has over 5 years of industry
          experience and a tutor for
          your day-to-day feedback</p>
      </div>
    </div>
  </div>
  <!-- PART-3 -->

  <div class="flex-item-left-1 animate__animated  wow animate__fadeInUp">
    <div class="col-md-6 col-sm-12 flex-left-img">
      <img src="assets\Ui-Design-img\Group 1768@2x.png">
    </div>
    <div class="flex-left-text">
      <div class="col col-sm-12  card-title">
        <h3>3</h3>
      </div>
      <div class="col col-sm-12 ">
        <p>Receive tailored coaching
          from our Career Services
          Team to ensure you stand
          out at interviews</p>
      </div>
    </div>

  </div>
  <div class="flex-item-right-1">
    <div class="grp-1795">
      <img src="assets\Ui-Design-img\Group 1795@2x.png">
    </div>

  </div>

  <!-- PART-4 -->

  <div class="flex-item-left-2">
    <div class="grp-1798">
      <img src="assets\Ui-Design-img\Group 1798@2x.png">
    </div>
  </div> 
  <div class="flex-item-right-2 animate__animated  wow animate__fadeInUp">
    <div class="col-md-6 col-sm-12 flex-left-img">
      <img src="assets\Ui-Design-img\Group 1769@2x.png">
    </div>
    <div class=" flex-left-text">
      <div class="col col-sm-12  card-title">
        <h3>4</h3>
      </div>
      <div class="col col-sm-12 ">
        <p>Receive tailored coaching
          from our Career Services
          Team to ensure you stand
          out at interviews</p>
      </div>
    </div>
  </div>

  <div class="flex-item-left-1 animate__animated  wow animate__fadeInUp">
    <div class="col-md-6 col-sm-12 flex-left-img">
      <img src="assets\Ui-Design-img\Group 1771@2x.png">
    </div>
    <div class=" flex-left-text">
      <div class="col col-sm-12  card-title">
        <h3>5</h3>
      </div>
      <div class="col col-sm-12 ">
        <p>Receive tailored coaching
          from our Career Services
          Team to ensure you stand
          out at interviews</p>
      </div>
    </div>
  </div>
  <div class="flex-item-right-1"></div>
</div>


<!-- SECTION-3 -->
<div class="container-fluid section-3">
  <div class="left-side-section-3">
    <img src="assets\Uiux-image\Group 1194@2x.png">
  </div>
  <div class="row row-pd">
    <div class="col-md animate__animated  wow animate__fadeInLeft" >
      <div class="row">
        <h1> <span> <img src="assets\Uiux-image\Group 1426@2x.png"></span>Fully Online</h1>
      </div>

      <p>6 months at 30-40 hrs/week or up <br>
        to 10 months at 15-20 hrs/week</p>
    </div>
    <div class="col-md animate__animated  wow animate__fadeInUp">
      <div class="row">

        <h1> <span> <img src="assets\Uiux-image\Group 1423@2x.png"></span>Personal Mentor</h1>
      </div>
      <p>Our UX mentors are rated 4.93/5 <br>
        from over 4000 student reviews
      </p>
    </div>
    <div class="col-md animate__animated  wow animate__fadeInRight">
      <div class="row">
        <h1> <span> <img src="assets\Uiux-image\Group 1427@2x.png"></span>Career Support</h1>
      </div>

      <p>Free job preparation course and <br>
        expert career coaching included</p>
    </div>

  </div>
  <div class="right-sec-3-img" style="float: right;">
    <img src="assets\Uiux-image\Group 1193@2x.png">
  </div>
</div>

<!-- SECTION-4 -->

<div class="flex-container section-4">
  <div class="sec-4-left">
    <div class="sec-4-text animate__animated  wow animate__fadeInLeft">
      <img id="sub-11" src="assets\Ui-ux-program img\Subtraction 47@2x.png">
      <h1>
        Find the right learning path for you
      </h1>

      <p>
        Learn all of the skills, tools, and processes you need to become a UX 
        designer. Learn all of the skills, tools, and processes you need to 
        become a UX designer. Learn all of the skills, tools, and processes you 
        need to become a UX designer. Learn all of the skills, tools, and processes 
        you need to become a UX designer.
      </p>
      <div class="abt button-1">
        <button type="button" class="btn-2 ">See Curriculum</button>
      </div>
      <img id="grp-12" src="assets\Ui-ux-program img\Group 1231@2x.png">
    </div>
  </div>
  <img id="grp-13" src="assets\Ui-ux-program img\Subtraction 7@2x.png">
  <img id="grp-14" src="assets\Ui-ux-program img\Group 1248@2x.png">
  <div class="sec-4-right animate__animated  wow animate__fadeInRight">
    <img src="assets\Ui-Design-img\Group 1773@2x.png">
  </div>

</div>

<!-- STICKY NAV -->


<div class="container-fluid navigation-link justify-content-center" id="navbar_top" >
  <div class="row nav-bar">
<nav class="navbar navbar-expand-lg sticky-top  navbar-light" >
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler9"
              aria-controls="navbarToggler9" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggler9">
              <ul class="navbar-nav">
                  <li class="nav-item" (click)="inView(item1)">
                      <a class="nav-link" >Why UI?</a>
                  </li>
                  <li class="nav-item" (click)="inView(item2)">
                      <a class="nav-link" >Why FelixIts?</a>
                  </li>
                  <li class="nav-item" (click)="inView(item3)">
                      <a class="nav-link" >Success Stories</a>
                  </li>
                  <li class="nav-item" (click)="inView(item4)">
                      <a class="nav-link" >Admission Criteria</a>
                  </li>
                  <li class="nav-item" (click)="inView(item5)">
                      <a class="nav-link">What you’ll get?</a>
                  </li>
                  <li class="nav-item" (click)="inView(item6)">
                      <a class="nav-link" >FAQ</a>
                  </li>
                  <li class="btn-nav">
                      <button class="nav-item">
                      <p>
                       Get in touch                 
                      </p>   
                     </button> 
                      </li>
                   </ul>
                 </div>
                 </nav>
               </div>
              </div> 



<!-- SECTION-6 -->

<div class="container-fluid section-6" #item1>
  <img id="grp-18" src="assets\Ui-ux-program img\Group 1194@2x.png">
  <div class="section-6-head">
    <img id="grp-15" src="assets\Ui-ux-program img\Subtraction 7@2x.png">
    <h1 class="animate__animated  wow animate__zoomIn">Why become a UI designer?</h1>
    <img id="grp-16" src="assets\Ui-ux-program img\Group 1248@2x.png">
  </div>
  <div class="row ">
    <div class="col-md-4 animate__animated  wow animate__fadeInUp">
      <div class="col card-border">
        <div class="card card-1">
          <div class="row">
            <div class="col-md-4 card-sec">
              <img src="assets\Ui-Design-img\Group 1775@2x.png" class="card-img-top" alt="...">
            </div>
            <div class="col card-head">
              <h1>
                A creative job
                you will love
              </h1>
            </div>
          </div>
          <hr>
          <div class="card-body">
            <p class="card-text">
              UI is a satisfying job if you're
              curious about human behaviour
              and passionate about how design
              shapes the products and
              experiences around you.
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-4 animate__animated  wow animate__fadeInUp">
      <div class="col card-border">

        <div class="card card-2 ">
          <div class="row">
            <div class="col-md-4 card-sec">
              <img src="assets\Ui-Design-img\Group 1781@2x.png" class="card-img-top" alt="...">
            </div>
            <div class="col card-head">
              <h1>
                High demand
                means high pay
              </h1>
            </div>
          </div>
          <hr>
          <div class="card-body">
            <p class="card-text">
              Employers struggle to find qualified
              UI designers and the demand keeps
              growing. The average Junior UI
              Designer salary in the United States
              is $69,489 per year, while Senior UI
              Designers can earn as much as
              $119,841.
            </p>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-4 animate__animated  wow animate__fadeInUp">
      <div class="col card-border ">
        <div class="card card-3">
          <div class="row">
            <div class="col-md-4 card-sec">
              <img src="assets\Ui-Design-img\Group 1782@2x.png" class="card-img-top" alt="...">
            </div>
            <div class="col card-head">
              <h1>
                A flexible career
                path
              </h1>
            </div>
          </div>
          <hr>
          <div class="card-body">
            <p class="card-text">
              As a UI designer, you'll have the
              opportunity to work for startups,
              agencies, large corporates, on a
              freelance basis, or even remotely.
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
  <img id="grp-17" src="assets\Ui-ux-program img\Group 1193@2x.png">
  <img id="grp-19" src="assets\Ui-ux-program img\Group 1231@2x.png">

</div>

<!-- SECTION-7 -->
<div class="container-fluid section-7" #item2>
  <div class="sec-7-head">

    <h1 class="animate__animated  wow animate__zoomIn">
      Why choose Felix ITs'?
    </h1>
    <img id="grp-20" src="assets\Ui-ux-program img\Subtraction 7@2x.png">
  </div>
  <img id="grp-18" src="assets\Ui-ux-program img\Group 1194@2x.png">

  <div class="flex-container sec-7-inner">
    <!-- row-1 -->
    <div class="sec-7-left animate__animated  wow animate__fadeInLeft">
      <img src="assets\Ui-Design-img\Group 1783@2x.png">
    </div>
    <div class="sec-7-right">
      <img id="grp-21" src="assets\Ui-ux-program img\Subtraction 47@2x.png">
      <div class="sec-7-text animate__animated  wow animate__fadeInRight ">
        <h1>
          Human-centric learning
        </h1>
        <p>
          Our dual mentorship model ensures that you get all the support you need.
          You’ll have both a tutor—an experienced UI designer responsible for evaluating
          your exercises within 24 hours of submission, and a mentor—a UI industry expert
          who gives detailed written, video, and on-call feedback on your portfolio pieces.
        </p>
      </div>
    </div>

    <!-- row-2 -->
    <div class="sec-7-left-2">
      <div class="sec-7-text animate__animated  wow animate__fadeInLeft">
        <img id="grp-22" src="assets\Ui-ux-program img\Group 1193@2x.png">
        <img id="grp-23" src="assets\Ui-ux-program img\Group 1248@2x.png">
        <h1>
          Flexibility with accountability
        </h1>
        <p>
          Study at a flexible pace within the 9-month program duration, working a
          minimum of 15 hours per week. Your mentor, tutor, student advisor, and career
          specialist will help you stay on track and accountable.
        </p>
      </div>
      <img id="grp-24" src="assets\Ui-ux-program img\Subtraction 7@2x.png">
    </div>
    <div class="sec-7-right-2">
      <div class="sec-7-right-img animate__animated  wow animate__fadeInRight">
        <img src="assets\Ui-Design-img\Group 1784@2x.png">
      </div>
      <img id="grp-25" src="assets\Ui-ux-program img\Group 1231@2x.png">
    </div>


    <!-- row-3 -->

    <div class="sec-7-left animate__animated  wow animate__fadeInLeft">
      <img src="assets\Ui-Design-img\Group 1785@2x.png">
    </div>
    <div class="sec-7-right">
      <img id="grp-26" src="assets\Ui-ux-program img\Group 1193@2x.png">
      <div class="sec-7-text animate__animated  wow animate__fadeInRight">
        <h1>
          Successful, satisfied graduates
        </h1>
        <p>
          With 96% of our eligible alumni getting a tech job within 180 days of graduation
          at top companies—including Google, Apple, and Amazon—you can be confident
          that taking the program will get you where you want to go: working as a UI
          designer in a job you love.
        </p>
      </div>
      <img id="grp-27" src="assets\Ui-ux-program img\Subtraction 47@2x.png">
    
    </div>

  </div>
  <div class="flex-7-button">
    <div class="abt">
      <button type="button" class="btn-3">Discover More</button>
    </div>
  </div>
</div>

<div #item3 style="padding: 50px 0px 0px 0px;"> 
<!---card-slder section--->
<app-card-slider></app-card-slider>

<!-- card-slder section-close -->


<!-- SECTION-9 -->

<div class="container-fluid carousel-text">
  <h1 class="animate__animated  wow animate__zoomIn">
    Portfolio projects
  </h1>
  <img id="img-1" src="assets\Uiux-image\Subtraction 48@2x.png">
  <img id="img-2" src="assets\Uiux-image\Group 415@2x.png">
  <img id="img-3" src="assets\Uiux-image\Group 1205@2x.png">
  <img id="img-5" src="assets\Uiux-image\Group 1354@2x.png">
  <div class="carousel-section">
    <app-portfolio-project></app-portfolio-project>
  </div>
  <img id="img-4" src="assets\Uiux-image\Subtraction 46@2x.png">
</div>


<!-- CARD-DISPLAY-SECTION -->
<div>
  <app-card-display></app-card-display>
</div>

</div>

<!-- SECTION-8 -->
<div class="container-fluid section-8" #item4>
  <div class="sec-8-head">
    <img id="grp-28" src="assets\Ui-ux-program img\Group 1248@2x.png">
    <h1 class="animate__animated  wow animate__zoomIn">
      UX Design Program admission criteria
    </h1>
  </div>
  <div class="flex-container">
    <div class="flex-8-left ">
      <div class="flex-item-right2">
        <div class="animate__animated  wow animate__fadeInLeft ">
          <h1>
            <span><img src="assets\Uiux-image\Icon awesome-check@2x.png"> </span> What you need
          </h1>
        </div>

        <div class="animate__animated  wow animate__fadeInLeft ">
          <h2>
            The motivation to transform your career
          </h2>
          <p> The program requires commitment as it takes about 600 hours to complete. You <br>
            should be prepared to set aside at least 15-20 hours per week to study. </p>

        </div>
        <div class="flex-right-text animate__animated  wow animate__fadeInLeft ">
          <h2>
            A computer (Mac or PC) and an internet connection.
          </h2>
        </div>
        <div class="animate__animated  wow animate__fadeInLeft ">
          <img id="grp-29" src="assets\Ui-ux-program img\Group 1231@2x.png">
          <h2>
            An interest in UX design
          </h2>
          <p>
            If you're already reading books and blog posts about UX, that is a great start. If you are
            unsure that UX is really for you, here are some great ways to explore it:
          </p>

        </div>
     
        <div class="col-md-12  sec-8-text animate__animated  wow animate__fadeInLeft ">
          <div class="row">
            <div class="col-sm-1 " style="width: 20%;">
              <img src="assets\Uiux-image\Line 136@2x.png"> 
            </div>
            <div class="col-md-11" style="width: 80%;">
        <p>
          Take our free UX short course.
        </p>
            </div>
            </div>
            <div class="row">
              <div class="col-sm-1 " style="width: 20%;">
                <img src="assets\Uiux-image\Line 136@2x.png">
              </div>
              <div class="col-md-11" style="width: 80%;">
          <p>
            Learn about the difference between UX and UI design.
          </p>
              </div>
            </div>
        <div class="row">
          <div class="col-sm-1" style="width: 20%;">
            <img src="assets\Uiux-image\Line 136@2x.png">
          </div>
          <div class="col-md-11 "style="width: 80%;">
        <p>
          Get a free consultation with one of our program advisors.
        </p>
          </div>
        </div>
  
        
        </div>
      </div>
      <img id="grp-30" src="assets\Ui-ux-program img\Subtraction 47@2x.png">
      <img id="grp-32" src="assets\Ui-ux-program img\Group 1248@2x.png">
    </div>
    <div class="flex-8-right">
      <div class="flex-8-img animate__animated  wow animate__fadeInRight">
        <img id="grp-31" src="assets\Ui-ux-program img\Group 1248@2x.png">
        <img src="assets\Ui-Design-img\Group 1790@2x.png">
      </div>
    </div>
  </div>
</div>

<!-- SECTION-9 -->
<div class="container-fluid section-9"  >
  <div class="flex-container">
    <div class="flex-9-left">
      <div class="flex-8-img animate__animated  wow animate__fadeInLeft ">
        <img src="assets\Ui-Design-img\Group 1791@2x.png">
      </div>
    </div>

    <div class="flex-9-right">
      <div class="head-text animate__animated  wow animate__fadeInRight" >
        <h1>
          <span>
            <img src="assets\Uiux-image\Icon metro-cross@2x.png">
          </span> What you <span style="color: #ed1c24;">don't</span> need:
        </h1>
      </div>
      <img id="grp-33" src="assets\Ui-ux-program img\Group 1231@2x.png">
      <div class="head-text-2 animate__animated  wow animate__fadeInRight">
        <h1>
          A background in design or tech
        </h1>
        <p>
          You don’t need a college degree or previous work experience that is related to
          design or tech in order to be successful on the program or land a job. The program
          has been built to take you from beginner to job-ready. A study by job board Indeed
          found that 84% of employers think bootcamp grads are "more prepared" or "just as
          prepared" to be high performers as degree holders (Indeed).
        </p>

      </div>
      <div class="head-text-2 animate__animated  wow animate__fadeInRight">
        <h1>
          Unlimited free time.
        </h1>
        <p>
          You can study part-time alongside your job at 15-20 hours per week to finish the
          program in 10 months, which is the maximum program length. You can also
          complete the program faster than this by studying up to 30-40 hours per week.
        </p>
      </div>
      <div class="head-text-2 animate__animated  wow animate__fadeInRight">
        <h1>
          To learn all on your own
        </h1>
        <p>
          The program combines the flexibility of online learning with the accountability and
          one-on-one attention traditionally associated with brick-and-mortar institutions.
          Much like a college professor might inspire you to pursue a career in a certain field,
          your mentor, tutor, career specialist and student advisor will all help keep you
          motivated and on track.
        </p>
      </div>
      <img id="grp-34" src="assets\Ui-ux-program img\Subtraction 47@2x.png">
    </div>


  </div>
</div>

<!-- section-10 -->

<div class="container-fluid section-10" #item5 #item6>
  <img id="grp-38" src="assets\Ui-ux-program img\Group 1193@2x.png">
  <div class="flex-container">
    <div class="flex-10-left">
      <img id="grp-35" src="assets\Ui-ux-program img\Group 1231@2x.png">
      <div class="sec-10-head animate__animated  wow animate__zoomIn">
        <h1>
          What you’ll get
        </h1>
        <img src="assets\Uiux-image\Group 1337@2x.png">
      </div>
  
<div class="col-md-12  sec-10-text">
  <div class="row animate__animated  wow animate__fadeInLeft ">
    <div class="col-sm-1 ">
      <img src="assets\Uiux-image\Group 1331@2x.png"> 
    </div>
    <div class="col">
<p>
  A project-based curriculum
</p>
    </div>
    </div>
    <div class="row animate__animated  wow animate__fadeInLeft ">
      <div class="col-sm-1 ">
        <img src="assets\Uiux-image\Group 1331@2x.png"> 
      </div>
      <div class="col ">
  <p>
  Job-ready skills
  </p>
      </div>
    </div>
<div class="row animate__animated  wow animate__fadeInLeft ">
  <div class="col-sm-1" >
    <img src="assets\Uiux-image\Group 1331@2x.png"> 
  </div>
  <div class="col ">
<p>
Support from a career specialist
</p>
  </div>
</div>
 <div class="row animate__animated  wow animate__fadeInLeft "> 
  <div class="col-sm-1">
    <img src="assets\Uiux-image\Group 1331@2x.png"> 
  </div>
  <div class="col">
<p>
Dedicated mentor and tutor
</p>
  </div>
 </div>
<div class="row animate__animated  wow animate__fadeInLeft ">
    <div class="col-sm-1">
      <img src="assets\Uiux-image\Group 1331@2x.png"> 
    </div>
    <div class="col">
<p>
  professional portfolio
</p>
    </div>
  </div>

</div>
      <div class="abt sec-10-btn animate__animated  wow animate__fadeInLeft ">
        <button type="button" class="btn-4 ">Attend A Free Session</button>
      </div>
      <img id="grp-37" src="assets\Ui-ux-program img\Subtraction 7@2x.png">
    </div>
    <div class="flex-10-right animate__animated  wow animate__fadeInRight">
      <img src="assets\Ui-Design-img\Group 1792@2x.png">
    </div>
  </div>
  <img id="grp-36" src="assets\Ui-ux-program img\Group 1194@2x.png">
</div>