<div class="container-fluid section-8 coursel-hide">
  <div class="grp-1343">
    <img src="assets\Uiux-image\Group 1343@2x.png">
  </div>
  <div class="col sec-8">
    <h1>Success Stories<span><img src="assets\Uiux-image\Group 1345@2x.png"></span></h1>
    <img id="sub-39" src="assets\Uiux-image\Subtraction 39@2x.png">
    <p> Our students go on to launch challenging new careers in the tech industry</p>
  </div>

  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="false" data-pause="hover">

    <!-- Indicators -->
    <div>
      <ul class="carousel-indicators hide-xs hide-sm">
        <a class="carousel-control-prev " href="#carouselExampleIndicators"  data-slide="prev">
          <span>
            <img src="assets\career\Group 1849@2x.png">
          </span>
        </a>
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <a class="carousel-control-next" href="#carouselExampleIndicators" data-slide="next">
          <span>
            <img src="assets\career\Group 1847@2x.png">

          </span>
        </a>
      </ul>
    </div>
    <div class="carousel-inner " data-interval="false hide-sm">

      <!-- first-slide -->

      <div class="carousel-item active">
        <div class="card-deck">
          <div class="card card-3">
            <div class="card-body">
              <div class="thumb-lg member-thumb mx-auto">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle img-thumbnail"
                  alt="profile-image">
              </div>
              <div class="profile-info hike-1">
                <p class="name"><b>Rohit Dhande</b></p>
                <p class="experience">1 year of Experience</p>
                <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">➚ %
                  hike</button>
              </div>
              <div>
                <hr>
              </div>
              <div class="row">
                <table class="profile-table">
                  <tr>
                    <td class="text-1">Was </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">Fresher</td>
                  </tr>
                  <tr>
                    <td class="text-1">Enrolled For</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2"> UI UX Designer</td>
                  </tr>
                  <tr>
                    <td class="text-1">Now </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">UI UX Designer</td>
                  </tr>
                  <tr>
                    <td class="text-1">Working At</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="img-card"><img src="assets\imageplacement\output-onlinepngtools-3@2x.png"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="card card-3">
            <div class="card-body">
              <div class="thumb-lg member-thumb mx-auto">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle img-thumbnail"
                  alt="profile-image">
              </div>

              <div class="profile-info hike-1">
                <p class="name"><b>Rohit Dhande</b></p>
                <p class="experience">1 year of Experience</p>
                <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">➚ %
                  hike</button>
              </div>
              <div>
                <hr>
              </div>
              <div class="row">
                <table class="profile-table">
                  <tr>
                    <td class="text-1">Was </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">Fresher</td>
                  </tr>
                  <tr>
                    <td class="text-1">Enrolled For</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2"> UI UX Designer</td>
                  </tr>
                  <tr>
                    <td class="text-1">Now </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">UI UX Designer</td>
                  </tr>
                  <tr>

                    <td class="text-1">Working At</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>

                    <td class="img-card">
                      <img src="assets\imageplacement\output-onlinepngtools-3@2x.png">
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="card card-3">
            <div class="card-body">
              <div class="thumb-lg member-thumb mx-auto">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle img-thumbnail"
                  alt="profile-image">
              </div>

              <div class="profile-info hike-1">
                <p class="name"><b>Rohit Dhande</b></p>
                <p class="experience">1 year of Experience</p>
                <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">➚ %
                  hike</button>
              </div>
              <div>
                <hr>
              </div>

              <div class="row">
                <table class="profile-table">
                  <tr>
                    <td class="text-1">Was </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">Fresher</td>
                  </tr>
                  <tr>
                    <td class="text-1">Enrolled For</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2"> UI UX Designer</td>
                  </tr>
                  <tr>
                    <td class="text-1">Now </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">UI UX Designer</td>
                  </tr>
                  <tr>

                    <td class="text-1">Working At</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>

                    <td class="img-card"><img src="assets\imageplacement\output-onlinepngtools-3@2x.png"></td>
                  </tr>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>

<!-- second-slide -->

      <div class="carousel-item ">
        <div class="card-deck">
          <div class="card card-3">
            <div class="card-body">
              <div class="thumb-lg member-thumb mx-auto">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle img-thumbnail"
                  alt="profile-image">
              </div>
              <div class="profile-info hike-1">
                <p class="name"><b>Rohit Dhande</b></p>
                <p class="experience">1 year of Experience</p>
                <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">➚ %
                  hike</button>
              </div>
              <div>
                <hr>
              </div>
              <div class="row">
                <table class="profile-table">
                  <tr>
                    <td class="text-1">Was </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">Fresher</td>
                  </tr>
                  <tr>
                    <td class="text-1">Enrolled For</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2"> UI UX Designer</td>
                  </tr>
                  <tr>
                    <td class="text-1">Now </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">UI UX Designer</td>
                  </tr>
                  <tr>
                    <td class="text-1">Working At</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="img-card"><img src="assets\imageplacement\output-onlinepngtools-3@2x.png"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="card card-3">
            <div class="card-body">
              <div class="thumb-lg member-thumb mx-auto">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle img-thumbnail"
                  alt="profile-image">
              </div>

              <div class="profile-info hike-1">
                <p class="name"><b>Rohit Dhande</b></p>
                <p class="experience">1 year of Experience</p>
                <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">➚ %
                  hike</button>
              </div>
              <div>
                <hr>
              </div>
              <div class="row">
                <table class="profile-table">
                  <tr>
                    <td class="text-1">Was </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">Fresher</td>
                  </tr>
                  <tr>
                    <td class="text-1">Enrolled For</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2"> UI UX Designer</td>
                  </tr>
                  <tr>
                    <td class="text-1">Now </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">UI UX Designer</td>
                  </tr>
                  <tr>

                    <td class="text-1">Working At</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>

                    <td class="img-card">
                      <img src="assets\imageplacement\output-onlinepngtools-3@2x.png">
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="card card-3">
            <div class="card-body">
              <div class="thumb-lg member-thumb mx-auto">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle img-thumbnail"
                  alt="profile-image">
              </div>

              <div class="profile-info hike-1">
                <p class="name"><b>Rohit Dhande</b></p>
                <p class="experience">1 year of Experience</p>
                <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">➚ %
                  hike</button>
              </div>
              <div>
                <hr>
              </div>

              <div class="row">
                <table class="profile-table">
                  <tr>
                    <td class="text-1">Was </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">Fresher</td>
                  </tr>
                  <tr>
                    <td class="text-1">Enrolled For</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2"> UI UX Designer</td>
                  </tr>
                  <tr>
                    <td class="text-1">Now </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">UI UX Designer</td>
                  </tr>
                  <tr>

                    <td class="text-1">Working At</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>

                    <td class="img-card"><img src="assets\imageplacement\output-onlinepngtools-3@2x.png"></td>
                  </tr>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>

<!-- third-slide -->

      <div class="carousel-item">
        <div class="card-deck">
          <div class="card card-3">
            <div class="card-body">
              <div class="thumb-lg member-thumb mx-auto">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle img-thumbnail"
                  alt="profile-image">
              </div>
              <div class="profile-info hike-1">
                <p class="name"><b>Rohit Dhande</b></p>
                <p class="experience">1 year of Experience</p>
                <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">➚ %
                  hike</button>
              </div>
              <div>
                <hr>
              </div>
              <div class="row">
                <table class="profile-table">
                  <tr>
                    <td class="text-1">Was </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">Fresher</td>
                  </tr>
                  <tr>
                    <td class="text-1">Enrolled For</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2"> UI UX Designer</td>
                  </tr>
                  <tr>
                    <td class="text-1">Now </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">UI UX Designer</td>
                  </tr>
                  <tr>

                    <td class="text-1">Working At</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>

                    <td class="img-card"><img src="assets\imageplacement\output-onlinepngtools-3@2x.png"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>


          <div class="card card-3">
            <div class="card-body">
              <div class="thumb-lg member-thumb mx-auto">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle img-thumbnail"
                  alt="profile-image">
              </div>

              <div class="profile-info hike-1">
                <p class="name"><b>Rohit Dhande</b></p>
                <p class="experience">1 year of Experience</p>
                <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">➚ %
                  hike</button>
              </div>
              <div>
                <hr>
              </div>
              <div class="row">
                <table class="profile-table">
                  <tr>
                    <td class="text-1">Was </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">Fresher</td>
                  </tr>
                  <tr>
                    <td class="text-1">Enrolled For</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2"> UI UX Designer</td>
                  </tr>
                  <tr>
                    <td class="text-1">Now </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">UI UX Designer</td>
                  </tr>
                  <tr>

                    <td class="text-1">Working At</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>

                    <td class="img-card">
                      <img src="assets\imageplacement\output-onlinepngtools-3@2x.png">
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="card card-3">
            <div class="card-body">
              <div class="thumb-lg member-thumb mx-auto">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle img-thumbnail"
                  alt="profile-image">
              </div>

              <div class="profile-info hike-1">
                <p class="name"><b>Rohit Dhande</b></p>
                <p class="experience">1 year of Experience</p>
                <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">➚ %
                  hike</button>
              </div>
              <div>
                <hr>
              </div>

              <div class="row">
                <table class="profile-table">
                  <tr>
                    <td class="text-1">Was </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">Fresher</td>
                  </tr>
                  <tr>
                    <td class="text-1">Enrolled For</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2"> UI UX Designer</td>
                  </tr>
                  <tr>
                    <td class="text-1">Now </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">UI UX Designer</td>
                  </tr>
                  <tr>

                    <td class="text-1">Working At</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>

                    <td class="img-card"><img src="assets\imageplacement\output-onlinepngtools-3@2x.png"></td>
                  </tr>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>

<!-- 4th-slide -->

      <div class="carousel-item">
        <div class="card-deck">
          <div class="card card-3">
            <div class="card-body">
              <div class="thumb-lg member-thumb mx-auto">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle img-thumbnail"
                  alt="profile-image">
              </div>
              <div class="profile-info hike-1">
                <p class="name"><b>Rohit Dhande</b></p>
                <p class="experience">1 year of Experience</p>
                <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">➚ %
                  hike</button>
              </div>
              <div>
                <hr>
              </div>
              <div class="row">
                <table class="profile-table">
                  <tr>
                    <td class="text-1">Was </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">Fresher</td>
                  </tr>
                  <tr>
                    <td class="text-1">Enrolled For</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2"> UI UX Designer</td>
                  </tr>
                  <tr>
                    <td class="text-1">Now </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">UI UX Designer</td>
                  </tr>
                  <tr>

                    <td class="text-1">Working At</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>

                    <td class="img-card"><img src="assets\imageplacement\output-onlinepngtools-3@2x.png"></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>


          <div class="card card-3">
            <div class="card-body">
              <div class="thumb-lg member-thumb mx-auto">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle img-thumbnail"
                  alt="profile-image">
              </div>

              <div class="profile-info hike-1">
                <p class="name"><b>Rohit Dhande</b></p>
                <p class="experience">1 year of Experience</p>
                <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">➚ %
                  hike</button>
              </div>
              <div>
                <hr>
              </div>
              <div class="row">
                <table class="profile-table">
                  <tr>
                    <td class="text-1">Was </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">Fresher</td>
                  </tr>
                  <tr>
                    <td class="text-1">Enrolled For</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2"> UI UX Designer</td>
                  </tr>
                  <tr>
                    <td class="text-1">Now </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">UI UX Designer</td>
                  </tr>
                  <tr>

                    <td class="text-1">Working At</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>

                    <td class="img-card">
                      <img src="assets\imageplacement\output-onlinepngtools-3@2x.png">
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <div class="card card-3">
            <div class="card-body">
              <div class="thumb-lg member-thumb mx-auto">
                <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle img-thumbnail"
                  alt="profile-image">
              </div>

              <div class="profile-info hike-1">
                <p class="name"><b>Rohit Dhande</b></p>
                <p class="experience">1 year of Experience</p>
                <button type="button" class="btn btn-primary mt-3 btn-rounded ">➚ % hike</button>
              </div>
              <div>
                <hr>
              </div>

              <div class="row">
                <table class="profile-table">
                  <tr>
                    <td class="text-1">Was </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">Fresher</td>
                  </tr>
                  <tr>
                    <td class="text-1">Enrolled For</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2"> UI UX Designer</td>
                  </tr>
                  <tr>
                    <td class="text-1">Now </td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                    <td class="text-2">UI UX Designer</td>
                  </tr>
                  <tr>

                    <td class="text-1">Working At</td>
                    <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>

                    <td class="img-card"><img src="assets\imageplacement\output-onlinepngtools-3@2x.png"></td>
                  </tr>
                </table>

              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <div class="grp-1346">
      <img src="assets\Uiux-image\Group 1346@2x.png">
    </div>

    <div class="sub-38">
      <img src="\assets\Uiux-image\Subtraction 38@2x.png">
    </div>

  </div>
</div>





<!-- mobile view -->

<div class="container-fluid section8">
  <div class="row">
    <div class="col sec-8">
      <h1>Success Stories<span><img src="assets\Uiux-image\Group 1345@2x.png"></span></h1>
      <img id="sub-39" src="assets\Uiux-image\Subtraction 39@2x.png">
      <p> Our students go on to launch challenging new careers in the tech industry</p>
    </div>
    <div class="card-deck col-sm-12">
      <div class="left-img-sec8">
        <img src="assets\imageplacement\Group 480@2x.png">
      </div>
      <div class="card card-3">
        <div class="card-body">
          <div class="thumb-lg member-thumb mx-auto">
            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle img-thumbnail"
              alt="profile-image">
          </div>
          <div class="profile-info hike-1">
            <p class="name"><b>Rohit Dhande</b></p>
            <p class="experience">1 year of Experience</p>
            <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">➚ %
              hike</button>
          </div>
          <div>
            <hr>
          </div>
          <div class="row">
            <table class="profile-table">
              <tr>
                <td class="text-1">Was </td>
                <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                <td class="text-2">Fresher</td>
              </tr>
              <tr>
                <td class="text-1">Enrolled For</td>
                <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                <td class="text-2"> UI UX Designer</td>
              </tr>
              <tr>
                <td class="text-1">Now </td>
                <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                <td class="text-2">UI UX Designer</td>
              </tr>
              <tr>

                <td class="text-1">Working At</td>
                <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>

                <td class="img-card"><img src="assets\imageplacement\output-onlinepngtools-3@2x.png"></td>
              </tr>
            </table>
          </div>
        </div>
      </div>


      <div class="card card-3">
        <div class="card-body">
          <div class="thumb-lg member-thumb mx-auto">
            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle img-thumbnail"
              alt="profile-image">
          </div>

          <div class="profile-info hike-1">
            <p class="name"><b>Rohit Dhande</b></p>
            <p class="experience">1 year of Experience</p>
            <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">➚ %
              hike</button>
          </div>
          <div>
            <hr>
          </div>
          <div class="row">
            <table class="profile-table">
              <tr>
                <td class="text-1">Was </td>
                <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                <td class="text-2">Fresher</td>
              </tr>
              <tr>
                <td class="text-1">Enrolled For</td>
                <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                <td class="text-2"> UI UX Designer</td>
              </tr>
              <tr>
                <td class="text-1">Now </td>
                <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                <td class="text-2">UI UX Designer</td>
              </tr>
              <tr>

                <td class="text-1">Working At</td>
                <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>

                <td class="img-card">
                  <img src="assets\imageplacement\output-onlinepngtools-3@2x.png">
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>

      <div class="card card-3">
        <div class="card-body">
          <div class="thumb-lg member-thumb mx-auto">
            <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle img-thumbnail"
              alt="profile-image">
          </div>

          <div class="profile-info hike-1">
            <p class="name"><b>Rohit Dhande</b></p>
            <p class="experience">1 year of Experience</p>
            <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">➚ %
              hike</button>
          </div>
          <div>
            <hr>
          </div>

          <div class="row">
            <table class="profile-table">
              <tr>
                <td class="text-1">Was </td>
                <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                <td class="text-2">Fresher</td>
              </tr>
              <tr>
                <td class="text-1">Enrolled For</td>
                <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                <td class="text-2"> UI UX Designer</td>
              </tr>
              <tr>
                <td class="text-1">Now </td>
                <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>
                <td class="text-2">UI UX Designer</td>
              </tr>
              <tr>

                <td class="text-1">Working At</td>
                <td><img id="arrow" src="assets\career\Group 1847@2x.png"></td>

                <td class="img-card"><img src="assets\imageplacement\output-onlinepngtools-3@2x.png"></td>
              </tr>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>