<div id="box">
    <div class="item">
        <div class="card card-white">
            <div class="row">
                <div class="card-title">
                    <h3>1</h3>
                </div>
                <div class="col-auto">
                    <img src="assets\Uiux-image\Group 1532@2x.png" class="img-fluid" alt="">
                </div>
                <div class="col">
                    <div class="card-block ">
                        <p class="card-text">Learn all of the skills, tools,
                            and processes you need
                            to become a UX designer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="card card-2 card-white">
            <div class="row ">
                <div class="card-title">
                    <h3>2</h3>
                </div>
                <div class="col-auto">
                    <img src="assets\Uiux-image\Group 1535@2x.png" class="img-fluid" alt="">
                </div>
                <div class="col">
                    <div class="card-block ">
                        <p class="card-text">Work with a mentor who
                            has 8+ years of industry
                            experience and a tutor for
                            your day‑to‑day feedback.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="card card-white">
            <div class="row ">
                <div class="card-title">
                    <h3>3</h3>
                </div>
                <div class="col-auto">
                    <img src="assets\Uiux-image\Group 1533@2x.png" class="img-fluid" alt="">
                </div>
                <div class="col">
                    <div class="card-block ">
                        <p class="card-text">Receive tailored coaching
                            from our Career Services
                            Team to ensure you stand
                            out at interviews</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="item">
        <div class="card card-white">
            <div class="row ">
                <div class="card-title">
                    <h3>4</h3>
                </div>
                <div class="col-auto">
                    <img src="assets\Uiux-image\Group 1776@2x.png" class="img-fluid" alt="">
                </div>
                <div class="col">
                    <div class="card-block ">
                        <p class="card-text">Receive tailored coaching
                            from our Career Services
                            Team to ensure you stand
                            out at interviews</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="card card-white">
            <div class="row ">
                <div class="card-title">
                    <h3>5</h3>
                </div>
                <div class="col-auto">
                    <img src="assets\Uiux-image\Group 1589@2x.png" class="img-fluid" alt="">
                </div>
                <div class="col">
                    <div class="card-block ">
                        <p class="card-text">Receive tailored coaching
                            from our Career Services
                            Team to ensure you stand
                            out at interviews</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>