<!-- SECTION-1 -->
<div class="container-fluid flex-1">
  <div class="flex-container">
    <div class="flex-item-left">
      <div class="flex-left-img-2">
        <img src="assets\workshop\Group 1204@2x.png">
      </div>
      <div class="flex-1-left animate__animated  wow animate__fadeInLeft">
        <img src="assets\workshop\Group 1504@2x.png">
      </div>
      <div class="flex-left-img-1">
        <img src="assets\workshop\Group 1409@2x.png">
      </div>
      <div class="flex-left-img-3">
        <img src="assets\workshop\Group 1409@2x.png">
      </div>
    </div>

    <div class="flex-item-right">
      <div class="flex-right-img">
        <img src="assets\workshop\Group 359@2x.png">
      </div>
      <div class="right-flex-text animate__animated  wow animate__fadeInRight">
        <h1>
          2-Day Design Tools
          Workshop
        </h1>
        <p>
          Learn all of the skills, tools, and processes you need to
          become a UX designer. Learn all of the skills, tools, and
          processes you need to become a UX designer.
        </p>

        <div class="col flex-right-img-text">
          <div class="row">
            <div class="col-md-2 img-right">
              <img src="assets\workshop\Group 1429@2x.png">
            </div>
            <div class="col right-text">
              <h2>
                Learn Adobe XD
              </h2>
              <p>
                in 2 days
              </p>
              <img src="assets\workshop\Subtraction 4@2x.png">
            </div>
          </div>
          <div class="flex-1-button">
            <div class="abt active">
              <button type="button active" class="btn-2 ">Know More+</button>
            </div>
          </div>

        </div>
        <div class="flex-1-bottom-img">
          <img src="assets\workshop\Group 1409@2x.png">
        </div>
        <div class="flex-right-img-bottom">
          <img src="assets\workshop\Group 1204@2x.png">
        </div>
      </div>

    </div>

  </div>
</div>

<!-- SECTION-2 -->
<div class="container-fluid flex-2">
  <div class="flex-2-img-left">
    <img src="assets\workshop\Group 419@2x.png">
  </div>
  <div class="flex-container">
    <div class="flex-2-main animate__animated  wow animate__zoomIn">
      <h1>
        Learn all the tool tricks which will help <br>
        to design beautiful User Interface
      </h1>
      <p>
        In this program, you will
      </p>
    </div>
    <div class="flex-2-img-right">
      <img src="assets\workshop\Group 418@2x.png">
    </div>
  </div>

</div>


<!-- SECTION-3 -->
<div class="container-fliud flex-4">
  <div class="flex-container">
    <div class="flex-4-left">

      <div class="flex-4-text animate__animated  wow animate__fadeInLeft">
        <h1>
          <span style="color: #ed1c24;">01 </span> Creating New Files &
          Designing on a Grid
        </h1>
        <p>
          Go through the building blocks of the entire UX design <br>
          process while completing your very first app.
        </p>
        <p>
          <span style="color: #ed1c24;">Topics will be cover such as: </span> Creating a new file, Setting <br>
          up artboards, Importing text, Creating colored backgrounds <br>
          for text
        </p>
      </div>
      <div class="flex-4-left-img">
        <img src="assets\workshop\Group 419@2x.png">
      </div>
      <div class="flex-4-left-img-2">
        <img src="assets\workshop\Group 418@2x.png">
      </div>
    </div>
    <div class="flex-4-right">
      <div class="flex-4-right-img">
        <img src="assets\workshop\Group 425@2x.png">
      </div>
      <div class="flex-4-img animate__animated  wow animate__fadeInRight">
        <img src="assets\workshop\Group 1506@2x.png">
      </div>
      <div class="flex-4-img-right">
        <img src="assets\workshop\Group 418@2x.png">
      </div>
    </div>

  </div>

</div>


<!-- SECTION-5 -->

<div class="container-fliud flex-5">
  <div class="flex-container">
    <div class="flex-5-left">
      <div class="flex-5-left-img">
        <img src="assets\workshop\Subtraction 4@2x.png">
      </div>
      <div class="flex-5-img animate__animated  wow animate__fadeInLeft">
        <img src="assets\workshop\Group 1507@2x.png">
      </div>
    </div>
    <div class="flex-5-right">
      <div class="flex-5-text animate__animated  wow animate__fadeInRight">
        <div class="flex-5-right-img">
          <img src="assets\workshop\Group 1204@2x.png">
        </div>
        <h1>
          <span style="color: #ed1c24;">02 </span> Adjusting the Layout for
          Tablets & Mobile Phones
        </h1>
        <p>
          Go through the building blocks of the entire UX design <br>
          process while completing your very first app.
        </p>
        <p>
          <span style="color: #ed1c24;">Topics will be cover such as: </span>
          Designing with Bootstrap’s <span><img id="sub-52" src="assets\workshop\Subtraction 52@2x.png"></span>
          grid, Adapting the design for tablets, Adapting the design
          for mobile phones
        </p>
      </div>
      <h1>

      </h1>
    </div>
  </div>
</div>

<!-- SECTION-6 -->

<div class="container-fliud flex-6">
  <div class="flex-6-left-img">
    <img src="assets\workshop\Group 418@2x.png">
  </div>
  <div class="flex-container">
    <div class="flex-6-left">
      <div class="flex-6-text animate__animated  wow animate__fadeInLeft">
        <div class="flex-6-left-img-2">
          <img src="assets\workshop\Group 1204@2x.png">
        </div>
        <h1>
          <span style="color: #ed1c24;">03</span> Importing & Cropping
          Photos
        </h1>
        <p>
          Go through the building blocks of the entire UX design
          process while completing your very first app.
        </p>
        <p>
          <span style="color: #ed1c24;">Topics will be cover such as: </span> Importing photos & default
          scaling, Importing a photo as an image fill (crop a photo),
          Rounding corners

        </p>
      </div>
    </div>

    <div class="flex-6-right">
      <div class="flex-6-right-img">
        <img src="assets\workshop\Group 419@2x.png">
      </div>
      <div class="flex-6-img animate__animated  wow animate__fadeInRight">
        <img src="assets\workshop\Group 1499@2x.png">
      </div>
    </div>

  </div>

</div>

<!-- SECTION-7 -->

<div class="container-fliud flex-7">
  <div class="flex-container">
    <div class="flex-7-left">
      <div class="flex-7-img-left">
        <img src="assets\workshop\Subtraction 52@2x.png">
      </div>
      <div class="flex-7-left-2">
        <img src="assets\workshop\Group 1204@2x.png">
      </div>
      <div class="flex-7-img-sqr">
        <img src="assets\workshop\Group 418@2x.png">
      </div>
      <div class="flex-7-img animate__animated  wow animate__fadeInLeft">
        <img src="assets\workshop\Group 1857@2x.png">
      </div>

    </div>
    <div class="flex-7-right">
      <div class="flex-7-text animate__animated  wow animate__fadeInRight">
        <div class="flex-7-right-img">
          <img src="assets\workshop\Subtraction 4@2x.png">
        </div>
        <h1>
          <span style="color: #ed1c24;">04 </span>Importing Vector
          Graphics, Color Swatches,
          Shadows, & More

        </h1>
        <p>
          Go through the building blocks of the entire UX design
          process while completing your very first app.
        </p>
        <p>
          <span style="color: #ed1c24;">Topics will be cover such as: </span>Importing & modifying
          vector graphics, Aligning & distributing layers, Layer opacity
          vs. fill opacity, Reusing colors (color swatches), Adding a
          <span><img src="assets\workshop\Group 1409@2x.png"></span>
          drop shadow
        </p>
      </div>
      <h1>

      </h1>
    </div>
  </div>
</div>

<!-- SECTION-8 -->

<div class="container-fliud flex-8">
  <div class="flex-8-img-left">
    <img src="assets\workshop\Group 419@2x.png">
  </div>
  <div class="flex-container">
    <div class="flex-8-left">
      <div class="flex-8-text animate__animated  wow animate__fadeInLeft">
        <h1>
          <span style="color: #ed1c24;">05</span> Character Styles
        </h1>
        <p>
          Go through the building blocks of the entire UX design
          process while completing your very first app.
        </p>
        <p>
          <span style="color: #ed1c24;">Topics will be cover such as: </span>
          Creating & Editing Character styles
        </p>
      </div>
      <div class="flex-8-bottom-img">
        <img src="assets\workshop\Group 1409@2x.png">
      </div>
    </div>

    <div class="flex-8-right">
      <div class="flex-8-img animate__animated  wow animate__fadeInRight">
        <img src="assets\workshop\Group 1513@2x.png">
      </div>
      <div class="flex-8-right-img">
        <img src="assets\workshop\Group 418@2x.png">
      </div>
    </div>
  </div>
  <div class="flex-8-bottom-img-left">
    <img src="assets\workshop\Subtraction 52@2x.png">
  </div>

</div>


<!-- SECTION-9 -->
<div class="container-fliud flex-9">
  <div class="flex-container">
    <div class="flex-9-left">
      <div class="flex-9-img animate__animated  wow animate__fadeInLeft">
        <img src="assets\workshop\Group 1514@2x.png">
      </div>
    </div>
    <div class="flex-9-right">
      <div class="flex-9-text animate__animated  wow animate__fadeInRight">
        <div class="flex-9-right-img">
          <img src="assets\workshop\Group 418@2x.png">
        </div>
        <h1>
          <span style="color: #ed1c24;">06 </span> Turning a Design into
          a Clickable Prototype
        </h1>
        <p>
          Go through the building blocks of the entire UX design
          process while completing your very first app.
        </p>
        <p>
          <span style="color: #ed1c24;">Topics will be cover such as: </span> Linking between artboards,
          Creating an overlay, Previewing the prototype, Making a
          recording of a prototype

        </p>
      </div>
      <h1>

      </h1>
    </div>
  </div>
</div>


<!-- SECTION-10 -->

<div class="container-fliud flex-10">
  <div class="flex-container">
    <div class="flex-10-left">
      <div class="flex-10-text animate__animated  wow animate__fadeInLeft">
        <div class="flex-10-left-img">
          <img src="assets\workshop\Group 419@2x.png">
        </div>
        <h1>
          <span style="color: #ed1c24;">07</span> Animations
        </h1>
        <p>
          Go through the building blocks of the entire UX design
          process while completing your very first app.
        </p>
        <p>
          <span style="color: #ed1c24;">Topics will be cover such as: </span>
          Topics will be cover such as: Create animations
          Dropdowns
        </p>
        <div class="flex-10-left-img-2">
          <img src="assets\workshop\Subtraction 52@2x.png">
        </div>
      </div>
    </div>

    <div class="flex-10-right">
      <div class="flex-10-img animate__animated  wow animate__fadeInRight">
        <img src="assets\workshop\Group 1515@2x.png">
      </div>
    </div>

  </div>

</div>

<!-- SECTION-11 -->

<div class="container-fliud flex-11">
  <div class="flex-container">
    <div class="flex-11-left">
      <div class="flex-11-left-img">
        <img src="assets\workshop\Group 418@2x.png">
      </div>
      <div class="flex-11-img animate__animated  wow animate__fadeInLeft">
        <img src="assets\workshop\Group 1516@2x.png">
      </div>
    </div>
    <div class="flex-11-right">
      <div class="flex-11-text animate__animated  wow animate__fadeInRight">
        <h1>
          <span style="color: #ed1c24;">08 </span>Components, Button
          Effects & Dropdowns
        </h1>
        <div class="flex-11-text-img">
          <img src="assets\workshop\Group 1409@2x.png">
        </div>
        <p>
          Go through the building blocks of the entire UX design <br>
          process while completing your very first app.
        </p>
        <p>
          <span style="color: #ed1c24;">Topics will be cover such as: </span> Creating Components &
          reuse them, Hover Buttons, Toggles Buttons, Selection
          Dropdowns
        </p>
      </div>
      <h1>

      </h1>
    </div>
  </div>
</div>


<!-- SECTION-12 -->
<div class="container-fliud flex-12">
  <div class="felx-12-img-left">
    <img src="assets\workshop\Subtraction 4@2x.png">
  </div>

  <div class="flex-container">
    <div class="flex-12-left">
      <div class="flex-12-text animate__animated  wow animate__fadeInLeft">
        <h1>
          <span style="color: #ed1c24;">09</span> Exporting Assets for
          Web & Mobile: SVG, JPEG, & PNG
        </h1>
        <p>
          Go through the building blocks of the entire UX design
          process while completing your very first app.
        </p>
        <p>
          <span style="color: #ed1c24;">Topics will be cover such as: </span> Exporting individual assets,
          Exporting artboards
        </p>
        <div class="flex-12-left-bottom-img">
          <img src="assets\workshop\Group 1409@2x.png">
        </div>
      </div>
    </div>

    <div class="flex-12-right">

      <div class="flex-12-img animate__animated  wow animate__fadeInRight">
        <img src="assets\workshop\Group 1517@2x.png">
      </div>
      <div class="flex-12-right-bottom-img">
        <img src="assets\workshop\Group 1204@2x.png">
      </div>
    </div>

  </div>

</div>


<!-- Section-13 -->
<div class="container-fluid">

  <div class="flex-container flex-13">
    <div class="flex-13-left">
      <div class="flex-13-img animate__animated  wow animate__fadeInLeft">
        <img src="assets\workshop\Group 1518@2x.png">
      </div>
    </div>
    <div class="flex-13-right">
      <div class="flex-13-text animate__animated  wow animate__fadeInRight">
        <h1>
          <span style="color: #ed1c24;">10</span> Sharing Files (For
          Review, Developers, etc.)<span><img src="assets\workshop\Group 1409@2x.png"></span>

        </h1>
        <p>
          Go through the building blocks of the entire UX design
          process while completing your very first app.
        </p>
        <p>
          <span style="color: #ed1c24;">Topics will be cover such as: </span>
          Creating Components &
          reuse them, Hover Buttons, Toggles Buttons, Selection
          Dropdowns
        </p>
      </div>
      <h1>

      </h1>
    </div>
  </div>


</div>

<!-- SECTION-13-CLOSE -->

<!-- SECTION-16 -->
<div class="container-fliud flex-16">
  <div class="container flex-16-head animate__animated  wow animate__zoomIn">
    <h1>
      Bonus Content
    </h1>

  </div>

  <div class="flex-container">
    <div class="flex-16-left">
      <div class="flex-16-text animate__animated  wow animate__fadeInLeft">
        <h1>
          <span style="color: #ed1c24;">11</span> Popular Plugins
        </h1>
        <p>
          Go through the building blocks of the entire UX design
          process while completing your very first app.
        </p>
        <p>
          <span style="color: #ed1c24;">Topics will be cover such as: </span> Smart tricks to use plugins
        </p>
      </div>
    </div>

    <div class="flex-16-right">

      <div class="flex-16-img animate__animated  wow animate__fadeInRight">
        <img src="assets\workshop\Group 1519@2x.png">
      </div>
    </div>

  </div>

</div>

<div class="container-fluid carousel-text">
  <div class="flex-14-right-img">
    <img src="assets\Design-tool\Subtraction 50@2x.png">
  </div>
  <div class="flex-14-left-img-1">
    <img src="assets\Design-tool\Group 1354@2x.png">
  </div>
  <div class="flex-14-left-img-2">
    <img src="assets\Design-tool\Subtraction 49@2x.png">
  </div>
  <h2 class="animate__animated  wow animate__zoomIn">
    Student Work
  </h2>
  <h1 class="animate__animated  wow animate__zoomIn">
    Portfolio projects
  </h1>
  <img id="img-5" src="assets\Uiux-image\Group 1354@2x.png">
  <app-portfolio-project></app-portfolio-project>
  <img id="img-4" src="assets\Uiux-image\Subtraction 46@2x.png">
</div>
<div>

  <!-- CARD-DISPLAY-SECTION -->
  <div>
    <app-card-display></app-card-display>
  </div>



  <div class="grp-1348">
    <img src="assets\Ui-ux-program img\Group 1194@2x.png">
  </div>
  <app-attend-free-webinar></app-attend-free-webinar>
</div>