

<!-- SECTION-1 -->
<div class="container-fluid flex-1-top ">
  <div class="flex-container">
    <div class="flex-item-left ">
      <div class="flex-left-img">
        <img src="assets\Design-tool\Group 359@2x.png">
      </div>
      <div class="left-flex-text animate__animated  wow animate__fadeInLeft">
        <h1>UI UX Design</h1>
        <p>
            Learn all of the skills, tools, and processes you need to 
become a UX designer. Learn all of the skills, tools, and 
processes you need to become a UX designer.
        </p>
        <div class="flex-1-left-img-plus-2">
          <img src="assets\Uiux-image\Group 1209@2x.png">
          </div>
<div class="flex-container flex-1-img-text">
<div class="flex-img">
  <img src="assets\Uiux-image\Group 1413@2x.png"> 
</div>
<div class="flex-text">
  <h3> Become a UI UX designer<br>
    <span>
         In under 4 months
    </span>
 </h3>
</div>
 <div class="flex-img">
  <img src="assets\Uiux-image\Group 1414@2x.png"> 
</div>
<div class="flex-text">
  <h3>
    Learn flexibly online<br>
    <span>
        without having to quit your job
    </span>
 </h3>
 </div>
 
 <div class="flex-img">
  <img src="assets\Uiux-image\Group 1417@2x.png"> 
</div>
<div class="flex-text">
  <h3>
    Work with expert mentors <br>
    <span>
        and build your portfolio
    </span>
 </h3>
</div>
</div>
<div class="button-text">
  <div class="abt">
    <button type="button" class="btn ">Attend A Free Session</button> 
  </div>
</div>
</div>
<div class="sec-1-square" >
  <img src="assets\Uiux-image\Group 418@2x.png">
</div>  
<div class="flex-1-left-img-plus">
<img src="assets\Uiux-image\Group 1205@2x.png">
</div>

<div class="sec-1-bottom">
  <img class="sub-44" src="assets\Uiux-image\Subtraction 44@2x.png">
  <div class="grp-1207">
    <img   src="assets\Uiux-image\Group 1207@2x.png">
  </div>
</div>

    </div>
    <div class="flex-item-right ">
      <div class="grp-1206">
        <img  src="assets\Uiux-image\Group 1206@2x.png">
      </div>
      <div class="flex-1-right animate__animated  wow animate__fadeInRight">
       <img src="assets\Uiux-image\Group 1536@2x.png">
      </div>
      <div class="grp-1208">
        <img  src="assets\Uiux-image\Group 1206@2x.png">
      </div>
      <div class="sub-40">
        <img  src="assets\Uiux-image\Subtraction 40@2x.png">
      </div>
      <div class="flex-1-button animate__animated  wow animate__fadeInRight">
        <div class="abt">
          <button type="button" class="btn ">Attend A Free Session</button> 
        </div>
      </div>
    </div>

</div>
</div>





<!-- SECTION-2 -->


   
<div class="card-main">
           <div class="sec-2-text animate__animated  wow animate__zoomIn">
             <diV class="left-side-img1" style="float: left;"> 
<img src="assets\Uiux-image\Group 419@2x.png">
             </diV>
               <h1>
                UX Design Program details
               </h1>
               <p>
                In this program, you will
               </p>
               <div class="right-side-img-1" style="float: right;">
                <img src="assets\Uiux-image\Group 418@2x.png">

               </div>
              </div>
            
</div>
<div class="srcoll-section" >
  <app-card-scroller></app-card-scroller>
</div>


<div class="card-section " >
 <div class="card-sec squares" >
            <div class="row"  style="width:auto;padding: 20px 10px 20px 10px;">
                <div class="card card-white slide-up " >
                    <div class="row">
                        <div class="card-title">
                            <h3 >1</h3>
                        </div>
                
                        <div class="col-sm-12 card-img">
                            <img src="assets\Uiux-image\Group 1532@2x.png" class="img-fluid" alt="">
                        </div>
                        <div class="col">
                            <div class="card-block ">
                                 <p class="card-text">Learn all of the skills, tools, 
                                    and processes you need 
                                    to become a UX designer.</p>
                            </div>
                        </div>
                    </div> 
              </div>
        
              <div class="card card-2 card-white slide-up " >
                <div class="row">
                    <div class="col-sm-12 card-title">
                        <h3 >2</h3>
                    </div>
                    <div class="col-sm-12 card-img">
                        <img src="assets\Uiux-image\Group 1535@2x.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-sm-12 ">
                        <div class="card-block ">
                            <p class="card-text">Work with a mentor who 
                                has 8+ years of industry 
                                experience and a tutor for 
                                your day‑to‑day feedback.</p>
                        </div>
                    </div>
                </div>
          </div>
    
          <div class="card card-white slide-up ">
            <div class="row ">
                <div class="card-title">
                    <h3 >3</h3>
                </div>
                <div class="col-sm-12 card-img">
                    <img src="assets\Uiux-image\Group 1533@2x.png" class="img-fluid" alt="">
                </div>
                <div class="col">
                    <div class="card-block ">
                        <p class="card-text">Receive tailored coaching 
                            from our Career Services 
                            Team to ensure you stand 
                            out at interviews</p>
                    </div>
                </div>
            </div> 
          </div>
        </div>
      </div>   
    </div>
 <span class="span-card">
  <div *ngIf="showMe" class="span-section">
      <div  class="card card-white slide-up" >
        <div class="row ">
            <div class="card-title">
                <h3>4</h3>
            </div>
            <div class="col-sm-12 card-img">
              <img src="assets\Uiux-image\Group 1776@2x.png" class="img-fluid" alt="">
            </div>
            <div class="col">
                <div class="card-block ">
                    <p class="card-text">Receive tailored coaching 
                      from our Career Services 
                      Team to ensure you stand 
                      out at interviews</p>
                </div>
            </div>
        </div> 
  </div>
  <div class="card card-white slide-up" >
    <div class="row ">
        <div class="card-title">
            <h3>5</h3>
        </div>
        <div class="col-sm-12 card-img">
          <img src="assets\Uiux-image\Group 1589@2x.png" class="img-fluid" alt="">
        </div>
        <div class="col">
            <div class="card-block ">
                <p class="card-text">Receive tailored coaching 
                  from our Career Services 
                  Team to ensure you stand 
                  out at interviews</p>
            </div>
          </div>
        </div>
</div>
</div>
<div class="view-more slide-up" routerLink="#" routerLinkActive="active">
  <button type="button" class="btn" (click)="toogleTag()">{{ showMe ? 'View Less ': 'View More ' }}</button> 
</div>
</span>  


  
    
       

      <!-- SECTION-3 -->

   <div class="container-fluid section-3" >
     <div class="left-side-section-3">
       <img src="assets\Uiux-image\Group 1194@2x.png">
     </div>
    <div class="row row-pd">
<div class="col-md sec-3-img animate__animated  wow animate__fadeInBottomLeft">
  <div class="row">
    <h1> <span> <img src="assets\Uiux-image\Group 1426@2x.png"></span>Fully Online</h1>
  </div>
     
<p>6 months at 30-40 hrs/week or up <br>
    to 10 months at 15-20 hrs/week</p>
</div>
<div class="col-md sec-3-img  animate__animated  wow animate__fadeInUpBig">
  <div class="row">
    <h1> <span> <img src="assets\Uiux-image\Group 1423@2x.png"></span>Personal Mentor</h1>
  </div>
    <p>Our UX mentors are rated 4.93/5 <br>
        from over 4000 student reviews 
       </p>
</div>
<div class="col-md sec-3-img animate__animated  wow animate__fadeInBottomRight">
  <div class="row">
    <h1> <span> <img src="assets\Uiux-image\Group 1427@2x.png"></span>Career Support</h1>
  </div>
    <p>Free job preparation course and <br>
        expert career coaching included</p>
</div>
    </div>

    <div class="right-sec-3-img" style="float: right;">
      <img src="assets\Uiux-image\Group 1193@2x.png">
    </div>
   </div> 
       

<!-- SECTION-4 -->

   <div class="container-fluid section-4">
     <div class="right-1-sec-4" style="text-align: left;"> 
<img src="assets\Uiux-image\Subtraction 38@2x.png">
     </div>
    <div class="row">
        <div class="col-sm-12 col-md-5 sec-4-img animate__animated  wow animate__fadeInLeft">
          <img id="grp1408" src="assets\Uiux-image\Group 1408@2x.png">
           <div class="right-img-sec-4">
             <img src="assets\Uiux-image\Group 1352@2x.png">
           </div>
        </div>
        <div class="col-sm-12 col-md-7 sec-4-text animate__animated  wow animate__fadeInRight" >
            <h1>
            Find the right learning path for you <span><img src="assets\Uiux-image\Group 1410@2x.png"></span>
        </h1>
        
        <p>
            Learn all of the skills, tools, and processes you need to become a UX <br>
designer. Learn all of the skills, tools, and processes you need to <br>
become a UX designer. Learn all of the skills, tools, and processes you <br>
need to become a UX designer. Learn all of the skills, tools, and processes <br>
you need to become a UX designer.
        </p>
        <div class="abt button-1">
            <button type="button" class="btn-2 ">See Curriculum</button> 
      </div>
      <div class="right-sec-4-bottom">
<img src="assets\Uiux-image\Subtraction 52@2x.png">
      </div>
    </div>
      </div>
   </div>  

<!-- STICKY NAV-BAR  -->


<div data-spy="scroll" data-target=".navigation-link ">

    <div class="container-fluid navigation-link justify-content-center" id="navbar_top" >
        <div class="row nav-bar">
     <nav class="navbar navbar-expand-lg  navbar-light" >
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler9"
                    aria-controls="navbarToggler9" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarToggler9">
                    <ul class="navbar-nav">
                        <li class="nav-item  active" (click)="inView(item1)">
                            <a class="nav-link " >Why UX?</a>
                        </li>
                        <li class="nav-item" (click)="inView(item2)">
                            <a class="nav-link" >Why FelixIts?</a>
                        </li>
                        <li class="nav-item" (click)="inView(item3)">
                            <a class="nav-link" >Success Stories</a>
                        </li>
                        <li class="nav-item" (click)="inView(item4)">
                            <a class="nav-link" >Admission Criteria</a>
                        </li>
                        <li class="nav-item" (click)="inView(item5)">
                            <a class="nav-link">What you’ll get?</a>
                        </li>
                        <li class="nav-item" (click)="inView(item6)">
                            <a class="nav-link" >FAQ</a>
                        </li>
                        <li class="btn-nav">
                            <button class="nav-item">
                            <p>
                             Get in touch                 
                            </p>   
                           </button> 
                            </li>
                         </ul>
                       </div>
                       </nav>
                     </div>
                    </div> 



<div #item1 style="padding: 0px 0px 0px 0px;">
  <div class="container-fluid section-5" >
  <div class="flex-5-img">
    <img src="assets\Uiux-image\Group 1548@2x.png">
  </div>
  <div class="flex-container flex-container-5">
    <div class="container text-5 animate__animated  wow animate__zoomIn">
      <h1> Why become a UI UX designer?</h1>
    </div>
    <div class="flex-5-img-right">
      <img src="assets\Uiux-image\Group 1550@2x.png">
    </div>
    <div class="flex-1 animate__animated  wow animate__fadeInUp">
      <div class="col flex-1-img "  > 
        <img src="assets\Uiux-image\Group 1537@2x.png">
      </div>
<div class="col flex-5-text">
  <h1>
    A creative job you'll love
</h1>
<p>
UX is a satisfying job if you're curious 
about human behaviour and passionate 
about how design shapes the products 
and experiences around you.
</p>

</div>
    </div>
    <div class="flex-2 animate__animated  wow animate__fadeInUp">
      <div class="col flex-1-img">
        <img src="assets\Uiux-image\Group 1541@2x.png">
      </div>
<div class="col flex-5-text ">
  <h1>
    High demand means <br>
    high pay
</h1>
</div>
    </div>
    <div class="flex-3 animate__animated  wow animate__fadeInUp">
      <div class="col flex-1-img">
        <img src="assets\Uiux-image\Group 1543@2x.png">
      </div>
<div class="col flex-5-text ">
  <h1>
    A flexible career path
</h1>
<p>
    As a UX designer, you'll have the 
    opportunity to work for startups,
    agencies, large corporates, on a 
    freelance basis, or even remotely.
</p>
</div>
    </div>
    <div class="flex-5-img-left">
      <img src="assets\Uiux-image\Group 1551@2x.png">
    </div>
    <div class="flex-5-img-3">
<img src="assets\Uiux-image\Subtraction 50@2x.png">
    </div>
  </div>
</div>
</div>
<!-- <- SECTION-5-CLOSE -->

<!-- <---Section-6 -->

<div class="container-fluid sec-6" style="height: auto; background-color: #fff2f2" #item2>
    <div class="row"> 
<div class="grp-386">
  <img src="assets\Uiux-image\Group 386@2x.png">
</div>

<div class="flex-container ">
    <div id="main" style="padding: 50px 0px 0px 0px;">
        <div class=" text-6-head animate__animated  wow animate__zoomIn" >
            <h1> 
                Why choose Felix ITs'?
             </h1>
             </div>


             
             <div class="grp1400 animate__animated  wow animate__fadeInLeft">
             <img src="assets\Uiux-image\Group 1400@2x.png">
            </div>
        <div>
           
      <div class="text-section-6">
        <h1>
            Human-centric learning
        </h1>

        <p id="text-6-p">
            Our dual mentorship model ensures that you get all the 
support you need. You’ll have both a tutor—an experienced 
UX designer responsible for evaluating your exercises within 
        </p>
      </div>
    
        </div>
        <div  class="right-img" style=" padding-right:20px">
            <div class="col animate__animated  wow animate__fadeInRight" >
            <img src="assets\Uiux-image\Group 1561@2x.png">
          </div>
          <div class="grp-1341"> 
            <img id="grp1341" src="assets\Uiux-image\Group 1341@2x.png">
          </div>
            </div>      
      </div>


      <div id="main">
        <div class="text-sec-6">
        </div>
        <div class="grp1400">
          <div class="grp-1405 ">
            <img id="grp1405" src="assets\Uiux-image\Group 1405@2x.png">
           </div>
        <img  class="animate__animated  wow animate__fadeInLeft"  src="assets\Uiux-image\Group 1404@2x.png">
        </div>
        <div>
           
      <div class="text-section-6">
        <h1>
          Flexibility with accountability
        </h1>

        <p id="text-6-p">
          Study at a flexible pace within the 10-month program
duration, working a minimum of 15 hours per week. Your 
mentor, tutor, student advisor, and career specialist will
        </p>
      </div>
        </div>
      
          <div  class="right-img">
            <div class="col animate__animated  wow animate__fadeInRight" >
              <img  id="grp1569" src="assets\Uiux-image\Group 1569@2x.png">  
                    </div>
                    <div class="grp-1407"> 
                      <img  id="grp1407" src="assets\Uiux-image\Group 1407@2x.png">
                  </div>
                  </div>
      
      </div>

      
      <div id="main">
          <div class="text-sec-6">
        </div>
        <div class="grp1400 animate__animated  wow animate__fadeInLeft">
        <img src="assets\Uiux-image\Group 1402@2x.png">
        </div>
        <div>  
      <div class="text-section-6" >
        <h1>
          Successful, satisfied graduates
        </h1>

        <p id="text-6-p">With 97% of our eligible alumni getting a UX design job within 
          180 days of graduation at top companies— including Google, 
          Apple, and Amazon—you can be confident that taking the
        </p>
        <div class="d-flex" style="text-align: center;">
          <div class="abt">
            <button type="button" class="btn-3 ">Discover More</button> 
      </div>
        </div>
      </div>
    
        </div>
        <div  class="right-img">
                    <div class="animate__animated  wow animate__fadeInRight"> 
                        <img id="inner-img-4" src="assets\Uiux-image\Group 1403@2x.png">
                    </div>                
            <div class="sub-50"> 
              <img id="sub50"src="assets\Uiux-image\Subtraction 50@2x.png">
          </div>
          <div>
            <img id="grp-1406" src="assets\Uiux-image\Group 1406@2x.png">
          </div>
           </div>
      </div>
</div>
<div class="sub-49">
  <img src="assets\Uiux-image\Subtraction 49@2x.png">
</div>
</div>
</div>  



<div #item3  style="padding: 20px 0px 0px 0px;">
      <!-- Card-carousle -->

   <app-card-slider ></app-card-slider>

      <!-- Card-carousle-close -->

   <!-- SECTION-9 Portfolio -->

   <div class="container-fluid carousel-text">
    <h1 class="animate__animated  wow animate__zoomIn">
      Portfolio projects
    </h1>
    <img id="img-1" src="assets\Uiux-image\Subtraction 48@2x.png">
    <img id="img-2" src="assets\Uiux-image\Group 415@2x.png">
    <img id="img-3" src="assets\Uiux-image\Group 1205@2x.png">
    <img id="img-5" src="assets\Uiux-image\Group 1354@2x.png">
    <div class="carousel-section">
      <app-portfolio-project></app-portfolio-project>
    </div>
    <img id="img-4" src="assets\Uiux-image\Subtraction 46@2x.png">
  </div>

<!-- SECTION-10 -->
<app-card-display ></app-card-display>

</div>

         <!-- SECTION-11 -->
<div #item4 >

 <div class="container-fluid section-11"  >
 <div class="row">
  <div class="container-fluid admission-criteria"  >
    <div class="flex-container" >
  
      <div class="flex-item-top">
        <div class="grp-1351">
          <img src="assets\Uiux-image\Group 1351@2x.png">
        </div>
        <h1 class="animate__animated  wow animate__zoomIn"> 
          UX Design Program admission criteria
        </h1>  
        <div class="grp-1350">
          <img src="assets\Uiux-image\Group 1350@2x.png">
        </div>
      </div>
      <div class="flex-item-left1 animate__animated  wow animate__fadeInLeft">

<img src="assets\Uiux-image\Group 1378@2x.png">

      </div>
      <div class="flex-item-right2 animate__animated  wow animate__fadeInRight">
<div>
  <h1>
   <span ><img src="assets\Uiux-image\Icon awesome-check@2x.png"> </span> What you need
  </h1>
</div>

<div>
  <h2>
    The motivation to transform your career
  </h2>
  <p> The program requires commitment as it takes about 600 hours to complete. You <br>
    should be prepared to set aside at least 15-20 hours per week to study.    <span class="grp-1354"><img src="assets\Uiux-image\Group 1354@2x.png"></span></p>

</div>
<div class="flex-right-text">
<h2>
  A computer (Mac or PC) and an internet connection.
</h2>
</div>
<div>
  <h2>
    An interest in UX design
  </h2>
  <p>
    If you're already reading books and blog posts about UX, that is a great start. If you are 
unsure that UX is really for you, here are some great ways to explore it:
  </p>

</div>
<div class="bottom-text">
  <ul>
    <li><span> <img src="assets\Uiux-image\Line 136@2x.png"> </span> Take our free UX short course.</li>
    <li><span> <img src="assets\Uiux-image\Line 136@2x.png"> </span>  Learn about the difference between UX and UI design.</li>
    <li><span> <img src="assets\Uiux-image\Line 136@2x.png"> </span>  Get a free consultation with one of our program advisors.</li>
  </ul>
  <div class="sub-43">
    <img src="assets\Uiux-image\Subtraction 43@2x.png">
  </div>
  <div class="grp-1352">
    <img src="assets\Uiux-image\Group 1352@2x.png">
  </div>
</div>
 </div>   
 </div>
 </div>
 <diV class="sub-42">
   <img src="assets\Uiux-image\Subtraction 42@2x.png">
 </diV>

  </div>
</div>   

             <!-- SECTION-12 -->

  <div class="container-fluid screen-12">
 <div class="row">

   <div class="flex-container "  >
 <div class="left-flex-text animate__animated  wow animate__fadeInLeft">

<div class="head-text">
  <h1>
   <span>
     <img src="assets\Uiux-image\Icon metro-cross@2x.png">
   </span> What you <span style="color: #ed1c24;">don't</span> need:
  </h1>
  <div class="grp-1355">
    <img src="assets\Uiux-image\Group 1355@2x.png">
  </div>
</div>
 
 <div class="head-text-2">
   <h1>
    A background in design or tech
   </h1>
   <p>
    You don’t need a college degree or previous work experience that is related to 
    design or tech in order to be successful on the program or land a job. The program 
    has been built to take you from beginner to job-ready. A study by job board Indeed 
    found that 84% of employers think bootcamp grads are "more prepared" or "just as 
    prepared" to be high performers as degree holders (Indeed).
   </p>
  
 </div>
 <div class="head-text-2">
  <h1>
    Unlimited free time.
  </h1>
  <p>
    You can study part-time alongside your job at  15-20 hours per week to finish the
    program in 10 months, which is the maximum program length. You can also
    complete the program faster than this by studying up to 30-40 hours per week.
  </p>
</div>
<div class="head-text-2">
  <h1>
    To learn all on your own
  </h1>
  <p>
    The program combines the flexibility of online learning with the accountability and 
    one-on-one attention traditionally associated with brick-and-mortar institutions.
    Much like a college professor might inspire you to pursue a career in a certain field,
    your mentor, tutor, career specialist and student advisor will all help keep you
    motivated and on track.
  </p>
</div>
<div class="grp-1356">
<img src="assets\Uiux-image\Group 1356.png">
</div>
<div class="sub-44">
  <img src="assets\Uiux-image\Subtraction 44@2x.png">
</div>
</div>

 <div class="right-flex-img animate__animated  wow animate__fadeInRight"> 

  <img src="assets\Uiux-image\Group 1379@2x.png">
 </div>
     
   
 </div>  
    </div>
  </div>
 
   
</div>
          
<div  #item5 >
        <!-- SECTION-13 -->

 <div class="container-fluid sec-13">
   <div class="grp-1358">
     <img src="assets\Uiux-image\Group 1358@2x.png">
   </div>
   <div class="grp-1357">
    <img src="assets\Uiux-image\Group 1357@2x.png">
  </div>
   <div class="cotainer ">
    <div class="flex-container">
      <div class="flex-item-left-1">
  <img id="main-img" class="animate__animated  wow animate__fadeInLeft" src="assets\Uiux-image\Group 1394@2x.png">
  <div class="grp-1359">
    <img src="assets\Uiux-image\Group 1359@2x.png">
  </div>
  <div class="sub-45">
    <img src="assets\Uiux-image\Subtraction 45@2x.png">
  </div>
      </div>
       
      <div class="flex-item-right-2 animate__animated  wow animate__fadeInRight"> 
        <div class="sec-10-head">
          <h1>
            What you’ll get
          </h1>
          <img src="assets\Uiux-image\Group 1337@2x.png">
        </div>
  
<div class="col-md-12  sec-10-text">
  <div class="row">
    <div class="col-sm-1 ">
      <img src="assets\Uiux-image\Group 1331@2x.png"> 
    </div>
    <div class="col ">
<p>
  A project-based curriculum
</p>
    </div>
    </div>
    <div class="row">
      <div class="col-sm-1 ">
        <img src="assets\Uiux-image\Group 1331@2x.png"> 
      </div>
      <div class="col ">
  <p>
  Job-ready skills
  </p>
      </div>
    </div>
<div class="row">
  <div class="col-sm-1" >
    <img src="assets\Uiux-image\Group 1331@2x.png"> 
  </div>
  <div class="col ">
<p>
Support from a career specialist
</p>
  </div>
</div>
 <div class="row"> 
  <div class="col-sm-1">
    <img src="assets\Uiux-image\Group 1331@2x.png"> 
  </div>
  <div class="col">
<p>
Dedicated mentor and tutor
</p>
  </div>
 </div>
<div class="row">
    <div class="col-sm-1">
      <img src="assets\Uiux-image\Group 1331@2x.png"> 
    </div>
    <div class="col">
<p>
  professional portfolio
</p>
    </div>
  </div>
      
    <div>  
  
    <div class="abt">
              <button type="button" class="btn-4 ">Attend A Free Session</button> 
        </div>
          
          </div>
      
      </div>
    </div>
   </div> 
  </div>
</div>
</div>



         <!-- SECTION-14 -->

<div class="container-fluid ask-question"  #item6 style="padding:60px 50px 0px 50px ">
<div class=" ask-question-inner">
    <h1>Frequently Asked Questions</h1>
  <div class="panel-group" id="accordion">
    <div class="panel ">
      <div class="panel-heading  animate__animated  wow animate__fadeInBottomLeft  ">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          Do i need to have prior experience on UI/UX?</a>
        </h4>
      </div>
      <div id="collapse1" class="panel-collapse collapse ">
        <div class="panel-body">
          <p>We expect professional behaviour from our students ,we expect below mentioned conditions to be met from every student who enrols for 
            our job guarantee program .</p>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading animate__animated  wow animate__fadeInBottomRight   ">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
         Do you provide placement assitance after the course?</a>
        </h4>
      </div>
      <div id="collapse2" class="panel-collapse collapse">
        <div class="panel-body">
          <p>We expect professional behaviour from our students ,we expect below mentioned conditions to be met from every student who enrols for 
            our job guarantee program .</p>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading animate__animated  wow animate__fadeInLeft  ">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
        Is there any scholership available for student?</a>
        </h4>
      </div>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
          <p>We expect professional behaviour from our students ,we expect below mentioned conditions to be met from every student who enrols for 
            our job guarantee program .</p>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading animate__animated  wow animate__fadeInRight">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
        Do you provide loan assistance to student?</a>
        </h4>
      </div>
      <div id="collapse4" class="panel-collapse collapse">
        <div class="panel-body">
          <p>We expect professional behaviour from our students ,we expect below mentioned conditions to be met from every student who enrols for 
            our job guarantee program .</p>
        </div>
      </div>
    </div>
  </div>
</div>

 </div>
 
</div>
