
<div class="container-fluid flex-20">
  <div class="row">
<div class="col-md-6 col-sm-12 text-section" >
<div class="text-20">
<div class="flex-20-text animate__animated  wow animate__fadeInLeft">
 <h1>
     Find out if the program is right for you
 </h1>
 <p>
     Take the free 6-day UX Design Short Course to get started, or get <br>
in touch with our program advisors for a free consultation. <br>
You’ll learn:
 </p>
</div> 
 <div class=" flex-20-ul bottom-text">
       <div class="row">
        <div class="col-sm-1 col-md-1 line">
          <img src="assets\contact-us\Line 163@2x.png">
        </div>
        <div class="col text-info animate__animated  wow animate__fadeInLeft">
          <p>
            How you can go from beginner to a UX designer with a job you love
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 col-md-1 line">
          <img src="assets\contact-us\Line 163@2x.png">
        </div>
        <div class="col text-info animate__animated  wow animate__fadeInLeft">
          <p>
            What the UX job market is like in your area and the salary you can expect
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1 col-md-1 line">
          <img src="assets\contact-us\Line 163@2x.png">
        </div>
        <div class="col text-info animate__animated  wow animate__fadeInLeft">
          <p>
            If UX design is the best fit for you based on your background and interests
          </p>
        </div>
      </div>
</div>
<div class="flex-20-text-p animate__animated  wow animate__fadeInLeft">
 <p>
     Don’t worry—you won’t be pressured into making a commitment. The goal <br>
is to ensure you make a fully informed decision.
 </p>

</div>
</div>
</div>

<div class="col-sm-12 col-md-6 card-sections animate__animated  wow animate__fadeInRight">
<div class="flex-20-img">
<img src="assets\Ui-ux-program img\Group 1491@2x.png">
     
</div> 
 <div class="flex-20-card" >
     <div class="card" >
         <div class="card-body">
           <h5 class="card-title">Curious about this program?</h5>
      
<div class="card-img">
<img src="assets\Ui-ux-program img\Group 1492@2x.png">

</div>
           <p class="card-text">“I’m here to help you become a 
             UI UX designer”</p>
             <p class="card-text-2">
                 Prashant, Senior Program Advisor
             </p>
             <div class="button-btttom">
              <div class="abt button-1">
                <button type="button" class="btn ">Attened Free Webinor</button> 
          </div>
             </div>
           
         </div>
       </div>
 </div>
</div>
</div>

</div> 