<div class="flex-container">
    <div class="flex-item-left animate__animated  wow animate__fadeInLeft">
        <img id="grp-1" src="assets\Ui-ux-program img\Group 1231@2x.png">
        <img id="grp-2" src="assets\Ui-ux-program img\Subtraction 7@2x.png">
      <div class="left-flex-img">
        <img src="assets\career\Group 1832@2x.png">
      </div>
      <img id="grp-3" src="assets\Ui-ux-program img\Subtraction 47@2x.png">
      <img id="grp-4" src="assets\Ui-ux-program img\Group 1248@2x.png">
    </div>
    <div class="flex-item-right animate__animated  wow animate__fadeInRight" >
      <div class="col">
        <div class="right-flex-img">
          <img src="assets\Ui-Design-img\Group 359@2x.png">
        </div>
   <div class="right-flex-text">
       <img id="grp-5"src="assets\Ui-ux-program img\Group 1147@2x.png">
<h1>
    Career
</h1>
<p>
    If you have a zeal for spreading your technology expertise to 
thousands of eager students then Felix ITs will be the right entity 
to give wings to your dream. At Felix ITs we have a stringent 
benchmark that allows only the best of best in creative 
intelligence and technological expertise to teach the ignited 
young minds that will lead the corporate world tomorrow.
</p>
<div class="flex-1-button">
    <div class="abt">
      <button type="button" class="btn ">Know more</button>
    </div>
  </div>
  <img id="grp-6" src="assets\Ui-ux-program img\Group 1231@2x.png">
   </div>
      </div>
    </div>
  </div>
  

  <!-- section-2 -->
  <div class="container-fluid section-2" >
    <img id="grp-7" src="assets\Ui-ux-program img\Group 1248@2x.png">
    <div class="sec-2">
    <h1  class=" animate__animated  wow animate__zoomIn">
        WHAT CAN YOU EXPECT IN THE OPEN POSITIONS FOR TECH TRAINER?
    </h1>
<p class=" animate__animated  wow animate__zoomIn">
    If you have been delivering on expected outcomes in the field of professional mobile app development and are looking 
    to give a meaningful direction to your expertise then check out the various openings we have for faculty trainers at Felix ITs. 
    We are looking for experienced iOS and Android developers to grace our faculty roll, and inspire our students to craft a 
    rewarding career with Felix ITs.
</p>
  </div>
  <img id="grp-8" src="assets\Ui-ux-program img\Subtraction 47@2x.png">

  <img id="grp-9" class=" animate__animated  wow animate__zoomIn" src="assets\Ui-ux-program img\logonew@2x.png">
</div>



<!-- section-3 -->

<div class="container-fluid section-3">
    <img id="grp-10" src="assets\Ui-ux-program img\Subtraction 7@2x.png">
        <img id="grp-11" src="assets\Ui-ux-program img\Group 1231@2x.png">
    <h1 class=" animate__animated  wow animate__zoomIn">
     Open Positions
    </h1>
    <img id="grp-12" src="assets\Ui-ux-program img\Group 1231@2x.png">
    <img id="grp-13" src="assets\Ui-ux-program img\Group 1248@2x.png">

    <div class="row pop-up animate__animated  wow animate__fadeInLeft">
<div class="col-md-4  col-sm-12 sec-3-text">
  <p>IOS INSTRUCTOR</p>  
</div>
<div class="col-md-2 col-sm-12 sec-3-text-2">
<p>
    3+ Experience
</p>
</div>
<div class="col-md-2 col-sm-12 sec-3-text-2">
    <p>
        2 Position(s)
    </p>
</div>
<div class="col-md-2 col-sm-12  sec-3-text-2">
    <p>
        Pune, Mumbai
    </p>
</div>

<div class="col-md-2 col-sm-12  sec-3-button">
    <div class="abt ">
        <button type="button" (click)="triggerModal()" class="btn-view">View & Apply</button>
      </div>
</div>

    </div>

    <div class="row pop-up  animate__animated  wow animate__fadeInRight">
        <div class="col-md-4  col-sm-12 sec-3-text">
          <p>
            ANDROID INSTRUCTOR
          </p>  
        </div>
        <div class="col-md-2 col-sm-12 sec-3-text-2">
        <p>
            3+ Experience
        </p>
        </div>
        <div class="col-md-2 col-sm-12 sec-3-text-2">
            <p>
                2 Position(s)
            </p>
        </div>
        <div class="col-md-2 col-sm-12  sec-3-text-2">
            <p>
                Pune, Mumbai
            </p>
        </div>
        <div class="col-md-2 col-sm-12  sec-3-button">
            <div class="abt">
                <button type="button"   (click)="AndroidModal()" class="btn-view">View & Apply</button>
              </div>
        </div>
            </div>
            <img id="grp-14" src="assets\Ui-ux-program img\Group 1194@2x.png">
</div>

<!-- 
section-4 -->
<div class="container-fluid section-4">
    <img id="grp-15" src="assets\Ui-ux-program img\Subtraction 47@2x.png">
    <div class="flex-container">
<div class="flex-4-left flex-4-text animate__animated  wow animate__fadeInLeft ">
    <h1>
        WHY FELIX ITS IS IDEAL FOR HONING YOUR TRAINING SKILLS
    </h1>
    <p>
        With Felix ITs you get to associate yourself with brilliant minds at work. All our faculty are 
        handpicked after a rigorous assessment of their skills and communication. This means that 
        you will interact only with the best in business. You can be associated with this elite group 
        and contribute to providing practical oriented technology training for the next generation 
        leaders of the IT sector. We are known for providing 100% flexibility to how you do the training. 
        We provide one of the best pay packages to our trainers and do everything in our power to 
        keep you satisfied and motivated.  
    </p>
      <img id="grp-19" src="assets\Ui-ux-program img\Group 1231@2x.png">
</div>
<div class="flex-4-right flex-4-img animate__animated  wow animate__fadeInRight">
    <img id="grp-16" src="assets\Ui-ux-program img\Group 1248@2x.png">
    <img src="assets\career\Group 1833@2x.png">
    <img id="grp-17" src="assets\Ui-ux-program img\Subtraction 7@2x.png">
</div>
<img id="grp-18" src="assets\Ui-ux-program img\Group 1193@2x.png">
    </div>

</div>

<!-- 
section-5 -->
<div class="container-fluid section-5">
    <img id="grp-20" src="assets\Ui-ux-program img\Subtraction 7@2x.png">
    <div class="flex-container">
<div class="flex-5-left flex-5-img animate__animated  wow animate__fadeInLeft">
    <img src="assets\career\Group 1834@2x.png">
</div>
<div class="flex-5-right flex-5-text animate__animated  wow animate__fadeInRight">
    <h1>
        CONNECT WITH US TODAY
    </h1>
    <p>
        Apart from the above skills and experience, we would prefer instructors who have some 
        knowledge of curriculum development. It would be a plus if you have dabbled in publishing 
        writings, tutorials, etc. If you think you are a perfect candidate for our Felix ITs, get in touch 
        with us by filling the simple form given below. 
    </p>
    <img id="grp-21" src="assets\Ui-ux-program img\Subtraction 47@2x.png">
</div>
    </div>

</div>


<!-- section-6 -->
<div class="container-fluid section-6" >
    <div class="sec-6 animate__animated  wow animate__zoomIn">
<p >
    Apart from the above skills and experience, we would prefer instructors who have some 
    knowledge of curriculum development. It would be a plus if you have dabbled in publishing 
    writings, tutorials, etc. If you think you are a perfect candidate for our institute, get in touch 
    with us by filling the simple form given below.
</p>
  </div>
</div>
