<div class="container-fluid ios-section-view">
    <div class="container-fluid">
        <div class="row pop-up">
            <div class="col-md-4  col-sm-12 sec-3-text">
                <p>ANDROID INSTRUCTOR</p>
            </div>
            <div class="col-md-2 col-sm-12 sec-3-text-2">
                <p>
                    3+ Experience
                </p>
            </div>
            <div class="col-md-2 col-sm-12 sec-3-text-2">
                <p>
                    2 Position(s)
                </p>
            </div>
            <div class="col-md-2 col-sm-12  sec-3-text-2">
                <p>
                    Pune, Mumbai
                </p>
            </div>

            <div class="col-md-2 col-sm-12  sec-3-button">
                <div class="abt ">
                    <button type="button" class="btn-view">Apply</button>
                </div>
            </div>

            <hr>
        </div>
        <div class="col-md-12 col-sm-12 pop-up-text">
            <p>
                We are looking for professionals who have 5+ years experience as Android developer. You must also
                possess good communication and presentation
                skills to be eligible for this post.
            </p>

        </div>
        <div class="container-fluid pop-up-text2">
            <div class="row">
                <div class="col-md-6 col-sm-6 pop-up-text">
                    <h1>
                        Skills and experience
                    </h1>
                    <diV class="row">

                        <div class="col-sm-1 line">
                            <img src="assets\contact-us\Line 163@2x.png">
                    </div>
                        <div class="col-md-11 col-sm-11">
                            <p> Excellent knowledge of core and advance Java is must</p>

                        </div>
                        <div class="col-sm-1 line">
                            <img src="assets\contact-us\Line 163@2x.png">
                    </div>
                        <div class="col-md-11 col-sm-11">
                            <p>Splendid verbal and written communication skills</p>

                        </div>
                        <div class="col-sm-1 line">
                            <img src="assets\contact-us\Line 163@2x.png">
                    </div>
                        <div class="col-md-11 col-sm-11  ">
                            <p> Solid knowledge about designing and building advanced Android
                                applications
                            </p>

                        </div>

                    </diV>
                </div>
                <div class="col-md-6 col-sm-6 pop-up-text">
                    <h1>

                    </h1>
                    <diV class="row" id="section-right">
                        <div class="col-sm-1 line">
                                <img src="assets\contact-us\Line 163@2x.png">
                        </div>
                        <div class="col-md-11 col-sm-10">
                            <p> Experience of working with outside data sources and APIs</p>

                        </div>
                        <div class="col-sm-1 line">
                            <img src="assets\contact-us\Line 163@2x.png">
                    </div>
                        <div class="col-md-11 col-sm-11">
                            <p>Complete knowledge of fixing bugs and enhancing the performance of
                                the application
                            </p>

                        </div>

                    </diV>


                </div>
            </div>

        </div>
    </div>

</div>