<!-- SECTION-1 -->
<div class="container-fluid section-1">
  <div class="row">
    <div class="col placment-1  animate__animated  wow animate__fadeInLeft">
      <img src="assets\imageplacement\Group 399@2x.png" alt="Snow">
      <div class="top-left">
        <h1>Placements</h1>
        <p>The purpose of a training institute is not just
          to educate the students but also to ensure
          that each one of them is well placed in the
          corporate world.
          <span>
            <p *ngIf="showMe">Felix-ITs understands that the importance
              of a training institute is high only when its
              students are in demand in the job market.
              Hence, we make it a point to ascertain all
              our students are offered good job
              opportunities after they have successfully
              completed the course.
            </p>
            <a routerLink="#" routerLinkActive="active">
              <h4 (click)="toogleTag()">{{ showMe ? 'Read Less -': 'Read More +' }}</h4>
            </a>
          </span>
        </p>

        <div class="abt">
          <button type="button" class="btn ">Know More</button>
        </div>

      </div>
    </div>
    <div class="col-md-7 placeimg animate__animated  wow animate__fadeInRight">
      <div class="squreimg">
        <img src="assets\imageplacement\Group 360@2x.png" alt="Snow">
      </div>
 
    <div class="col Placement-img">
      <img src="assets\imageplacement\Group 1847@2x.png">
    </div>
<div id="text" class="col placement-text">
  <p>
    Our student are working here
  </p>
</div>
<div class="grp390">
  <img src="assets\imageplacement\Group 390@2x.png">
</div>
  </div>
</div>
</div>
<!-- SECTION-1 END -->

<!-- SECTION-2 START -->
<div class="container-fluid placecontain ">
  <div class="row">
    <div class="col-md-1 flexleft">
      <img src="assets\imageplacement\Group 386@2x.png" alt="Snow">
    </div>
    <div class="col-md-10 flex "  >
      <h1 >
        Felix ITs' Placement support
      </h1>
      <p>
        We provide best support to our students.
      <div class="flex-container place-card animate__animated  wow animate__fadeInUp animate__repeat-2">
        <div class="flex-item-left flex-im-card">
          <div class="card card-place-1">
            <img src="assets\imageplacement\Group 1579@2x.png" alt="Snow">
            <h2>Felix ITs' Job Portal</h2>
          </div>
          <!-- <img  src="assets\imageplacement\Group 1249@2x.png" alt="Snow"> -->
        </div>
        <div class="flex-item-center flex-im-card">
          <div class="card card-place-1">
            <img src="assets\imageplacement\Group 1565@2x.png" alt="Snow">
            <h2>Personal Mentor</h2>
          </div>
          <!-- <img src="assets\imageplacement\Group 1250@2x.png" alt="Snow"> -->
        </div>
        <div class="flex-item-right flex-im-card">
          <div class="card card-place-1">
            <img src="assets\imageplacement\Group 1566@2x.png" alt="Snow">
            <h2>Practical Sessions</h2>
          </div>
          <!-- <img src="assets\imageplacement\Group 1248@2x.png" alt="Snow"> -->
        </div>
      </div>
      <div class="flex-container animate__animated  wow animate__fadeInUp animate__repeat-2">
        <div class="flex-item-1 flex-im-card-2">
          <div class="card card-place-2">
            <img src="assets\imageplacement\Group 1567@2x.png" alt="Snow">
            <h2>Guidance From<br>
              Industry Expert </h2>
          </div>
          <!-- <img src="assets\imageplacement\Group 1563@2x.png" alt="Snow"> -->
        </div>

        <div class="flex-item-2 flex-im-card-2">
          <div class="card card-place-2">
            <img src="assets\imageplacement\Group 1568@2x.png" alt="Snow">
            <h2>Have Life-time<br>
              Support</h2>
          </div>
          <!-- <img src="assets\imageplacement\Group 1562@2x.png" alt="Snow"> -->
        </div>
      </div>


    </div>
    <div class="col flexright ">
      <img src="assets\imageplacement\Group 341@2x.png" alt="Snow">
    </div>
  </div>
</div>

<!-- SECTION-2-END -->

<!-- SECTION-3 -->
<div class="container-fluid section3 ">
  <div class="row" style="padding: 0px 0px 0px 10px; ">
    <div class="container counter-section animate__animated  wow animate__fadeInUp ">
      <div class="row counter-card">
        
        <div class="col">
          <div class="cards">
            <h4>{{projectcount + "LPA"}} </h4>
            <p>Highest Salary
              Offered</p>

          </div>
        </div>

        <div class="col">
          <div class="cards">
            <img src="assets\imageplacement\Line 73@2x.png">
            <h4>{{accuratecount + "%"}}</h4>

            <p>Average Slary Hike</p>
          </div>
        </div>

        <div class="col">
          <div class="cards">
            <img src="assets\imageplacement\Line 73@2x.png">
            <h4>{{clientcount+ "+"}}</h4>
            <p>Hiring Partners</p>
          </div>
        </div>

        <div class="col">
          <div class="cards">
            <img src="assets\imageplacement\Line 73@2x.png">
            <h4>{{customerfeedback + "X"}}</h4>
            <p>Increase in interview Chances</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid rectangle" >
    <div>
      <img src="assets\Image\Group 1169@2x.png">
    </div>

    <div class="training-flex">
      <div class="text-display">
        <div class="section-4-text animate__animated  wow animate__zoomIn">
          <h1> Quality Training
            <span>
              <div class="line">
              </div>
              <div id="pencil">
                <img src="assets\Image\Group 1171@2x.png">
              </div>
            </span>
          </h1>
        </div>
        <div class="text1 animate__animated  wow animate__zoomIn">
          <p>
            'Our tag line Quality Training is our motto'; this is what makes us the best in the industry. For many
            reputed companies, Felix-ITs is the number one choice for recruiting mobile app developers.
          </p>
        </div>
        <div class="text2 animate__animated  wow animate__zoomIn">
          <p>
            We are associated with a dedicated Industry Collaboration division and have a wide network
            across the country. Hence, our students are not limited to the opportunities available in Pune, but
            in all major cities in India.<br>
            <span><img src="assets\Image\Group 1172@2x.png"></span>
          </p>
        </div>
      </div>

    </div>
    <div>
    </div>
  </div>
</div>



<!-- section-4  portal-section-->

<div class="container-fluid jobporatal">
  <div class="row" >
    <h1 class="animate__animated  wow animate__zoomIn">Felix ITs' Student Job Portal</h1>
    <div class="col-md-1 portal-left">
      <img src="assets\imageplacement\Group 1166@2x.png" alt="jobportal">
    </div>
    <div class="col-md-5 col-sm-10 col-lg-5 portalimg animate__animated  wow animate__fadeInLeft" >
      <img src="assets\imageplacement\Mockup@2x.png" alt="jobportal">
      <div id="circle">
        <img src="assets\imageplacement\Group 390@2x.png" alt="jobportal">
      </div>

    </div>
    <div class="col-md-5 col-sm-10 col-lg-5 potraltext animate__animated  wow animate__fadeInRight">
      <p>
        Felix have it's own job portal where student will
        get daily job notifications. Student just have to
        show there interest on the same app.
      </p>
      <p>
        If students are interested Felix IT's HR will call you
        to confirm your interest but before that you have
        complete following things -
      </p>
      <div class="col">
        <p>
          <a>
            <img src="assets\imageplacement\Icon awesome-check-1@2x.png">
            Complete your course.
          </a>
        </p>
        <p>
          <a>
            <img src="assets\imageplacement\Icon awesome-check-1@2x.png">
            Submit your Project/Portfolio.
          </a>
        </p>

        <p>
          <a><img src="assets\imageplacement\Icon awesome-check-1@2x.png">
            Get review from your faculty.</a>
        </p>
        <p>
          <a>
            <img src="assets\imageplacement\Icon awesome-check-1@2x.png">
            Have practice mock interview session with HR.
          </a>
        </p>
        <p>
          <a>
            <img src="assets\imageplacement\Icon awesome-check-1@2x.png">
            Submit your updated CV.
          </a>
        </p>
      </div>

    </div>
    <div class="col-md-1 portal-right">
      <img src="assets\imageplacement\Group 1168@2x.png">
      <div id="square">
        <img src="assets\imageplacement\Group 1167@2x.png">
      </div>
    </div>
  </div>
</div>


<div class="container-fluid hr-portal">
  <div class="row">
    <h1  class="animate__animated  wow animate__zoomIn">
      Felix ITs' HR Portal
    </h1>
    <div id="hr-left">
      <img src="assets\imageplacement\Group 1242@2x.png">

    </div>
    <div class="col-md-6 col-sm-12 hr-text animate__animated  wow animate__fadeInLeft ">
      <p>
        Felix HR portal maintains all information
        about the placement drive. HR will inform all
        the students who are eligible for placement
        drives. This portal maintains all the progress
        about students' performance and gives
        feedback as per students' performance.
      </p>
      <p>
        HR will give feedback about your job
        interview if you are not get selected, and
        what was the reason why the company did
        not hire you. So, you can improve yourself
        and give your best performance in the next
        interview.
      </p>
    </div>
    <div class="col-md-6 ">
      <div class="container hr-img  animate__animated  wow animate__fadeInRight ">
        <img src="assets\imageplacement\Laptop Mockup@2x.png">
      </div>

      <div id="hr-right">
        <img src="assets\imageplacement\Group 1241@2x.png">
      </div>
      <div id="hr-bottom1">
        <img src="assets\imageplacement\Group 1244@2x.png">
      </div>
      <div id="hr-bottom2">
        <img src="assets\imageplacement\Group 1165@2x.png">
      </div>
    </div>
  </div>
</div>


<!-- SECTION-5 -->
<div class="container-fluid mock-section">
  <div id="mock-left">
    <img src="assets\imageplacement\Group 1245@2x.png">
  </div>
  <div class="row">
    <div class="col-md-6  animate__animated  wow animate__zoomIn">
      <div id="left-mock">
        <img src="assets\imageplacement\indian-hr-employer-listening-latin-candidate-at-jo-H2DUS6Q@2x.png">
      </div>

    </div>
    <div class="col-md-6 col-sm-4 mock-text animate__animated  wow animate__fadeInRight">
      <h1>
        Have Mock Interview With HR
      </h1>
      <div class="mock-text">
        <p>
          Our HR will take your mock interview to improve your
          communication skills. You will get instant feedback
          from HR and will help you how you can improve your
          skills, how to tackle the questions in interview.
        </p>
      </div>
      <img src="assets\Image\logonew@2x.png">
    </div>
    <div id="mock-bottom">
      <img src="assets\imageplacement\Group 1246@2x.png">
    </div>
  </div>
</div>

<!-- SECTION-6-CARD -->
<div class="container-fluid card-section1">
  <div class="row ">
    <div class="left-img-card">
      <img src="assets\imageplacement\Group 480@2x.png">
    </div>

    <div class="col-md-6 section-6-card ">
      <div class="col mb-4 animate__animated  wow animate__fadeInLeft"  >
        <div class="card sec-6-card " >
          <img src="assets\imageplacement\recruitment@2x.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">100% Placement Assistance</h5>
            <p class="card-text">We guarantee 100% placement assistance. No student of ours would have <br>
              to struggle for a job after the successful completion of any of our courses. <br>
              Some of our students have also gained multiple placement offers in the <br>
              past. So, if you are the best, you get the chance to choose from the best. </p>
          </div>
        </div>
      </div>
      <div class="col mb-4 animate__animated  wow animate__fadeInLeft" style="margin-top: 30px;">
        <div class="card  sec-6-card  ">
          <img src="assets\imageplacement\newsletter@2x.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Newsletters</h5>
            <p class="card-text">We send regular newsletters to our students regarding latest technology, job <br>
              placements, industry news, etc., in short, everything that would be interesting <br>
              and useful for them. Our newsletters aid the students to update their <br>
              knowledge and upgrade themselves to gain better opportunities in the industry. </p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6 section-6-card ">
      <div class="col mb-4 right-card animate__animated  wow animate__fadeInRight">
        <div class="card  sec-6-card ">
          <img src="assets\imageplacement\meeting@2x.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Mock Interviews</h5>
            <p class="card-text">Mock interviews are a part of our training session. By conducting mock <br>
              interviews for our course participants, we get a chance to enhance their <br>
              interview skills, thus preparing them to do the best during the actual thing. </p>
          </div>
        </div>
      </div>
      <div class="col mb-4 animate__animated  wow animate__fadeInRight" style="margin-top: 35px; padding: 20px 10px 30px 10px;">
        <div class="card  sec-6-card">
          <img src="assets\imageplacement\guidance@2x.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Career Guidance Support</h5>
            <p class="card-text">Our career guidance executives provide all the support necessary for our <br>
              participants to start a budding career in the development field. From career <br>
              counseling to personality development and resume writing services, we help <br>
              you in every way possible. </p>
          </div>
        </div>
      </div>
      <div class="right-img-card">
        <img src="assets\imageplacement\Group 480@2x.png">
      </div>
    </div>
  </div>
</div>



<!-- SECTION-7 -->

<div class="container-fluid  sec-7 " style="background-color: #F6F6F6;">
  <div class="row">
    <div class="Partners-img">
      <img src="assets\imageplacement\Group 482@2x.png">
    </div>
    <div class="container partner-text  animate__animated  wow animate__zoomIn">
      <h2>
        We Help You Build A Career
      </h2>
      <h1>
        Recruitment Partners
      </h1>
    </div>
    <div id="demo" class="carousel slide" data-ride="carousel">

      <!-- Indicators -->
   
      <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
      </ul>
    
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active" >
          <div class="row">
            <div class="col-md-12 col">
              <img src="assets\imageplacement\Group 1148@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1152@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1150@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1155@2x.png" alt="Snow">
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 col">
              <img src="assets\imageplacement\Group 1148@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1152@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1150@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1155@2x.png" alt="Snow">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row">
            <div class="col-md-12 col"> <img src="assets\imageplacement\Group 1149@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1154@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1151@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1153@2x.png" alt="Snow">
            </div>
          </div>
               <div class="row">
                <div class="col-md-12 col">
                  <img src="assets\imageplacement\Group 1148@2x.png" alt="Snow">
                  <img src="assets\imageplacement\Group 1152@2x.png" alt="Snow">
                  <img src="assets\imageplacement\Group 1150@2x.png" alt="Snow">
                  <img src="assets\imageplacement\Group 1155@2x.png" alt="Snow">
                </div>
              </div>
        </div>
        <div class="carousel-item" >
          <div class="row">
            <div class="col-md-12 col"> <img src="assets\imageplacement\Group 1149@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1154@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1151@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1153@2x.png" alt="Snow">
            </div>  
          </div>
          <div class="row">
            <div class=" col-md-12 col">
              <img src="assets\imageplacement\Group 1148@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1152@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1150@2x.png" alt="Snow">
              <img src="assets\imageplacement\Group 1155@2x.png" alt="Snow">
            </div>
          </div>
        </div>
      </div>
    
      <!-- Left and right controls -->

    </div>
  </div>
  <div class="Partners-img2">
    <img src="assets\imageplacement\Group 387@2x.png">
  </div>
</div>


<div class="container-fluid card-carousel">
<div class="container partner-text  animate__animated  wow animate__fadeInRight ">
  <h2>
    We Help You Build A Career
  </h2>
  <h1>
    Recruitment Partners
  </h1>
</div>
<div id="demo" class="carousel slide" data-ride="carousel">

  <!-- Indicators -->

  <ul class="carousel-indicators">
    <li data-target="#demo" data-slide-to="0" class="active"></li>
    <li data-target="#demo" data-slide-to="1"></li>
    <li data-target="#demo" data-slide-to="2"></li>
  </ul>

      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row card-img" style=" height: auto;width: 100%;">
            <div class="col ">
              <img src="assets\imageplacement\Group 1148@2x.png" alt="Snow">
              
            </div>
            <div class="col ">
              <img src="assets\imageplacement\Group 1152@2x.png" alt="Snow">
            </div>
          </div>
          <div class="row card-img" style="height: auto;width: 100%;">
            <div class="col">
              <img src="assets\imageplacement\Group 1150@2x.png" alt="Snow">
            </div>
            <div class="col">
              <img src="assets\imageplacement\Group 1155@2x.png" alt="Snow">
            </div>
        </div>
        </div>

        <div class="carousel-item">
          <div class="row card-img" style=" height: auto;width: 100%;">
            <div class="col ">
              <img src="assets\imageplacement\Group 1149@2x.png" alt="Snow">
            </div>
            <div class="col ">
              <img src="assets\imageplacement\Group 1154@2x.png" alt="Snow">
            </div>
          </div>
          <div class="row card-img" style="height: auto;width: 100%;">
            <div class="col">
              <img src="assets\imageplacement\Group 1150@2x.png" alt="Snow">
            </div>
            <div class="col">
              <img src="assets\imageplacement\Group 1153@2x.png" alt="Snow">
            </div>
        </div>
        </div>

        <div class="carousel-item">
          <div class="row card-img" style=" height: auto;width: 100%;">
            <div class="col ">
              <img src="assets\imageplacement\Group 1148@2x.png" alt="Snow">
              
            </div>
            <div class="col ">
              <img src="assets\imageplacement\Group 1152@2x.png" alt="Snow">
            </div>
          </div>
          <div class="row card-img" style="height: auto;width: 100%;">
            <div class="col">
              <img src="assets\imageplacement\Group 1150@2x.png" alt="Snow">
            </div>
            <div class="col">
              <img src="assets\imageplacement\Group 1155@2x.png" alt="Snow">
            </div>
        </div>
        </div>
      </div>
      
      <!-- Left and right controls -->

    </div>
   
</div>


<!-- section-8 -->
<div class="container-fluid section-8">
  <div class="top-center content-center">
    <img src="assets\imageplacement\Group 373@2x.png">
  </div>
  <div class="row">
      <div class="col sec-8">
        <h1  class="animate__animated  wow animate__zoomIn">Career Transitions</h1>
        <img src="assets\imageplacement\Group 390@2x.png">
      </div>
      <div class="card-deck" >
        <div class="left-img-sec8">
          <img src="assets\imageplacement\Group 480@2x.png">
        </div>
        <div class="card card-3 animate__animated  wow animate__fadeInLeft">
          <div class="card-body">
            <div class="thumb-lg member-thumb mx-auto">
              <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle img-thumbnail"
                alt="profile-image">
            </div>
            <div class="profile-info hike-1">
              <p class="name"><b>Rohit Dhande</b></p>
              <p class="experience">1 year of Experience</p>
              <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">➚ %
                hike</button>
            </div>
            <div>
              <hr>
            </div>
            <div class="row">
              <table class="profile-table">
                <tr>
                  <td class="text-1">Was </td>
                  <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>
                  <td class="text-2">Fresher</td>
                </tr>
                <tr>
                  <td class="text-1">Enrolled For</td>
         <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>
                  <td class="text-2"> UI UX Designer</td>
                </tr>
                <tr>
                  <td class="text-1">Now </td>
         <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>
                  <td class="text-2">UI UX Designer</td>
                </tr>
                <tr>

                  <td class="text-1">Working At</td>
         <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>

                  <td class="img-card"><img src="assets\imageplacement\output-onlinepngtools-3@2x.png"></td>
                </tr>
              </table>
            </div>
          </div>
        </div>


        <div class="card card-3 animate__animated  wow animate__fadeInUp">
          <div class="card-body">
            <div class="thumb-lg member-thumb mx-auto">
              <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle img-thumbnail"
                alt="profile-image">
            </div>

            <div class="profile-info hike-1">
              <p class="name"><b>Rohit Dhande</b></p>
              <p class="experience">1 year of Experience</p>
              <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">➚ %
                hike</button>
            </div>
            <div>
              <hr>
            </div>
            <div class="row">
              <table class="profile-table">
                <tr>
                  <td class="text-1">Was </td>
         <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>
                  <td class="text-2">Fresher</td>
                </tr>
                <tr>
                  <td class="text-1">Enrolled For</td>
         <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>
                  <td class="text-2"> UI UX Designer</td>
                </tr>
                <tr>
                  <td class="text-1">Now </td>
         <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>
                  <td class="text-2">UI UX Designer</td>
                </tr>
                <tr>

                  <td class="text-1">Working At</td>
         <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>

                  <td class="img-card">
                    <img src="assets\imageplacement\output-onlinepngtools-3@2x.png">
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="card card-3 animate__animated  wow animate__fadeInRight">
          <div class="card-body">
            <div class="thumb-lg member-thumb mx-auto">
              <img src="https://bootdey.com/img/Content/avatar/avatar6.png" class="rounded-circle img-thumbnail"
                alt="profile-image">
            </div>

            <div class="profile-info hike-1">
              <p class="name"><b>Rohit Dhande</b></p>
              <p class="experience">1 year of Experience</p>
              <button type="button" class="btn btn-primary mt-3 btn-rounded waves-effect w-md waves-light">➚ %
                hike</button>
            </div>
            <div>
              <hr>
            </div>

            <div class="row">
              <table class="profile-table">
                <tr>
                  <td class="text-1">Was </td>
         <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>
                  <td class="text-2">Fresher</td>
                </tr>
                <tr>
                  <td class="text-1">Enrolled For</td>
         <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>
                  <td class="text-2"> UI UX Designer</td>
                </tr>
                <tr>
                  <td class="text-1">Now </td>
         <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>
                  <td class="text-2">UI UX Designer</td>
                </tr>
                <tr>

                  <td class="text-1">Working At</td>
         <td><img  src="assets\career\Group 1847@2x.png" style="width:40%;height: 15px;"></td>

                  <td class="img-card"><img src="assets\imageplacement\output-onlinepngtools-3@2x.png"></td>
                </tr>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="bottom-img-sec8">
    <img src="assets\imageplacement\Group 480@2x.png">
  </div>
</div>


<app-know-more ></app-know-more>
