<!-- 

 <div class="container-fluid">
     <div class="fix-hr">
        <hr>
     </div>
 
    <div class="row text-center ">
<div class="col-md-6 card">
<div class="col-md-3 col-sm-12 card-img" >
    <img src="assets\imagejoinus\job-search@2x.png">
</div>
<div class="col-md-9 col-sm-12 card-text"  >
<h2>You will be prepared for an in-demand job</h2>
<p>
    Our training is evolved throughout the years and 
now it is designed to meet employer needs so that 
you can get a job right after the course completion.
</p>
<hr>
<div class="logo">
<img src="assets\Image\logonew@2x.png">
</div>
</div>
</div>

<div class="col-md-6 card">
    <div class="col-md-3 col-sm-12 card-img" >
        <img src="assets\imagejoinus\male (1)@2x.png">
    </div>
    <div class="col-md-9 col-sm-12 card-text"  >
    <h2>You will be trained and ready to work right away</h2>
    <p>
        With the assistance of a faculty, you will finish many practical 
        projects which will enable you to build your professional skills. 
        The skills and knowledge you'll receive at Felix-ITs will be ready 
        to be applied immediately at your job in any organization.
    </p>
    <hr>
    <div class="logo">
    <img src="assets\Image\logonew@2x.png">
    </div>
    </div>
    </div>


    <div class="col-md-6 card">
        <div class="col-md-3 col-sm-12 card-img" >
            <img src="assets\imagejoinus\increase@2x.png">
        </div>
        <div class="col-md-9 col-sm-12 card-text"  >
        <h2>You will learn to enhance your professional experience</h2>
        <p>
            We will show you how to turn into an ideal candidate through our 
            courses just as week after week, you will receive individualized help 
            & consultation from a dedicated mentor.
        </p>
        <hr>
        <div class="logo">
        <img src="assets\Image\logonew@2x.png">
        </div>
        </div>
        </div>
</div>
</div>
  -->



<!-- 
<div class="scroll-card">
  <div class="row" style="overflow-x:auto;">
  <div class="card mb-3" style="max-width: 580px; height: auto;">
    <div class="row no-gutters">
      <div class="col-md-3 card-img">
        <img src="assets\imagejoinus\job-search@2x.png">
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h2 class="card-title">You will be prepared for an in-demand job
          </h2>
          <p class="card-text">    Our training is evolved throughout the years and 
            now it is designed to meet employer needs so that 
            you can get a job right after the course completion..</p>
            <hr>
            <div class="logo">
              <img src="assets\Image\logonew@2x.png">
              </div>
        </div>   
      </div>
      </div>
    </div>

    <div class="card mb-3" style="max-width: 580px; height: auto;">
      <div class="row no-gutters">
        <div class="col-md-3 card-img">
          <img src="assets\imagejoinus\job-search@2x.png">
        </div>
        <div class="col-md-9">
          <div class="card-body">
            <h2 class="card-title">You will be prepared for an in-demand job
            </h2>
            <p class="card-text">    Our training is evolved throughout the years and 
              now it is designed to meet employer needs so that 
              you can get a job right after the course completion..</p>
              <hr>
              <div class="logo">
                <img src="assets\Image\logonew@2x.png">
                </div>
          </div>   
        </div>
        </div>
      </div>

      <div class="card mb-3" style="max-width: 580px; height: auto;">
    <div class="row no-gutters">
      <div class="col-md-3 card-img">
        <img src="assets\imagejoinus\job-search@2x.png">
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h2 class="card-title">You will be prepared for an in-demand job
          </h2>
          <p class="card-text">    Our training is evolved throughout the years and 
            now it is designed to meet employer needs so that 
            you can get a job right after the course completion..</p>
            <hr>
            <div class="logo">
              <img src="assets\Image\logonew@2x.png">
              </div>
        </div>   
      </div>
      </div>
    </div>
  </div>
</div> -->



<div class="container-fluid job-card">
  <div class="fix-hr">
    <hr>
 </div>
<div class="scroll" id="box" >
  <div class="item">
      <div class=" card-white">
        <div class="card mb-3" style="max-width: 580px; height: auto;">
          <div class="row no-gutters">
            <div class="col-md-3 card-img">
              <img src="assets\imagejoinus\job-search@2x.png">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h2 class="card-title">You will be prepared for an in-demand job
                </h2>
                <p class="card-text">    Our training is evolved throughout the years and 
                  now it is designed to meet employer needs so that 
                  you can get a job right after the course completion..</p>
                  <hr>
                  <div class="logo">
                    <img src="assets\Image\logonew@2x.png">
                    </div>
              </div>   
            </div>
            </div>
          </div>
      </div>
  </div>

  <div class="item">
      <div class="card-white">
        <div class="card mb-3" style="max-width: 580px; height: auto;">
          <div class="row no-gutters">
            <div class="col-md-3 card-img">
              <img src="assets\imagejoinus\male (1)@2x.png">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h2 class="card-title">You will be prepared for an in-demand job
                </h2>
                <p class="card-text">    Our training is evolved throughout the years and 
                  now it is designed to meet employer needs so that 
                  you can get a job right after the course completion..</p>
                  <hr>
                  <div class="logo">
                    <img src="assets\Image\logonew@2x.png">
                    </div>
              </div>   
            </div>
            </div>
          </div>
      </div>
  </div>

  <div class="item">
      <div class="card-white">
        <div class="card mb-3" style="max-width: 580px; height: auto;">
          <div class="row no-gutters">
            <div class="col-md-3 card-img">
              <img src="assets\imagejoinus\increase@2x.png">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h2 class="card-title">You will be prepared for an in-demand job
                </h2>
                <p class="card-text">    Our training is evolved throughout the years and 
                  now it is designed to meet employer needs so that 
                  you can get a job right after the course completion..</p>
                  <hr>
                  <div class="logo">
                    <img src="assets\Image\logonew@2x.png">
                    </div>
              </div>   
            </div>
            </div>
          </div>
      </div>
  </div>
</div>
</div>








<div class="container-fluid mobile-view">
  <div class="fix-hr">
    <hr>
 </div>

        <div class="card mb-3 animate__animated  wow animate__zoomIn" style="max-width: 580px; height: auto;">
          <div class="row no-gutters">
            <div class="col-md-3 card-img  ">
              <img src="assets\imagejoinus\job-search@2x.png">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h2 class="card-title">You will be prepared for an in-demand job
                </h2>
                <p class="card-text">    Our training is evolved throughout the years and 
                  now it is designed to meet employer needs so that 
                  you can get a job right after the course completion..</p>
                  <hr>
                  <div class="logo">
                    <img src="assets\Image\logonew@2x.png">
                    </div>
              </div>   
            </div>
            </div>
          </div>

        <div class="card mb-3 animate__animated  wow animate__zoomIn" style="max-width: 580px; height: auto;">
          <div class="row no-gutters">
            <div class="col-md-3 card-img">
              <img src="assets\imagejoinus\male (1)@2x.png">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h2 class="card-title">You will be prepared for an in-demand job
                </h2>
                <p class="card-text">    Our training is evolved throughout the years and 
                  now it is designed to meet employer needs so that 
                  you can get a job right after the course completion..</p>
                  <hr>
                  <div class="logo">
                    <img src="assets\Image\logonew@2x.png">
                    </div>
              </div>   
            </div>
            </div>
          </div>

        <div class="card mb-3 animate__animated  wow animate__zoomIn" style="max-width: 580px; height: auto;">
          <div class="row no-gutters">
            <div class="col-md-3 card-img">
              <img src="assets\imagejoinus\increase@2x.png">
            </div>
            <div class="col-md-9">
              <div class="card-body">
                <h2 class="card-title">You will be prepared for an in-demand job
                </h2>
                <p class="card-text">    Our training is evolved throughout the years and 
                  now it is designed to meet employer needs so that 
                  you can get a job right after the course completion..</p>
                  <hr>
                  <div class="logo">
                    <img src="assets\Image\logonew@2x.png">
                    </div>
              </div>   
            </div>
            </div>
          </div>

</div>