

.container-fluid{
    overflow: hidden;
    box-sizing: border-box;
    object-fit: contain;
}

h1, h2,p{
  font-family: 'Poppins', sans-serif!important;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;

  }
  .felix-1 {
    padding: 0px 0px 50px 0px;
  }
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px) {
  .flex-container{
    width: 100%;
  }
}

  .flex-item-left {
    overflow: hidden;
    box-sizing: border-box;
    flex: 50%;
    height:auto;
    padding: 0px 0px 50px 40px;
  }

 
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
    .flex-1-left-img img,.flex-1-left-img-1 img, 
   .flex-left-img img,.flex-1-left-img-2 img,.flex-1-left-img-3 img ,
   .flex-1-left-img-4 img,.flex-1-left-img-5 img {
      display: none;
    }
  }
  .flex-item-right {
    flex: 50%;
    overflow: hidden;
    height: auto;
    box-sizing: border-box;

  }
  /* Responsive layout - makes a one column-layout instead of a two-column layout */
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px){
    .flex-item-right, .flex-item-left {
      flex: 100%;
    }
  }

  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px)
{
    .flex-item-left {
        order: 2;
        padding: 0px 0px 0px 10px;
    }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
    .flex-item-right {
        order: 1;
    }
}
  .flex-left-img-text{
      float: left;
    height: auto;
      padding: 20px 0px 20px 0px;
  }
  
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
  
  .flex-left-img-text{
    padding: 30px 0px 0px 0px;
}
}

  .flex-left-img img{
      float: left;
      position: absolute;
      object-fit: contain;
      width: 50%;
      margin-left: -150px;
      margin-top: -60px;
  }

  
  .left-flex-text{
 padding:50px 40px 0px 50px;
 float: left;
 width: 500px;

}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .left-flex-text{
    width: 100%;
    padding: 0px 20px 0px 20px;
  }
}
  .left-flex-text h1{
    object-fit: contain;
    font-size: 40px; 
    width: 400px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.39;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  .left-flex-text p{
    object-fit: contain;
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  
  }
  .img-left { 
    width: auto;
  }
  .img-left img{
      width: 50px;
      float: left;
  }
  .left-text h2{
    object-fit: contain;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.0;
    letter-spacing: normal;
    text-align: left;
    color: #191919;
  }
  .left-text p{
    font-size: 17px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: left;
    color: #191919;

  }
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px){
    .left-text h2{
      font-size: 20px;
width: auto;
    }
  }
  /* @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px){
    .left-text p{
      font-size: 1.5rem;
    }
  } */
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px){
    .abt{
      margin: 20px 0px 0px 0px;
      text-align: center;
      margin-left: 50px;
      margin-right: auto;
    }
  }

  .abt .btn-1st{
    background-color: #ed1c24;
    font-size: 15px;
    width: 300px;
    height: auto;
    padding: 9px;
    float: left;
    border: none;
    margin: 20px 0px 0px 10px;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    font-stretch: normal;
    font-style: normal;
    border-radius: 2px;
    box-shadow: 0 0.5px 10px 0 rgba(237, 28, 36, 0.19);
    line-height: 1.17;
    letter-spacing: normal;
  }
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px){
    .abt .btn-1st {
width: 200px;
margin-left:auto;
margin-right: auto;
margin-top: 20px;
    }
  }

.flex-1-right{
  text-align: center;
}
.flex-1-right img{
    width: 100%;
    margin-top: -60px;
    margin-left: 0px;
}
.flex-1-left-img-1 img{
  width: 3%;
  margin-left: -50px;
  position: absolute;
}

.flex-1-left-img-2 img{
  width: 20%;
  margin-top: 50px;
  z-index: -1;
  position: relative;
  margin-left: -60%;
}
.flex-1-left-img-3{
  text-align: center;
}
.flex-1-left-img-3 img{
  width: 3%;
  margin-top: 60px;
  margin-left: -50px;
  position: absolute;
}
.flex-1-left-img-4 {
  text-align: center;
}
.flex-1-left-img-4 img {
  width: 7%;
  margin-top: -50px;
  margin-left: 200px;
}
.flex-1-left-img-5 img{
  width: 3%;
  margin-left: 50px;
  margin-top: -60px;
  float: right;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
    .flex-1-right img{
        width: 100%;
        margin-top: 0px;
    }
}
 @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .left-flex-text h1{
    font-size:	25px;
    width: auto;
  }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .left-flex-text p{
    font-size: 14px;
  }
} 

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}


 /* SECTION-2 */
 .flex-2{
     padding: 30px 50px 0px 50px;
     width: 100%;
height: auto;
 }
 @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .flex-2{
    padding: 20px 0px 0px 10px ;
  }  
}
 .flex-2-left-img img{
   width: 10%;
   float: left;
  margin-left: -120px;
  position: absolute;
 }
 .flex-2-left{
  flex: 18%;
 }
 .flex-2-right{
  flex: 20%;
  
}
 .flex-2-right-img img{
   width: 7%;
   position: absolute;
   right: 0;
   margin-right: -30px;
   margin-top: -100px;
 }
 @media only screen 
 and (min-device-width : 320px) 
 and (max-device-width : 768px) 
 and (max-device-width : 1024px){
  .flex-2-left,  .flex-2-right, .flex-2-main{
    flex: 100%;
  }
 }
 @media only screen 
 and (min-device-width : 320px) 
 and (max-device-width : 768px) 
 and (max-device-width : 1024px){
  .flex-2-right-img img, .flex-2-left-img img, .flex-2-right{
    display: none;
  }
 }
 .flex-2-main{
     height: auto;
    width: 40%;
 }

 .flex-2-main h1{
     object-fit: contain;
     font-size: 30px;
     width: 600px;
     font-weight: 500;
     font-stretch: normal;
     font-style: normal;
     line-height: 1.5;
     letter-spacing: normal;
     text-align: center;
     color: #000;
 }
 .flex-2-main p{
    object-fit: contain;
    font-size: 17px ;
    font-weight: 300;
    width: 600px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #000;
 }
 @media only screen 
 and (min-device-width : 320px) 
 and (max-device-width : 768px) 
 and (max-device-width : 1024px){
   .flex-2-main{
     padding: 0px 10px 0px 10px;
   }
 }
 @media only screen 
 and (min-device-width : 320px) 
 and (max-device-width : 768px) 
 and (max-device-width : 1024px){
   .flex-2-img-right img,  .flex-2-img-left img{
     display: none;
   }
 }
 @media only screen 
 and (min-device-width : 320px) 
 and (max-device-width : 768px) 
 and (max-device-width : 1024px){
  .flex-2-main p{
    font-size: 14px ;
 width: auto;
 }
 }
 @media only screen 
 and (min-device-width : 320px) 
 and (max-device-width : 768px) 
 and (max-device-width : 1024px){
  .flex-2-main h1{
    font-size: 20px ;
 width: auto;
 }
 }
  /* SECTION-3 */
  .flex-3{
      padding: 30px 50px 50px 50px;
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  }

  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px){
    .flex-3{
        padding: 30px 20px 0px 20px;
        width: 100%;
    }
}
  .flex-3-left{
      flex: 50%;
      padding: 20px 0px 0px 0px;
      height: auto;
    
  }
.flex-3-right-img img{
  width: 50px;
  margin-top: -100px;
margin-left: 500px;
}
@media only screen 
 and (min-device-width : 320px) 
 and (max-device-width : 768px) 
 and (max-device-width : 1024px){
  .flex-3-right-img img , .flex-3-img-2 img,.flex-3-img-3 img{
    display: none;
  }
}
  .flex-3-right{
      flex: 50%;
      height: auto;
  }
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px){
    .flex-3-left , .flex-3-right{
        width: 100%;
    }
  }
  .flex-3-img {
    align-items: center;
  }

  .flex-3-img img{
      width:  80%;
      position: relative;
      margin-left: 50px;
  }

  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px){
    .flex-3-img img{
        width:102%;
        margin-left: 0px;
    }
  }
.flex-3-img-2 img{
  width: 100px;
  left:0;
  margin-top: -150px;
  position: absolute;
  margin-left: -50px;
}
.flex-3-img-3 img{
  width: 7%;
  left:0;
  margin-top: -100px;
  position: absolute;
  margin-left: -20px;
}
  .flex-3-text h1{
    font-size: 35px ;
    width: 500px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .flex-3-text p{
    font-size: 17px ;
    width: 500px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #1c1213;
  }
  .flex-3-text {
      padding-top: 70px;
  }
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px){
      .flex-3-text{
          padding: 30px 20px 50px 10px;
      }
  }
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px){
    .flex-3-text h1 {
      width: auto;
      font-size: 25px;
      padding: 0;
    }
  }
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px){
    .flex-3-text P {
      width:300px;
      font-size: 14px;
      padding: 0;
    }
  }

  /* SECTION-4 */
  .flex-4{
    width: 100%;
    padding:  20px 50px 0px 50px;
    display: flex;
}
@media only screen 
 and (min-device-width : 320px) 
 and (max-device-width : 768px) 
 and (max-device-width : 1024px){
  .flex-4{
    padding: 0px 20px 0px 20px;
  }
}
.flex-4-left{
    flex: 50%;
    height: auto;
    
}
@media only screen 
 and (min-device-width : 320px) 
 and (max-device-width : 768px) 
 and (max-device-width : 1024px)
{
    .flex-4-left{
        order: 2;
    }
}
@media only screen 
 and (min-device-width : 320px) 
 and (max-device-width : 768px) 
 and (max-device-width : 1024px)
{
    .flex-4-right{
        order: 1;
    }
}

.flex-4-right{
    flex:50%;
    height: auto;

}
@media only screen 
 and (min-device-width : 320px) 
 and (max-device-width : 768px) 
 and (max-device-width : 1024px){
  .flex-4-left , .flex-4-right{
      width: 100%;
  }
}
.flex-4-text h1{
    font-size: 35px;
    width: 500px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  .flex-4-right-img img{
    width: 90px;
    right: 0;
    margin-top: -100px;
    position: absolute;
    margin-right: -30px;
  }

  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px){
    .flex-4-right-img img,.flex-4-bottom-right img, .flex-4-right-img-1 img{
      display: none;
    }
  }
  .flex-4-text p{
    font-size: 17px;
    width: 500px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #1c1213;
  }
  .flex-4-text {
      padding: 100px 0px 0px 100px;
  }
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px){
    .flex-4-text{
      width: auto;
      padding: 30px 10px 0px 10px;
    }
  }
   .flex-4-img  {
     text-align: center;
   }
  .flex-4-img img{
    width: 80%;
    padding: 20px 10px 0px 10px;
    position: relative;
}
@media only screen 
 and (min-device-width : 320px) 
 and (max-device-width : 768px) 
 and (max-device-width : 1024px){
  .flex-4-img img{
      width: 90%;
      margin-left: auto;
      padding: 20px 0px 0px 0px;
      margin-right: auto;
  }
}
.flex-4-img-bottom img{
  width: 15px;
  margin-top: -30px;
  position: absolute;
}
@media only screen 
 and (min-device-width : 320px) 
 and (max-device-width : 768px) 
 and (max-device-width : 1024px){
  .flex-4-img-bottom img{
    display: none;
  }
}
.flex-4-bottom-right img{
  width: 2%;
  margin-top: -100px;
  right: 0;
  margin-right: 90px;
  position: absolute;
}
.flex-4-right-img-1 img{
  width: 1%;
  margin-right: 100px;
  margin-top: 50px;
  right: 0;
  position: absolute;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .flex-4-text h1 {
    width: auto;
    padding: 0px;
    font-size: 25px;
  }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .flex-4-text P {
    width:300px;
    padding: 0;
    font-size: 14px;
  }
}


/* SECTION-5 */
.flex-5{
  width: 100%;
  padding:  20px 50px 0px 50px;
  display: flex;}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
.flex-5{
    padding: 20px 20px 20px 20px;
}
}
.flex-5-left{
    flex: 50%;
    height: auto;
    padding: 20px 0px 0px 30px;
}

.flex-5-img-left img{
  width: 120px;
  right: 0;
  margin-top: 50px;
  margin-right: -50px;
  position: absolute;
}
.flex-5-img-3 img{
  width: 7%;
  left:0;
  margin-top: 50px;
 position: absolute;
  margin-left: -20px;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .flex-5-img-left img {
    display: none;
  }
}
.flex-5-right{
    flex: 50%;
    height: auto;

}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .flex-5-left , .flex-5-right{
      width: 100%;
  }
}
 .flex-5-img {
text-align: center;  
}
.flex-5-img img{
    width: 80%;
    padding: 20px 10px 10px 10px;
    margin-left: -30px;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .flex-5-img img{
      width: 100%;
      padding: 20px 0px 10px 0px;
      margin-left: -30px;
      margin-right: auto;
  }
}

.flex-5-text h1{
  font-size: 35px;
  width: 500px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.flex-5-text p{
  font-size: 17px;
  font-weight: 300;
  width: 500px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #1c1213;
}
.flex-5-text {
    padding: 130px 0px 0px 40px;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
    .flex-5-text{
        padding: 20px 10px 0px 10px;
    }
}

.flex-5-text p span img{
  width: 10px;
  margin-left: 100px;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .flex-5-text p span img,.flex-5-img-left img,.flex-5-img-left img{
    display: none;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .flex-5-text h1 {
    width: 350px;
   font-size: 25px;
    padding: 0px;
  }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .flex-5-text P {
    width:auto;
    font-size: 14px;
    padding: 0;
  }
}

  /* SECTION-6 */
  .flex-6{
    width: 100%;
    padding:  50px 50px 50px 50px;
    display: flex;}
  
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px){
  .flex-6{
      padding: 0px 20px 20px 20px;
  }
  }
.flex-6-top-img img{
  width: 2%;
  position: absolute;
  margin-top: -70px;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
  .flex-6-top-img img {
    display: none;
  } 
}
.felx-6-left-img img{
  width: 7%;
  left:0;
position: absolute;
margin-left: -30px;
margin-top: 200px;
}
.flex-6-left{
    flex: 50%;
    height: auto;   
}
.flex-6-left-img-2 img{
  width: 1%;
  right: 50em;
  margin-top: -50px;
  position: absolute;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .flex-6-left-img-2 img , .felx-6-left-img img, .flex-6-right-img2 img
  ,.flex-6-top-img img{
    display: none;
  }
}
  .flex-6-right-img2 img{
    width: 1%;
    left:0;
    margin-left: 70px;
    margin-top: -50px;
    position: absolute;
  }
  @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
    .flex-6-right-img2 img{
      display: none;
    }
  }
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px)
{
    .flex-6-left{
        order: 2;
    }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
    .flex-6-right{
        order: 1;
    }
}

.flex-6-right{
    flex: 50%;
    height: auto;
    padding: 20px 0px 0px 0px; 
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .flex-6-left , .flex-6-right{
      width: 100%;
  }
}
.flex-6-text h1{
    font-size: 35px;
    width: 500px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .flex-6-text p{
    font-size: 17px;
    font-weight: 300;
    width: 500px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #1c1213;
  }
  .flex-6-text {
      padding: 100px 0px 0px 100px;
  }
  @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
    .flex-6-text{
        padding: 30px 10px 0px 10px;
    }
  }
  .flex-6-img img{
    width: 100%;
    position: relative;
padding: 20px 20px 0px 20px;
margin-left: 65px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .flex-6-img img{
      width: 110%;
      padding: 20px 0px 0px 0px;
      margin-left:20px;
  }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .flex-6-text h1{
    width: auto;
    font-size: 25px;
  }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .flex-6-text p{
  font-size: 14px;
    width: 300px;
  }
}
  /* SECTION-7 */
  .flex-7{
    width: 100%;
    padding: 40px 50px 50px 50px;
  }
  
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px){
  .flex-7{
      padding: 20px 20px 20px 20px;
  }
  }
.flex-7-img-1 img{
  width: 100px;
  left:0;
position: absolute;
margin-left:-50px;
}
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px){
  .flex-7-img-1 img{
    display: none;
  }
}
.flex-img-2 img{
  width: 10px;
  right: 0;
  margin-right: 50px;
  position: absolute;
}
.flex-7-left{
    flex: 50%;
    height: auto;
    padding: 20px 0px 0px 0px;
}
.flex-7-img-right img{
  right: 0;
  width: 90px;
  margin-top: -50px;
  margin-right: -30px;
  position: absolute;
}
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px){
  .flex-7-img-right img {
    display: none;
  }
}
.flex-7-img-bottom-1 img{
  width: 10px;
  position: absolute;
  margin-top: 100px;
  margin-left: 50px;
}
.flex-7-img-bottom-2 img{
  width: 20px;
  right: 0;
  position: absolute;
  margin-right: 100px;
  margin-top: 10rem;
}

@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px)
{
  .flex-7-img-bottom-2 img,.flex-7-img-bottom-1 img,   .flex-7-img-right img ,
  .flex-7-img-1 img, .flex-img-2 img{
    display: none;
  }
}
.flex-7-right{
    flex: 50%;
    height: auto;

}
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px)
{
  .flex-7-left , .flex-7-right{
      width: 100%;
  }
}
.flex-7-img img{
    width: 85%;
    padding: 10px;
    position: relative;
    margin-left: -20px;
}
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px)
{
  .flex-7-img img{
      width: 110%;
      margin-left: -40px;
  }
}

.flex-7-text h1{
  font-size: 35px;
  width: 500px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.flex-7-text p{
  font-size: 17px ;
  width: 500px;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #1c1213;
}
.flex-7-text {
    padding: 100px 0px 0px 0px;
}
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px)
{
    .flex-7-text{
      padding: 30px 10px 0px 10px;
    }
}
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px)
{
  .flex-7-text h1{
    width: auto;
    font-size: 25px;
  
  }
}
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px)
{
  .flex-7-text p{
    width: 300px;
    font-size: 14px;
  
  }
}

   /* SECTION-8 */
   .flex-8{
     width: 100%;
    padding: 20px 50px 50px 50px;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
.flex-8{
    padding: 0px 20px 40px 20px;

}

}
.flex-8-left-img img{
  width: 30px;
  position: absolute;
  margin-left: 100px;
}
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px){
  .flex-8-left-img img,.flex-8-top-img img,.flex-8-img-bottom img{
    display: none;
  }
}
.flex-8-left{
    flex: 50%;
    height: auto;
    
}

@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px)
{
    .flex-8-left{
        order: 2;
    }
}
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px)
{
    .flex-8-right{
        order: 1;
    }
}
.flex-8-top-img img{
  width: 90px;
margin-top: 100px;
  right: 0;
  position: absolute;
  margin-right: -30px;
}

.flex-8-right{
    flex: 50%;
    height: auto;
    padding: 50px 0px 0px 0px; 
}
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px)
{
  .flex-8-left , .flex-8-right{
      width: 100%;
  }
}

.flex-8-text h1{
    font-size: 35px ;
    width: 500px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .flex-8-text p{
    font-size: 17px;
    font-weight: 300;
    width: 500px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #1c1213;
  }
  .flex-8-text {
      padding: 100px 0px 0px 100px;
  }
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px)
  
  {
    .flex-8-text{
      padding: 30px 20px 0px 10px;
    }
  }
  .flex-8-img {
    text-align: center;

  }
  .flex-8-img img{
    width: 80%;
    position: relative;
padding: 0px 10px 0px 10px;
}
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px)
{
  .flex-8-img img{
      width: 100%;
      padding: 0px 10px 0px 10px;
      margin-left: -5px;
   }
}
.flex-8-img-bottom img{
  width: 30px;
}
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px)
{
  .flex-8-text h1{
      width: auto;
font-size: 25px;
   }
}
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px)
{
  .flex-8-text p{
      width: 300px;
font-size: 14px;
   }
}
           /* SECTION-9 */

 .flex-9{
   width: 100%;
    padding: 20px 50px 50px 50px;
    
}
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px)
{
  .flex-9{
      padding: 20px 20px 20px 20px;
  }
}
.flex-9-left{
    flex: 50%;
    height: auto;
    padding: 0px 0px 0px 0px;
}


.flex-9-right{
    flex: 50%;
    height: auto;

}
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px)
{
  .flex-9-left , .flex-9-right{
      width: 100%;
  }
}

.flex-9-img{
  text-align: center;
}
.flex-9-img img{
    width: 80%;
    position: relative;
}
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px)
{
  .flex-9-img img{
width: 100%;
      margin-right: auto;
  }
}

.flex-9-text h1{
  font-size: 35px;
  font-weight: 500;
  width: 500px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #000;
}

.flex-9-text p{
  font-size: 17px;
  font-weight: 300;
  width: 500px;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #1c1213;
}
.flex-9-text {
    padding: 150px 0px 0px 30px;

}
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px)
{
    .flex-9-text{
        padding: 30px 10px 0px 10px;
    }
}
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px){
.flex-9-text h1 {
      width: auto;
      font-size: 25px ;
    }
  }
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px){
    .flex-9-text p {
      width: 320px;
font-size: 14px;
    }
  }
  
  .flex-9-img-left-2 img{
    width: 2%;
    position: absolute;
    margin-left: 20px;
  }
  .flex-9-img-left img{
    width: 10%;
    left:0;
    margin-top: 50px;
    margin-left: -60px;
    position: absolute;
  }
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px){
    .flex-9-img-left img , .flex-9-img-left-2 img{
      display: none;
    }
  }
  /* SECTION-10 */
  .flex-10{
    width: 100%;
    padding: 0px 50px 50px 50px;
}
.flex-10-left-img img{
  width: 7%;
  position: absolute;
  left: 0;
  margin-left: -30px;
  margin-top: -50px;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .flex-10-left-img img{
    display: none;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .flex-10{
      padding: 40px 20px 0px 20px;
  }
}
.flex-10-left{
    flex: 50%;
    height: auto;
    
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
    .flex-10-left{
        order: 2;
    }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
    .flex-10-right{
        order: 1;
    }
}

.flex-10-right{
    flex: 50%;
    height: auto;
    padding: 0px 0px 0px 0px; 
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
  .flex-10-left , .flex-10-right{
      width: 100%;
  }
}
.flex-10-text h1{
    font-size: 35px;
    width: 500px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .flex-10-text p{
    font-size: 17px;
    width: 400px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #1c1213;
  }
  .flex-10-text {
      padding: 150px 0px 0px 100px;
  }
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px)
  
  {
    .flex-10-text{
        padding: 20px 10px 0px 10px;
        width: 100%;
    }
  }
  .flex-10-img {
    text-align: center;
  }

  .flex-10-img img{
    width: 80%;
    position: relative;
padding: 40px 0px 0px 0px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
  .flex-10-img img{
      width: 100%;
      padding: 0px 0px 0px 0px;
  }
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
 .flex-10-text p{
    width: 350px;  
    font-size: 14px;
  }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .flex-10-text h1 {
    width: auto;  
    font-size: 25px;
}
}


  .flex-10-img-right img{
   width: 10%;
   right:0;
   position: absolute ;
   margin-top: -200px;
   margin-right: -100px;
  }
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
  .flex-10-left-img img,  .flex-10-img-right img {
    display: none;
  }
}

 /* SECTION-11 */
 
 .flex-11{
   width: 100%;
  padding: 0px 50px 50px 50px;
 
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
.flex-11{
    padding: 30px 20px 0px 20px;
}
}
.flex-11-left{
  flex: 50%;
  height: auto;
  padding: 30px 0px 0px 0px;
}

.flex-11-right{
  flex: 50%;
  height: auto;

}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
.flex-11-left , .flex-11-right{
    width: 100%;
}
}
.flex-11-img {
  text-align: center;
}
.flex-11-img img{
  width: 80%;
  position: relative;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
.flex-11-img img{
    width: 100%;
    margin-left: 0px;
}
}
.flex-11-left-img-1 img{
  width: 2%;
  margin-top: 300px;
  position: absolute;
}
.flex-11-text h1{
font-family: Poppins;
font-size: 35px;
width: 500px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
line-height: 1.5;
letter-spacing: normal;
text-align: left;
color: #000;
}

.flex-11-text p{
font-family: Poppins;
font-size: 17px;
width: 400px;
font-weight: 300;
font-stretch: normal;
font-style: normal;
line-height: 1.46;
letter-spacing: normal;
text-align: left;
color: #1c1213;
}
.flex-11-text {
  padding: 100px 0px 0px 30px;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
  .flex-11-text{
      padding: 30px 10px 50px 10px;
  }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
 .flex-11-text h1{
    width: 300px;
font-size: 25px;
  }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
 .flex-11-text p{
    width: auto ;
font-size: 14px;
  }
}
.flex-11-bottom-img img{
  width: 2%;
  margin-left: 50px;
  margin-top: 60px;
}
.flex-11-img-left-2 img {
  width: 1%;
  margin-left: 100px;
  position: absolute;

}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
  .flex-11-bottom-img img, .flex-11-bottom-img2 img,.flex-11-left-img-1 img,
  .flex-11-img-left-2 img{
    display: none;
  }
}
.flex-11-bottom-img2 img{
  width: 1%;
  right: 0;
  margin-right: 200px;
  margin-top: 10px;
  position: absolute;
}


  /* SECTION-12 */

  .flex-12{
    width: 100%;
    padding: 40px 50px 100px 50px;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
  .flex-12{
      padding: 20px 20px 20px 20px;
  }
}
.flex-12-left{
    flex: 50%;
    height: auto;
    
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
    .flex-12-left{
        order: 2;
    }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
    .flex-12-right{
        order: 1;
    }
}

.flex-12-right{
    flex: 50%;
    height: auto;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
  .flex-12-left , .flex-12-right{
      width: 100%;
  }
}
.flex-12-text h1{
    font-size: 35px;
    font-weight: 500;
    width: 500px;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }

  .flex-12-text p{
    font-size: 17px;
    width: 400px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: normal;
    text-align: left;
    color: #1c1213;
  }
  .flex-12-text {
      padding: 100px 0px 0px 100px;
  }
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px)
{
    .flex-12-text{
        padding: 30px 10px 0px 10px;
    }
  }
  .flex-12-img {
    text-align: center;
  }
  .flex-12-img img{
    width: 80%;
    position: relative;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
  .flex-12-img img{
      width: 100%;
  }
}
.flex-12-left-img-1 img{
  width: 10px;
  
}
.flex-12-right-img-1 img{
  width: 10px;
  right: 0;
  margin-top: 150px;
  margin-right: 50px;
  position: absolute;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
  .flex-12-left-img-1 img,.flex-12-right-img-1 img{
    display: none;
  }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .flex-12-text h1{
    width: auto;
font-size: 25px;
  }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .flex-12-text p{
    width: 300px;
font-size: 14px;
  }
}
 /* SECTION-13 */
.flex-13-head h1{
  object-fit: contain;
  font-size: 35px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #ed1c24;

 }
 @media only screen 
 and (min-device-width : 320px) 
 and (max-device-width : 768px) 
 and (max-device-width : 1024px){
  .flex-13-head h1{
    margin: 10px;
    font-size: 25px;
  }
}
 .flex-13{
  padding: 30px 50px 0px 50px;
width: 100%;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
.flex-13{
    padding: 50px 20px 50px 10px;
}
}
.flex-13-left{
  flex: 50%;
  height: auto;
  padding: 0px 0px 0px 0px;
}


.flex-13-right{
  flex: 50%;
  height: auto;

}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
.flex-13-left , .flex-13-right{
    width: 100%;
}
}
.flex-13-img{
  text-align: center;
}
.flex-13-img img{
  width: 75%;
  position: relative;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
.flex-13-img img{
    width: 100%;
}
}
.flex-13-left-img-2 img{
  width: 10px;
  margin-left: 50px;
  margin-top: 50px;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
  .flex-13-left-img-2 img{
    display: none;
  }
}
.flex-13-text h1{
font-family: Poppins;
font-size: 35px;
width: 400px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
line-height: 1.5;
letter-spacing: normal;
text-align: left;
color: #000;
}

.flex-13-text p{
font-family: Poppins;
font-size:17px;
width: 500px;
font-weight: 300;
font-stretch: normal;
font-style: normal;
line-height: 1.46;
letter-spacing: normal;
text-align: left;
color: #1c1213;
}
.flex-13-text {
  padding: 100px 10px 0px 10px;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px)
{
  .flex-13-text{
      padding: 30px 10px 0px 10px;
  }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .flex-13-text p{
    width: 300px ;
    font-size: 14px;
  }
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .flex-13-text h1{
    width: 400px ;
    font-size: 25px;
  }
}


 /* SECTION-14 */

 
.carousel-text h1{
  font-size: 25px  ;
  width: 100%;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  text-align: center;
  color: #000;

  }
  @media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .carousel-text h1{
    font-size: 20px;
    width: 100%;
    text-align: center;
  }
}

.flex-14-right-img img{
  width: 2%;
  right: 0;
  position:absolute ;
  margin-right: 50px;

}
.flex-14-left-img-1 {
  text-align: center;
}
.flex-14-left-img-1 img {
  width: 1%;
margin-right: 50%;
}
.flex-14-left-img-2 img{
  width: 2%;
  margin-top: 50px;
  left: 0;
  position: absolute;
  margin-left: 100px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .flex-14-right-img img ,.flex-14-left-img-1 img,.flex-14-left-img-2 img{
    display: none;
  }
}

 
 
.carousel-text{
  width: 100%;
  box-sizing: border-box;
  margin:50px 0px 0px 0px;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px){
  .carousel-text{
    overflow: hidden;
    margin: 0px 0px 0px 0px;
 
}
}

.carousel-text h2{
text-align: center;
object-fit: contain;
font-family: Poppins;
font-size: 25px;
font-weight: 500;
font-stretch: normal;
font-style: normal;
line-height: 1.75;
letter-spacing: normal;
color: #ed1c24;
}


@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 768px) 
and (max-device-width : 1024px) {
  .flex-20-img img,  .grp-1348 img{
    display: none;
  }
} 

.grp-1348{
  position: absolute;
  float: left;
  }
  
  .grp-1348 img{
  margin-left: -70px;
  width: 130px;
margin-top: 50px;
  }
  #img-4{
    width: 25px;
    float: right;
    right: 10%;
    margin-top: -100px;
    position: absolute;
  }
  #img-5{
    width: 15px;
    right: 8%;
    position: absolute;
    float: right;
    margin-top: 150px;
  }
  @media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 768px) 
  and (max-device-width : 1024px){
    #img-4,#img-5{
      display: none;
    }
  }

  @media only screen and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait){
      .flex-1-left-img img,.flex-1-left-img-1 img, 
      .flex-left-img img,.flex-1-left-img-2 img,.flex-1-left-img-3 img ,
      .flex-1-left-img-4 img,.flex-1-left-img-5 img ,  .flex-2-right-img img, .flex-2-left-img img, .flex-2-right,
      .flex-2-img-right img,  .flex-2-img-left img,.flex-3-right-img img , .flex-3-img-2 img,.flex-3-img-3 img,
      .flex-4-right-img img,.flex-4-bottom-right img, .flex-4-right-img-1 img,
      .flex-4-img-bottom img, .flex-5-img-left img, .flex-5-text p span img,.flex-5-img-left img,.flex-5-img-left img,
      .flex-6-top-img img ,   .flex-6-left-img-2 img , .felx-6-left-img img, .flex-6-right-img2 img
      ,.flex-6-top-img img,
      .flex-6-right-img2 img,
      .flex-7-img-1 img,.flex-10-left-img img,  .flex-10-img-right img , .flex-11-bottom-img img, .flex-11-bottom-img2 img,.flex-11-left-img-1 img,
      .flex-11-img-left-2 img,.flex-12-left-img-1 img,.flex-12-right-img-1 img,
      .flex-12-left-img-1 img,.flex-12-right-img-1 img,  
      .flex-13-left-img-2 img,.flex-14-right-img img ,.flex-14-left-img-1 img,.flex-14-left-img-2 img,
      .flex-20-img img,  .grp-1348 img,
      #img-4,#img-5,.flex-7-img-1 img, .flex-7-img-bottom-2 img,.flex-7-img-bottom-1 img,   .flex-7-img-right img ,
      .flex-7-img-1 img, .flex-img-2 img,.flex-8-left-img img,.flex-8-top-img img,.flex-8-img-bottom img{
        display: none;
      }
      .flex-3-img img{
        width:  90%;
        position: relative;
        margin-left: 0px;
        padding: 20px 0px 0px 0px;
    }
    .flex-3-left{
flex: 40%;
    }
    .flex-3-right{
      flex: 60%;
    }
    .flex-4-left{
      flex: 60%;
          }
          .flex-4-right{
            flex: 40%;
          }
          .flex-4-right .flex-4-img img{
            width:  90%;
            position: relative;
            margin-left: 0px;
            padding: 20px 0px 0px 0px;
        }
        .flex-4-text {
          padding: 50px 0px 0px 30px;
      }
      .flex-5-img img{
        width:  100%;
        position: relative;
        margin-left: 0px;
        padding: 50px 0px 0px 0px;
    }
    .flex-5-left{
flex: 40%;
    }
    .flex-5-right{
      flex: 60%;
    }
    .flex-5-text {
      padding: 90px 0px 0px 30px;
  }

  .flex-6-left{
    flex: 60%;
        }
        .flex-6-right{
          flex: 40%;
        }
        .flex-6-right .flex-6-img img{
          width:  120%;
          position: relative;
          margin-left: 0px;
          padding: 20px 0px 0px 0px;
      }
      .flex-6-text {
        padding: 50px 0px 0px 30px;
    }
        
    .flex-7-img img{
      width:  110%;
      position: relative;
      margin-left: -30px;
      padding: 0px 0px 0px 0px;
  }
  .flex-7-left{
flex: 40%;
  }
  .flex-7-right{
    flex: 60%;
  }
  .flex-7-text {
    padding: 90px 0px 0px 30px;
}


.flex-8-left{
  flex: 60%;
      }
      .flex-8-right{
        flex: 40%;
      }
      .flex-8-right .flex-8-img img{
        width:  100%;
        position: relative;
        margin-left: 0px;
        padding: 0px 0px 0px 0px;
    }
    .flex-8-text {
      padding: 80px 0px 0px 30px;
  }
  .flex-9-img img{
    width:  100%;
    position: relative;
    margin-left: -30px;
    padding: 0px 0px 0px 0px;
}
.flex-9-left{
flex: 40%;
}
.flex-9-right{
  flex: 60%;
}
.flex-9-text {
  padding: 90px 0px 0px 30px;
}

.flex-10-left{
  flex: 60%;
      }
      .flex-10-right{
        flex: 40%;
      }
      .flex-10-right .flex-10-img img{
        width:  100%;
        position: relative;
        margin-left: 0px;
        padding:30px 0px 0px 0px;
    }
    .flex-10-text {
      padding: 80px 0px 0px 30px;
  }
  .flex-11-img img{
    width:  100%;
    position: relative;
    margin-left: -30px;
    padding: 0px 0px 0px 0px;
}
.flex-11-left{
flex: 40%;
}
.flex-11-right{
  flex: 60%;
}
.flex-11-text {
  padding: 50px 0px 0px 30px;
}


.flex-12-left{
  flex: 60%;
      }
      .flex-12-right{
        flex: 40%;
      }
      .flex-12-right .flex-12-img img{
        width:  100%;
        position: relative;
        margin-left: 0px;
        padding:30px 0px 0px 0px;
    }
    .flex-12-text {
      padding: 80px 0px 0px 30px;
  }

  .flex-13-img img{
    width:  100%;
    position: relative;
    margin-left: -30px;
    padding: 0px 0px 0px 0px;
}
.flex-13-left{
flex: 40%;
}
.flex-13-right{
  flex: 60%;
}
.flex-13-text {
  padding: 50px 0px 0px 30px;
}
.felix-1 {
  padding: 50px 0px 50px 0px;
}
  }