<div class="container-fluid ios-section-view">
<div class="container-fluid" >

    <div class="row pop-up">
        <div class="col-md-4  col-sm-12 sec-3-text">
          <p>IOS INSTRUCTOR</p>  
        </div>
        <div class="col-md-2 col-sm-12 sec-3-text-2">
        <p>
            3+ Experience
        </p>
        </div>
        <div class="col-md-2 col-sm-12 sec-3-text-2">
            <p>
                2 Position(s)
            </p>
        </div>
        <div class="col-md-2 col-sm-12  sec-3-text-2">
            <p>
                Pune, Mumbai
            </p>
        </div>
        
        <div class="col-md-2 col-sm-12  sec-3-button">
            <div class="abt ">
                <button type="button" class="btn-view">Apply</button>
              </div>
        </div>

        <hr>
</div>
<div class="col-md-12 col-sm-12 pop-up-text">
    <p>
If you have professional experience as an iOS developer for five or more years, you can apply for the post of iOS trainer. You should have good 
knowledge of Objective-C and Cocoa touch to be eligible for this post. If you think you fulfill these requirements and possess classroom teaching skills, 
we invite you to join us on a full-time or contract basis.
    </p>

</div>
<div class="container-fluid pop-up-text2">
<div class="row">
    <div class="col-md-6 col-sm-6 pop-up-text" >
<h1>
    Skills and experience
</h1>
<p>
    Possess C and Objective-C programming skills
Experience of integrating iOS apps with RESTful web services
Knowledge of Grand Central Dispatch
Excellent knowledge of memory management with and without ARC
Experience in working with nib files and storyboards
Good knowledge of iOS/Foundation design patterns and best practices
</p>
    </div>
    <div class="col-md-6 col-sm-6 pop-up-text"  >
        <p id="text-2">
            Basic information on plist and JSON files, NSUserDefaults, and Core Data
            Knowledge of debugging, profiling and performance tuning
            Possess information on Core Animation and Core Graphics
            Hold information of unit test frameworks such as OCUnit
            Excellent classroom skills
            Good communication skills.
        </p>
            </div>
</div>

</div>
</div>

</div>


